@import 'variables.scss';

html,
body {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: normal;
  color: $color-gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42857143;
}

* {
  box-sizing: border-box;
  outline: none;
}

:after,
:before {
  box-sizing: border-box;
}

li,
li:active,
li:focus {
  outline: none;
}

#app {
  width: 100%;
  height: 100vh;
}
