@import './colors.scss';

// THEME CONFIG
$main-font: 'Inter', sans-serif;
$main-font-size: 16px;

$color-primary: $color-purple-600;
$color-secondary: $color-green-600;

$main-padding-width: 1em;
$main-padding-width-desktop: 2.5em;

// Sidebar
$sidebar-width: 12.5rem;
$sidebar-width-mobile: 17.5rem;
$sidebar-collapsed-width: 3rem;
$sidebar-color: transparent;
$sidebar-item-color: #454451;

//TabBar

$tabbar-height: 3rem;

// Transitions
$default-time-transition: 0.2s;
$default-transition: all ease-in-out $default-time-transition;

$shadow-medium: 0px 3px 8px rgba(9, 30, 66, 0.12), 0px 0px 2px rgba(9, 30, 66, 0.05);

// Device breakpointss

$zindex-tab-bar: 4000;
$zindex-notifications: 2000;

$zindex-modal: 1000;

$zindex-dropdown: 900;
$zindex-waiter: 800;

$zindex-header: 200;
$zindex-sidepanel: 100;
$zindex-map-search: 52;
$zindex-map-button: 51;
$zindex-map-navigation: 50;

// Device breakpoints
$breakpoint-mobile: 752px;
