<template>
  <ProfileModal
    :loader="PROCESSES.ACCOUNT.SAVING"
    :title="$t('common.change-pass')"
    @close="$emit('close')"
    @submit="submitPassword"
  >
    <BaseFormGroup :errors="v$.password.$errors" :label="$t('common.current-password')" required>
      <BaseFormPassword
        id="password"
        v-model="model.password"
        label="common.password"
        :has-errors="hasErrors(v$.password.$errors)"
        required
      >
      </BaseFormPassword>
    </BaseFormGroup>
    <BaseFormGroup :errors="v$.newPassword.$errors" :label="$t('common.new-password')" required>
      <BaseFormPassword
        id="new-password"
        v-model="model.newPass"
        label="common.password"
        :has-errors="hasErrors(v$.newPassword.$errors)"
        required
      >
      </BaseFormPassword>
    </BaseFormGroup>
    <BaseFormGroup :errors="v$.repeatPassword.$errors" :label="$t(`common.repeat-new-password`)" required>
      <BaseFormPassword
        id="repeat-password"
        v-model="model.repeatPass"
        label="common.password"
        :has-errors="hasErrors(v$.repeatPassword.$errors)"
        required
      >
      </BaseFormPassword>
    </BaseFormGroup>
  </ProfileModal>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useVuelidate, { ValidationArgs } from '@vuelidate/core';

import { useErrorHandler } from '@/composable/useErrorHandler';
import { ValidationError } from '@/errors';
import { required } from '@vuelidate/validators';

import { PROCESSES } from '@/constants';

import ProfileModal from '@/components/profile/ProfileModal.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormPassword from '@/components/BaseFormPassword.vue';

const { hasErrors } = useErrorHandler();

const submitPassword = async () => {
  await v$.value.$validate();

  if (v$.value.$invalid) {
    throw new ValidationError(['validation.form']);
  } else {
    alert('Good');
  }
};

const model = ref({
  password: '',
  newPass: '',
  repeatPass: '',
});

const equalPasswords = () => {
  if (model.value.repeatPass.length && !!model.value.newPass.length && model.value.repeatPass === model.value.newPass) {
    return true;
  }
  return false;
};

const rules: ValidationArgs = {
  password: { required },
  newPassword: {
    equalPasswords,
  },
  repeatPassword: {
    equalPasswords,
  },
};

const v$ = useVuelidate(rules, model);

defineEmits(['close']);
</script>

<style lang="scss" scoped></style>
