<template>
  <ProfileModal
    :loader="PROCESSES.ACCOUNT.SAVING"
    :title="$t('account.profile_edit')"
    @close="$emit('close')"
    @submit="save"
  >
    <BaseFormGroup :errors="v$.name.$errors" :label="$t('common.name_and_surname')" required>
      <BaseFormInput
        id="nameAndSurname"
        v-model="model.name"
        :placeholder="$t('common.name_and_surname')"
        :has-errors="hasErrors(v$.name.$errors)"
        required
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :errors="v$.email.$errors" :label="$t('common.email')" required>
      <BaseFormInput
        id="email"
        v-model.trim="model.email"
        type="email"
        :placeholder="$t('common.email')"
        :has-errors="hasErrors(v$.email.$errors)"
        required
      >
      </BaseFormInput>
    </BaseFormGroup>
  </ProfileModal>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import useVuelidate, { ValidationArgs } from '@vuelidate/core';
import { required, email } from '@vuelidate/validators';

import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import ProfileModal from '@/components/profile/ProfileModal.vue';

import { ValidationError } from '@/errors';
import { useUserStore } from '@/stores/userStore';
import { PROCESSES } from '@/constants';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { ToastType, useToast } from '@/composable/useToast';

const { hasErrors } = useErrorHandler();
const { toast } = useToast();
const { t } = useI18n();

const userStore = useUserStore();

const emit = defineEmits(['close']);

const save = async () => {
  v$.value.$touch();

  if (v$.value.$invalid) {
    throw new ValidationError(['validation.form']);
  }

  await userStore.updateProfile(model.value);
  toast({ message: t('account.profile_edited'), type: ToastType.SUCCESS });
  emit('close');
};

const model = ref({
  name: userStore.profile.name,
  email: userStore.profile.email,
});

const rules: ValidationArgs = {
  email: { required, email },
  name: { required },
};

const v$ = useVuelidate(rules, model);
</script>

<style lang="scss"></style>
