<template>
  <ArticleLayout>
    <template #header>
      <div class="profile">
        <div class="profile__avatar">{{ avatar }}</div>
        <span class="profile__fullname">{{ userStore.profile.name }}</span>
        <span class="profile__role">{{ userStore.profile.role }}</span>
      </div>
    </template>
    <BaseWaiter :loader="PROCESSES.REPORT.LOADING">
      <template #fallback>
        <ReportSkeletonListing />
      </template>
      <div class="reports">
        <BaseTabs>
          <BaseTab v-for="tab in tabs" :id="tab.id" :key="tab.id" :name="tab.name">
            <ReportPreviewItem
              v-for="report in tab.data"
              :key="report.id"
              :value="report"
              show-menu
              show-tags
              @click="openReport(report.id)"
            />
          </BaseTab>
        </BaseTabs>
      </div>
    </BaseWaiter>
  </ArticleLayout>
  <router-view></router-view>
</template>

<script setup lang="ts">
import { ref, computed, defineAsyncComponent, onMounted } from 'vue';
import ArticleLayout from '@/components/layouts/ArticleLayout.vue';
import BaseWaiter from '@/components/BaseWaiter.vue';
import BaseTabs from '@/components/BaseTabs.vue';
import BaseTab from '@/components/BaseTabsItem.vue';
import ReportSkeletonListing from '@/components/report/ReportSkeletonListing.vue';

import { PROCESSES } from '@/constants';
import { useReportStore } from '@/stores/reportStore';
import { ReportPreview, ReportStatus } from '@/types/Report';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { useUserStore } from '@/stores/userStore';

const ReportPreviewItem = defineAsyncComponent(() => import('@/components/report/ReportPreview.vue'));
const { t } = useI18n();
const store = useReportStore();
const userStore = useUserStore();
const router = useRouter();
const reportsMy = ref<ReportPreview[]>([]);
const reportsUnpublished = ref<ReportPreview[]>([]);
const reportsFavorite = ref<ReportPreview[]>([]);

const tabs = computed(() => [
  {
    id: 'my',
    name: t('profile.reports.my'),
    data: reportsMy.value,
  },
  {
    id: 'unpublished',
    name: t('profile.reports.unpublished'),
    data: reportsUnpublished.value,
  },
  {
    id: 'favorite',
    name: t('profile.reports.favorite'),
    data: reportsFavorite.value,
  },
]);

const avatar = computed(() =>
  userStore.profile.name
    .split(' ')
    .map((x: string) => x.charAt(0).toUpperCase())
    .join(''),
);

const openReport = (id: number) => {
  router.push({ name: 'profile-report', params: { id } });
};

onMounted(async () => {
  const result = await Promise.all([
    store.fetchAll({ showMyReports: true }),
    store.fetchAll({ status: ReportStatus.DRAFT }),
    store.fetchAll({ showFavorite: true }),
  ]);
  reportsMy.value = result[0].features.map(feature => feature.properties);
  reportsUnpublished.value = result[1].features.map(feature => feature.properties);
  reportsFavorite.value = result[2].features.map(feature => feature.properties);
});
</script>

<style lang="scss" scoped>
@use 'sass:math';
.profile {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0 1rem;

  @include font-body-14(600);

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-blue-500;
    color: $color-white;
    @include font-caption();
  }

  &__role {
    text-align: center;

    color: $color-white;
    background: $color-green-600;
    padding: 2px 6px;
    border-radius: 1.5rem;

    @include font-mobile(600);
  }
}

.reports {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: $color-white;

  @include respond($breakpoint-mobile) {
    width: math.div($breakpoint-mobile, 2);
  }
}
</style>
