<template>
  <auth-layout @close="$emit('close')">
    <form class="signin" @keyup.enter="signin">
      <BaseFormGroup :errors="v$.model.email.$errors" :label="$t('common.password')">
        <BaseFormInput
          id="email"
          v-model.trim="model.email"
          :label="t('common.email')"
          :placeholder="t('common.email')"
          type="email"
          required
          :has-errors="hasErrors(v$.model.email.$errors)"
        >
        </BaseFormInput>
      </BaseFormGroup>
      <BaseFormGroup :errors="v$.model.password.$errors" :label="$t('common.password')">
        <BaseFormPassword
          id="password"
          v-model.trim="model.password"
          label="common.password"
          :has-errors="hasErrors(v$.model.password.$errors)"
          required
        >
        </BaseFormPassword>
      </BaseFormGroup>
      <BaseLink :href="restorePasswordLink" class="signin__restore">{{ $t('account.restore_password') }}</BaseLink>
      <BaseButtonLoading :loader="PROCESSES.ACCOUNT.LOADING" class="signin__button" @click="signin">{{
        t('account.login')
      }}</BaseButtonLoading>
    </form>
    <template #footer>
      <span class="signin__restore" @click="signup">{{ $t('account.create') }}</span>
    </template>
  </auth-layout>
</template>

<script setup lang="ts">
import { ref, defineAsyncComponent } from 'vue';

import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import useVuelidate from '@vuelidate/core';
import { required, email } from '@vuelidate/validators';

import AuthLayout from '@/components/layouts/AuthLayout.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseLink from '@/components/BaseLink.vue';
import BaseFormPassword from '@/components/BaseFormPassword.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';

import { ValidationError } from '@/errors';
import { useUserStore } from '@/stores/userStore';
import { useModal } from '@/composable/useModal';
import { useErrorHandler } from '@/composable/useErrorHandler';
import BaseButtonLoading from '@/components/BaseButtonLoading.vue';

import { PROCESSES } from '@/constants';

const SignUp = defineAsyncComponent(() => import('@/views/account/SignUp.vue'));

const { t } = useI18n();
const userStore = useUserStore();
const router = useRouter();
const { hasErrors } = useErrorHandler();

const emit = defineEmits(['close']);

const model = ref({
  email: '',
  password: '',
  rememberMe: false,
});

const rules = {
  model: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
};

const v$ = useVuelidate(rules, { model });

const restorePasswordLink = router.resolve({ name: 'restore-password' }).href;

const signin = async () => {
  await v$.value.$validate();

  if (v$.value.model.$invalid) {
    throw new ValidationError(['validation.form']);
  }

  await userStore.login(model.value);
  emit('close');
  // FIXME: when ACL will be ready and routes app logic
  // this.$ability.update(defineAbilityFor(user).rules);
  // router.push({ name: 'root' });
};

const modal = useModal();
const signup = async () => {
  emit('close');
  modal.show({ component: SignUp });
};
</script>

<style lang="scss" scoped>
.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  @include font-body-14();

  @include respond($breakpoint-mobile) {
    justify-content: center;
  }

  &__button {
    margin-top: 1.5rem;
    width: 100%;
  }

  &__restore {
    margin-left: auto;
    color: $color-blue-600;
    cursor: pointer;
  }
}
</style>
