<template>
  <AuthLayout>
    <form class="signup">
      <BaseFormGroup :errors="v$.model.name.$errors" :label="$t('common.name_and_surname')">
        <BaseFormInput
          id="name"
          v-model="model.name"
          :placeholder="$t('common.name_and_surname')"
          :has-errors="hasErrors(v$.model.name.$errors)"
          required
        />
      </BaseFormGroup>
      <BaseFormGroup :errors="v$.model.email.$errors" :label="$t('common.email')">
        <BaseFormInput
          id="email"
          v-model.trim="model.email"
          :placeholder="t('common.email')"
          type="email"
          required
          :has-errors="hasErrors(v$.model.email.$errors)"
        />
      </BaseFormGroup>
      <BaseFormGroup :errors="v$.model.password.$errors" :label="$t('common.password')">
        <BaseFormPassword
          id="password"
          v-model.trim="model.password"
          :placeholder="$t('common.password')"
          :has-errors="hasErrors(v$.model.password.$errors)"
          required
        />
      </BaseFormGroup>
      <!-- <span class="signup__restore" @click="backToSignIn">{{ $t('account.login') }}</span> -->
    </form>
    <BaseButtonLoading :loader="PROCESSES.ACCOUNT.SAVING" class="signup__button" @click="save">
      {{ $t('account.create') }}
    </BaseButtonLoading>
    <template #footer>
      <div class="signup__footer">
        <span>{{ $t('account.policy_request') }}</span>
        <span class="signup__policy-href">{{ $t('account.policy_url') }}</span>
      </div>
    </template>
  </AuthLayout>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import { useI18n } from 'vue-i18n';
import useVuelidate from '@vuelidate/core';
import { required, email } from '@vuelidate/validators';

import AuthLayout from '@/components/layouts/AuthLayout.vue';
import BaseButtonLoading from '@/components/BaseButtonLoading.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseFormPassword from '@/components/BaseFormPassword.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';

import { PROCESSES } from '@/constants';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { useUserStore } from '@/stores/userStore';
import { ValidationError } from '@/errors';
import { AuthProfile } from '@/types/Account';
import { ToastType, useToast } from '@/composable/useToast';

// import { useModal } from '@/composable/useModal';

const emit = defineEmits(['close']);

const { t } = useI18n();
const userStore = useUserStore();
const { toast } = useToast();

const { hasErrors } = useErrorHandler();

const model = ref<AuthProfile>({
  name: '',
  email: '',
  password: '',
});

const rules = {
  model: {
    name: {
      required,
    },
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
};

const v$ = useVuelidate(rules, { model });

const save = async () => {
  await v$.value.$validate();

  if (v$.value.model.$invalid) {
    throw new ValidationError(['validation.form']);
  }

  await userStore.signup(model.value);
  toast({ message: t('account.account_created'), type: ToastType.SUCCESS });
  emit('close');
};

// FIXME: we can't use circullar imports in TS.
// as next solution - remodel modal functionality to pass just path/name of the component and import component inside modal composable.

// const modal = useModal();
// const SignIn = defineAsyncComponent(() => import('@/views/account/SignIn.vue'));
// const backToSignIn = () => {
//   emit('close');
//   modal.show({ component: SignIn });
// };
</script>

<style lang="scss" scoped>
.signup {
  z-index: $zindex-modal;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @include font-body-14();
  @include respond($breakpoint-mobile) {
    justify-content: center;
  }

  &__button {
    margin: 0.5rem 0 1.5rem 0;
    width: 100%;
  }

  &__password-icon {
    cursor: pointer;
  }
  &__footer {
    @include font-caption();
    color: $color-gray-400;
    text-align: center;
  }
  &__policy-href {
    color: $color-blue-600;
    cursor: pointer;
    @include font-caption();
  }
  &__restore {
    color: $color-blue-600;
    cursor: pointer;
  }
  .base-form-input {
    min-height: 2.25rem;
  }
}
</style>
