<template>
  <BaseDropdownPanel>
    <template #toggle="{ toggle }">
      <slot :toggle="toggle"></slot>
    </template>
    <BaseDropdownItem icon="ic_edit" @click="editProfile">
      <span> {{ $t('profile.edit') }}</span>
    </BaseDropdownItem>
    <BaseDropdownItem icon="ic_closed" @click="resetPass">
      <span> {{ $t('profile.changePass') }}</span>
    </BaseDropdownItem>
    <BaseDropdownItem icon="ic_document">
      <span> {{ $t('profile.policy') }}</span>
    </BaseDropdownItem>
    <BaseDropdownItem icon="ic_question">
      <span> {{ $t('profile.support') }}</span>
    </BaseDropdownItem>
    <BaseDropdownItem :divider="true" />
    <BaseDropdownItem icon="ic_logout" @click="logout">
      <span> {{ $t('profile.exit') }}</span>
    </BaseDropdownItem>
  </BaseDropdownPanel>
</template>

<script setup lang="ts">
import { defineAsyncComponent } from 'vue';
import BaseDropdownPanel from '@/components/BaseDropdownPanel.vue';
import BaseDropdownItem from '@/components/BaseDropdownItem.vue';

import { useUserStore } from '@/stores/userStore';
import { useModal } from '@/composable/useModal';

const EditProfile = defineAsyncComponent(() => import('@/views/account/EditProfile.vue'));
const ChangePassword = defineAsyncComponent(() => import('@/views/account/ChangePassword.vue'));

const modal = useModal();
const userStore = useUserStore();

const logout = () => {
  userStore.logout();
};
const resetPass = async () => {
  modal.show({ component: ChangePassword });
};
const editProfile = () => {
  modal.show({ component: EditProfile });
};
</script>

<style lang="scss"></style>
