<template>
  <BaseDropdown align-content="right" class="profile__dropdown">
    <template #toggle="{ toggle }"><BaseButton float icon="ic_profile" kind="tonal" @click="toggle" /></template>
    <template #default="{ close }">
      <div @click="close">
        <BaseDropdownItem icon="ic_clipboard_list" @click="viewUserReports">
          <span> {{ $t('profile.reports.my') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem icon="ic_outline_clock" @click="viewUserReports">
          <span> {{ $t('profile.reports.unpublished') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem icon="ic_outline_bookmark" @click="viewUserReports">
          <span> {{ $t('profile.reports.favorite') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem :divider="true" />
        <BaseDropdownItem icon="ic_edit" @click="editProfile">
          <span> {{ $t('profile.edit') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem icon="ic_closed" @click="resetPass">
          <span> {{ $t('profile.changePass') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem icon="ic_document">
          <span> {{ $t('profile.policy') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem icon="ic_question">
          <span> {{ $t('profile.support') }}</span>
        </BaseDropdownItem>
        <BaseDropdownItem :divider="true" />
        <BaseDropdownItem icon="ic_logout" @click="logout">
          <span> {{ $t('profile.exit') }}</span>
        </BaseDropdownItem>
      </div>
    </template>
  </BaseDropdown>
</template>

<script setup lang="ts">
import { defineAsyncComponent } from 'vue';
import router from '@/router';
import BaseDropdown from '@/components/BaseDropdown.vue';
import BaseButton from '../BaseButton.vue';
import BaseDropdownItem from '@/components/BaseDropdownItem.vue';

import { useUserStore } from '@/stores/userStore';
import { useModal } from '@/composable/useModal';

const EditProfile = defineAsyncComponent(() => import('@/views/account/EditProfile.vue'));
const ChangePassword = defineAsyncComponent(() => import('@/views/account/ChangePassword.vue'));

const modal = useModal();
const userStore = useUserStore();

const logout = () => {
  userStore.logout();
};
const resetPass = async () => {
  modal.show({ component: ChangePassword });
};
const editProfile = () => {
  modal.show({ component: EditProfile });
};
const viewUserReports = () => {
  router.push({ name: 'user-report' });
};
</script>

<style lang="scss" scoped></style>
