<template>
  <teleport :to="targetTeleport">
    <div class="modal">
      <div ref="modalRef" class="modal__inner">
        <div class="modal__header">
          <BaseIcon class="modal__icon-arrow" name="ic_arrow_back" @click="$emit('close')" />
          <span class="modal__title"> {{ title }} </span>
          <BaseIcon class="modal__icon-cross" name="ic_cross" @click="$emit('close')" />
        </div>
        <div class="modal__body">
          <slot></slot>
        </div>
        <div class="modal__footer">
          <BaseButton class="modal__btn" kind="outline" @click="$emit('close')">{{ $t('common.cancel') }} </BaseButton>
          <BaseButtonLoading :loader="loader" class="modal__btn" @click="$emit('submit')"
            >{{ $t('common.save') }}
          </BaseButtonLoading>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { onClickOutside } from '@vueuse/core';
import { targetTeleport } from '@/composable/useModal';
import BaseIcon from '@/components/BaseIcon.vue';
import BaseButtonLoading from '@/components/BaseButtonLoading.vue';
import BaseButton from '@/components/BaseButton.vue';

const emit = defineEmits(['close', 'submit']);
defineProps<{ title: string; loader: string }>();

const modalRef = ref();

onClickOutside(modalRef, () => {
  emit('close');
});
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $zindex-modal;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb($color-gray-900, 0.3);

  &__inner {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border-radius: 0;
    background: $color-white;
    overflow: hidden;

    @include respond($breakpoint-mobile) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 470px;
      min-width: 470px;
      height: min-content;

      background: $color-white;
      border-radius: 1.5rem;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 1rem;

    @include respond($breakpoint-mobile) {
      padding: 2.5rem;

      display: flex;
      justify-content: center;

      @include font-body-14(300);
    }
  }
  &__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;

    background-color: $color-gray-50;
    border-radius: 0;

    margin-top: auto;
    padding: 0 1rem;

    min-height: 3.5rem;
    width: 100%;

    @include respond($breakpoint-mobile) {
      min-height: 5rem;
      justify-content: end;

      padding: 0 1.5rem;
    }
  }
  &__btn {
    width: 100%;
    @include respond($breakpoint-mobile) {
      width: initial;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    min-height: 4rem;
    width: 100%;
    padding: 1rem 1rem;

    border-bottom: 1px solid $color-gray-200;
    color: $color-gray-400;

    @include respond($breakpoint-mobile) {
      min-height: 5.5rem;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }
  }

  &__title {
    @include font-subtitle-18(500);
    color: $color-gray-700;
  }

  &__icon-arrow {
    cursor: pointer;
    @include respond($breakpoint-mobile) {
      display: none;
    }
  }

  &__icon-cross {
    cursor: pointer;
    @include respond(0, $breakpoint-mobile) {
      display: none;
    }
  }
}
</style>
