@use '../variables.scss' as vars;

@mixin respond($breakpoint1, $breakpoint2: 0) {
  @if $breakpoint2 != 0 {
    @media only screen and (min-width: $breakpoint1) and (max-width: $breakpoint2) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $breakpoint1) {
      @content;
    }
  }
}

// @media (min-width: 1200px) { ... }
// @include media-breakpoint-up(sm) { ... }

// @media (max-width: 1199.98px) { ... }
// @include media-breakpoint-down(xs) { ... }

// @include media-breakpoint-only(xs) { ... }
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// @include media-breakpoint-between(md, xl) { ... }
// @media (min-width: 768px) and (max-width: 1199.98px) { ... }
