@use '../variables.scss' as vars;

@mixin font-mobile($wheight: 400) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 10px;
  line-height: 12px;
}

@mixin font-caption($wheight: 400) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-body-14($wheight: 400) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 14px;
  line-height: 20px;
}

@mixin font-body-16($wheight: 400) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-subtitle-18($wheight: 400) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 18px;
  line-height: 28px;
}

@mixin font-subtitle-20($wheight: 500) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 20px;
  line-height: 30px;
}

@mixin font-title-24($wheight: 500) {
  font-style: normal;
  font-weight: $wheight;
  font-size: 24px;
  line-height: 32px;
}

@mixin font-title-32() {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

@mixin font-title-42() {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
}
