@use "sass:math";

$widthLoading: 600px;

@mixin loading($width: 600px) {
  $widthLoading: $width;

  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
  background: $color-gray-200;
  background: linear-gradient(to right, $color-gray-50 0%, $color-gray-200 50%, $color-gray-50 100%);
  background-size: $width;

  position: relative;
}

@keyframes loading {
  0% {
    background-position: -(math.div($widthLoading, 2)) 0;
  }
  100% {
    background-position: math.div($widthLoading, 2) 0;
  }
}
