<template>
  <div class="map-layout">
    <div id="map" ref="mapContainer" class="map-layout__map"></div>
    <div class="map-layout__search">
      <BaseFormSearch v-if="isRootPage" @click="search" />
    </div>
    <div class="map-layout__actions">
      <template v-if="!userStore.isAuthenticated">
        <BaseButton float icon="ic_signin" kind="tonal" @click="showSignIn"> {{ $t('account.login') }}</BaseButton>
      </template>
      <template v-else>
        <BaseButton float icon="ic_create" kind="tonal" @click="reportCreate">{{ $t('reports.create') }}</BaseButton>
        <ProfileDropdown></ProfileDropdown>
      </template>
    </div>
    <div class="map-layout__navigation">
      <BaseButton float icon="ic_plus" kind="tonal" @click="zoomIn"></BaseButton>
      <BaseButton float icon="ic_minus" kind="tonal" @click="zoomOut"></BaseButton>
      <BaseButton float icon="ic_navigation" kind="tonal" @click="flyTo"></BaseButton>
      <BaseButton float icon="ic_mountains" kind="tonal" @click="toggleRegions"></BaseButton>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref, defineAsyncComponent, watch, onBeforeUnmount } from 'vue';
import { useRouter, useRoute } from 'vue-router';

import mapboxgl, { Map as MapboxMap } from 'mapbox-gl';
import 'mapbox-gl/dist/mapbox-gl.css';

import BaseButton from '@/components/BaseButton.vue';
import ProfileDropdown from '@/components/profile/ProfileDropdown.vue';
import BaseFormSearch from '@/components/BaseFormSearch.vue';

import { useModal } from '@/composable/useModal';
import useMapReportPoints from '@/composable/useMapReportPoints';
import useMapReportClusters from '@/composable/useMapReportClusters';
import useMapReportCreate from '@/composable/useMapReportCreate';
import useMapRegions from '@/composable/useMapRegions';
import useMapUserLocation from '@/composable/useMapUserLocation';
import { mapboxToken } from '@/config';

import { useUserStore } from '@/stores/userStore';
import { useReportStore } from '@/stores/reportStore';

import { MAP } from '@/constants';

const router = useRouter();
const route = useRoute();
const modal = useModal();

const SignIn = defineAsyncComponent(() => import('@/views/account/SignIn.vue'));
const userStore = useUserStore();
const reportStore = useReportStore();

mapboxgl.accessToken = mapboxToken;

const mapContainer = ref();
const map = ref<MapboxMap>();
const { toggleRegions, addRegionsOnMap } = useMapRegions(map);

const resizeObserver = new ResizeObserver(() => {
  if (map.value === undefined) return;
  map.value.resize();
});

onBeforeUnmount(() => {
  resizeObserver.unobserve(mapContainer.value);
});

onMounted(async () => {
  resizeObserver.observe(mapContainer.value);

  map.value = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v11',
    center: [userStore.currentGeoCoords.longitude, userStore.currentGeoCoords.latitude],
    zoom: MAP.ZOOM,
  });

  await map.value.once('load');

  const { drawReportPoints } = useMapReportPoints(map.value);
  const { drawReportClusters } = useMapReportClusters(map.value);
  const { addUserLocationIconOnMap } = useMapUserLocation(map.value);

  useMapReportCreate(map.value);

  addRegionsOnMap();
  addUserLocationIconOnMap();

  map.value.addSource(MAP.SOURCE.REPORTS, {
    type: 'geojson',
    data: reportStore.reports,
    cluster: true,
    clusterRadius: MAP.CLUSTER.RADIUS,
    clusterMaxZoom: MAP.CLUSTER.ZOOM,
    clusterProperties: {
      quickReport: ['any', ['get', 'quickReport']],
      avalancheReport: ['any', ['get', 'avalancheReport']],
      snowpackReport: ['any', ['get', 'snowpackReport']],
      weatherReport: ['any', ['get', 'weatherReport']],
      incidentReport: ['any', ['get', 'incidentReport']],
    },
  });

  // TODO: can we remove layer and continue calculate clusters???
  // TODO: Clusters don't work without that layer
  map.value.addLayer({
    id: MAP.LAYER.REPORTS,
    type: 'circle',
    source: MAP.SOURCE.REPORTS,
    filter: ['!=', 'cluster', true],
    paint: {
      'circle-radius': 0,
    },
  });

  map.value.on('render', () => {
    if (!map.value?.isSourceLoaded(MAP.SOURCE.REPORTS)) return;
    const featuresDisplayed = map.value.querySourceFeatures(MAP.SOURCE.REPORTS);
    drawReportClusters(featuresDisplayed);
    drawReportPoints(featuresDisplayed);
  });
});

const isRootPage = computed(() => route.name === 'root');

const flyTo = async () => {
  map.value?.flyTo({
    center: [userStore.currentGeoCoords.longitude, userStore.currentGeoCoords.latitude],
    zoom: MAP.ZOOM,
  });
};

const zoomIn = async () => {
  map.value?.zoomIn();
};

const zoomOut = async () => {
  map.value?.zoomOut();
};

const showSignIn = () => {
  modal.show({ component: SignIn });
};

const reportCreate = () => {
  router.push({ name: 'report-create' });
};

const search = () => {
  router.push({ name: 'search', params: { term: '' } });
};

watch(
  () => reportStore.reports,
  value => {
    if (map.value !== undefined && map.value?.getSource(MAP.SOURCE.REPORTS)) {
      // FIXME: test that we update clusters after that
      (map.value.getSource(MAP.SOURCE.REPORTS) as mapboxgl.GeoJSONSource).setData(value);
    }
  },
  { deep: true },
);
</script>

<style lang="scss">
.map-layout {
  position: relative;
  width: 100%;
  height: 100%;

  &__map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &__actions {
    display: none;

    @include respond($breakpoint-mobile) {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: $zindex-map-button;

      width: max-content;

      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }

  &__navigation {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    z-index: $zindex-map-navigation;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    transform: translate(0%, -50%);
  }

  &__search {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    z-index: $zindex-map-search;
    width: auto;

    @include respond($breakpoint-mobile) {
      width: 376px;
      right: none;
    }
  }
}

.create-report-popup {
  .mapboxgl {
    &-popup-tip {
      display: none;
    }
    &-popup-content {
      background: transparent;
      border: none;
      padding: 0;
      box-shadow: none;
    }
  }
}

.view-report-popup {
  // !!! This usage of a media query and !important is intentional to override Mapbox styles !!!
  @include respond(0, $breakpoint-mobile) {
    &.mapboxgl-popup {
      position: absolute;
      bottom: 0;
      top: auto;
      height: max-content;
      width: 100%;
      z-index: $zindex-modal;
      transform: none !important;
    }
  }

  .mapboxgl {
    &-popup-tip {
      display: none;
    }
    &-popup-content {
      padding: 0;
      border-radius: 1rem;
    }
  }
}
</style>
