<template>
  <BaseModal @close="$emit('close')">
    <template #header>
      <span class="modal__header"> Base Modal header </span>
    </template>
    <div class="">Base Modal body</div>
    <template #footer>
      <BaseButton kind="outline" @click="$emit('close')">Modal btn </BaseButton>
      <BaseButton>Modal btn </BaseButton>
    </template>
  </BaseModal>
</template>

<script setup lang="ts">
import BaseModal from '@/components/BaseModal.vue';
import BaseButton from '@/components/BaseButton.vue';

defineEmits(['close']);
</script>

<style lang="scss"></style>
