<template>
  <div class="buttons">
    <div class="base-buttons">
      <div class="base-buttons__solid">
        <BaseButton>Solid button</BaseButton>
        <BaseButton theme="gray">Solid button</BaseButton>
        <BaseButton theme="gray" disabled>Disabled button</BaseButton>
      </div>
      <div class="base-buttons__outline">
        <BaseButton kind="outline">Outline button</BaseButton>
        <BaseButton kind="outline" theme="gray">Outline button</BaseButton>
        <BaseButton kind="outline" disabled>Disabled button</BaseButton>
      </div>
      <div class="base-buttons__tonal">
        <BaseButton kind="tonal">Tonal button</BaseButton>
        <BaseButton kind="tonal" theme="gray">Tonal button</BaseButton>
        <BaseButton kind="tonal" disabled>Disabled button</BaseButton>
      </div>
      <div class="base-buttons__text">
        <BaseButton kind="text"> Text button</BaseButton>
        <BaseButton kind="text" theme="gray"> Text button</BaseButton>
        <BaseButton kind="text" disabled>Disabled button</BaseButton>
      </div>
    </div>
    <div class="base-button-float">
      <BaseButton float icon="ic_map"> Float blue button</BaseButton>
      <BaseButton float icon="ic_map" kind="tonal"> Float light button</BaseButton>
      <BaseButton float icon="ic_map" disabled>Disabled button</BaseButton>
    </div>
    <div class="base-button-icon">
      <BaseButtonIcon icon="ic_plus" kind="solid"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="outline"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="tonal"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="text"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" disabled></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="solid" theme="gray"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="outline" theme="gray"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="tonal" theme="gray"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" kind="text" theme="gray"></BaseButtonIcon>
      <BaseButtonIcon icon="ic_plus" disabled theme="gray"></BaseButtonIcon>
    </div>
    <div class="base-button-icon">
      <BaseButtonCollapse kind="right"></BaseButtonCollapse>
      <BaseButtonCollapse kind="left"></BaseButtonCollapse>
    </div>
  </div>
</template>
<script setup lang="ts">
import BaseButton from '@/components/BaseButton.vue';
import BaseButtonIcon from '@/components/BaseButtonIcon.vue';
import BaseButtonCollapse from '../BaseButtonCollapse.vue';
</script>
<style lang="scss">
.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.base-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__outline,
  &__text,
  &__solid,
  &__tonal {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.base-button-icon,
.base-button-float {
  display: flex;
  align-items: center;
  gap: 1rem;
}
</style>
