<template>
  <article class="article-layout">
    <header class="article-layout__header">
      <slot name="header"></slot>
      <template v-if="!$slots.header">
        <div class="article-layout__heading">
          <slot name="heading"></slot>
          <h2 :class="['article-layout__title']">
            {{ title }}
          </h2>
        </div>

        <div v-if="$slots.actions" class="article-layout__actions">
          <slot name="actions"></slot>
        </div>

        <div v-if="$slots.tabs" class="article-layout__tabs">
          <slot name="tabs"></slot>
        </div>
      </template>
    </header>
    <div class="article-layout__main">
      <div v-if="$slots.aside" class="article-layout__aside">
        <slot name="aside"></slot>
      </div>
      <div class="article-layout__body">
        <slot></slot>
      </div>
    </div>
    <footer v-if="$slots.footer" class="article-layout__footer">
      <slot name="footer"></slot>
    </footer>
  </article>
</template>

<script setup lang="ts">
withDefaults(defineProps<{ title?: string }>(), { title: '' });
</script>

<style lang="scss" scoped>
@use 'sass:math';
.article-layout {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 100%;
  height: 100%;

  background: $color-white;
  box-shadow: 0px 0px 0px 1px $color-gray-200;

  @include respond($breakpoint-mobile) {
    position: relative;
    min-width: math.div($breakpoint-mobile, 2);
    width: auto;
  }

  &__header {
    position: sticky;
    top: 0;
    height: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;

    border-bottom: 1px solid $color-gray-200;
    background: $color-white;
  }

  &__heading {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 0.75rem;
  }

  &__title {
    margin: 0;

    @include font-body-16(600);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.75rem;
  }

  &__tabs {
    width: 100%;
    overflow-x: scroll;
    padding: 1rem;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0 !important;
      background: transparent;
      display: none;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    gap: 1rem;
    width: 100%;
    min-height: 0;
    background: $color-gray-100;
  }

  &__body {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 0;

    background: $color-white;
  }

  &__aside {
    display: none;
    background: $color-gray-100;
    margin-top: 1.5rem;

    @include respond($breakpoint-mobile) {
      display: flex;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    height: 4rem;

    padding: 0.5rem;
    background: $color-gray-50;

    margin-bottom: 3.5rem;

    @include respond($breakpoint-mobile) {
      margin-bottom: 0;
    }

    @include respond($breakpoint-mobile) {
      background: $color-white;
    }
  }
}
</style>
