<template>
  <teleport :to="targetTeleport">
    <div class="auth-layout">
      <div ref="layout" class="auth-layout__inner">
        <div class="auth-layout__side">
          <div class="auth-layout__side-header">
            <div class="auth-layout__back" @click="$emit('close')">
              <BaseIcon name="ic_outline_arrow_left" />
            </div>
            <Logo class="auth-layout__logo" />
          </div>
          <h1 class="auth-layout__title">{{ $t('copyright.rac') }}</h1>
        </div>
        <div class="auth-layout__body">
          <div class="auth-layout__body-header">
            <slot name="header"></slot>
            <BaseIcon name="ic_close" class="auth-layout__close" @click="$emit('close')" />
          </div>
          <slot></slot>
          <div class="auth-layout__body-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { onClickOutside } from '@vueuse/core';
import { targetTeleport } from '@/composable/useModal';

import Logo from '@/components/Logo.vue';
import BaseIcon from '../BaseIcon.vue';

const emit = defineEmits(['close']);

const layout = ref();
onClickOutside(layout, () => emit('close'));
</script>

<style lang="scss" scoped>
@use 'sass:math';
.auth-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-gray-900, 0.3);
  z-index: $zindex-modal;

  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    // FIXME: need pic with min width 800px
    background: url('@/assets/images/image.webp') no-repeat;
    background-size: auto 100%;

    border-radius: 0;

    @include respond($breakpoint-mobile) {
      flex-direction: row;
      border-radius: 1.5rem;
      height: 530px;
      width: $breakpoint-mobile;
    }
  }

  &__side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 100%;

    padding: 1rem;

    @include respond($breakpoint-mobile) {
      padding: 2.5rem;
      align-items: flex-start;
    }
  }

  &__side-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;

    width: 100%;
  }

  &__logo {
    grid-column-start: 2;

    @include respond($breakpoint-mobile) {
      grid-column-start: 1;
    }
  }

  &__back {
    display: block;
    color: $color-gray-50;

    cursor: pointer;

    @include respond($breakpoint-mobile) {
      display: none;
    }
  }

  &__title {
    max-width: 250px;
    margin: 0;
    text-align: center;
    color: $color-white;

    @include font-title-32();

    @include respond($breakpoint-mobile) {
      text-align: left;
      max-width: 300px;
    }
  }

  &__body {
    flex: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;

    background: $color-white;

    padding: 1rem;
    border-radius: 1.5rem 1.5rem 0 0;

    @include font-body-14();

    @include respond($breakpoint-mobile) {
      flex: 1;
      padding: 2rem;

      border-radius: 1.5rem;
    }
  }

  &__body-header {
    display: flex;
    width: 100%;
  }

  &__close {
    display: none;
    margin-left: auto;
    color: $color-gray-400;

    cursor: pointer;

    @include respond($breakpoint-mobile) {
      display: block;
    }
  }
}
</style>
