<template>
  <vue-final-modal v-bind="attrs" classes="modal-container" content-class="modal-container__inner">
    <article class="dialog">
      <header class="dialog__header">
        <h1 class="dialog__title">{{ title }}</h1>
      </header>
      <div class="dialog__body">
        <slot></slot>
      </div>
      <div class="dialog__footer">
        <slot name="footer"></slot>
      </div>
    </article>
  </vue-final-modal>
</template>

<script setup>
import { useAttrs } from 'vue';

let attrs = useAttrs();
attrs = {
  ...attrs,
  escToClose: true,
};

defineProps({
  title: {
    type: String,
    default: '',
  },
});
</script>

<style lang="scss" scoped>
:deep(.modal-container) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:deep(.modal-container__inner) {
  width: 408px;
}
</style>

<style lang="scss" scoped>
.dialog {
  font-size: 0.875rem;
  background: white;
  border-radius: 0.5rem;

  &__title {
    margin: 0;
    @include font-body-14(600);
    color: $color-gray-600;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    padding-bottom: 0.325rem;

    color: $color-gray-600;
  }

  &__body {
    padding: 1.5rem;
    padding-top: 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 1rem;
    gap: 0.5rem;

    border-radius: 0.5rem;

    background: $color-gray-50;
  }
}
</style>
