<template>
  <div class="notfound">
    <img :src="logoUrl" alt="" class="notfound__logo logo" />
    <span> {{ t('common.notfound') }}</span>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import logoUrl from '@/assets/images/logo.png';

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.notfound {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  font-size: 3rem;
  color: $color-gray-700;

  &__logo {
    margin-bottom: 2rem;
  }
}
</style>
