<template>
  <article class="styleguide">
    <section class="section">
      <header class="section__header">Buttons</header>
      <StyleGuideButtons />
    </section>
    <section class="section">
      <header class="section__header">Checkboxes</header>
      <div class="checkbox">
        <BaseFormGroup label="Base checkbox">
          <template #description>Base checkbox description</template>
          <BaseFormCheckbox v-model="checkboxBase">Base checkbox</BaseFormCheckbox>
        </BaseFormGroup>
        <BaseFormGroup label="Base checkbox indeterminate">
          <template #description>Base checkbox indeterminate description</template>
          <BaseFormCheckbox v-model="checkboxBase" :indeterminate="true">Base checkbox indeterminate</BaseFormCheckbox>
        </BaseFormGroup>
        <BaseFormGroup label="Checkbox group">
          <BaseFormCheckboxButton v-model="checkboxGroup" value="1">Group Checkboxes 1</BaseFormCheckboxButton>
          <BaseFormCheckboxButton v-model="checkboxGroup" value="2">Group Checkboxes 2</BaseFormCheckboxButton>
          <BaseFormCheckboxButton v-model="checkboxGroup" value="3">Group Checkboxes 3</BaseFormCheckboxButton>
        </BaseFormGroup>
      </div>
      <div class="checkbox">
        <BaseFormGroup label="Checkbox boolean">
          <template #description>Checkbox boolean description</template>
          <BaseFormCheckboxButton v-model="checkboxBoolean">Boolean</BaseFormCheckboxButton>
        </BaseFormGroup>
        <BaseFormGroup label="Checkbox with error" :errors="errors">
          <template #description>Checkbox with error description</template>
          <BaseFormCheckboxButton v-model="checkboxBoolean">Boolean</BaseFormCheckboxButton>
        </BaseFormGroup>
      </div>
      <BaseFormGroup label="Radio button group">
        <template #description>Radio button group description</template>
        <BaseFormRadioButton
          v-for="option in radioOptions"
          :key="option.label"
          v-model="radioModel"
          :value="option.key"
          :label="option.label"
          >{{ option.label }}
        </BaseFormRadioButton>
      </BaseFormGroup>
    </section>
    <section class="section">
      <header class="section__header">Inputs</header>
      <BaseFormGroup label="Base input prefix">
        <template #description>Base input description</template>
        <BaseFormInput v-model="inputModel" placeholder="Search...">
          <template #prefix><BaseIcon name="ic_search" class="input__icon" @click="log('icon')"></BaseIcon></template>
          Base checkbox</BaseFormInput
        >
      </BaseFormGroup>
      <BaseFormGroup label="Base input postfix">
        <template #description>Base input description</template>
        <BaseFormInput v-model="inputModel" placeholder="Search...">
          <template #postfix><BaseIcon name="ic_eye" class="input__icon" @click="log('icon')"></BaseIcon></template>
        </BaseFormInput>
      </BaseFormGroup>
      <BaseFormGroup label="Base input disabled">
        <template #description>Base input description</template>
        <BaseFormInput v-model="inputModel" placeholder="Search..." :disabled="true">
          <template #postfix><BaseIcon name="ic_eye" class="input__icon" @click="log('icon')"></BaseIcon></template>
        </BaseFormInput>
      </BaseFormGroup>
      <BaseFormGroup label="Input with error" :errors="errors">
        <template #description>Base input description</template>
        <BaseFormInput v-model="inputModel" :has-errors="Boolean(errors.length)">
          <template #prefix><BaseIcon name="ic_search" class="input__icon" @click="log('icon')"></BaseIcon></template>
          <template #postfix><BaseIcon name="ic_close" class="input__icon" @click="log('icon')"></BaseIcon></template>
        </BaseFormInput>
      </BaseFormGroup>
      <BaseFormGroup label="Textarea with error">
        <template #description>Base input description</template>
        <BaseFormTextarea v-model="inputModel" />
      </BaseFormGroup>
      <BaseFormGroup label="Textarea with error">
        <template #description>Base input description</template>
        <BaseFormTextarea v-model="inputModel" :disabled="true" />
      </BaseFormGroup>
      <BaseFormGroup label="Textarea with error" :errors="errors">
        <template #description>Base input description</template>
        <BaseFormTextarea v-model="inputModel" :has-errors="Boolean(errors.length)" />
      </BaseFormGroup>
    </section>
    <section id="testid" class="section">
      <header class="section__header">Modals</header>
      <div class="modal">
        <BaseButton @click="showModal">Modal open </BaseButton>
      </div>
    </section>
  </article>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';
import BaseFormCheckboxButton from '@/components/BaseFormCheckboxButton.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormCheckbox from '@/components/BaseFormCheckbox.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseIcon from '@/components/BaseIcon.vue';
import BaseFormTextarea from '@/components/BaseFormTextarea.vue';
import BaseButton from '@/components/BaseButton.vue';

import StyleGuideButtons from '@/components/styleguide/StyleGuideButtons.vue';
import StyleGuideModal from '@/components/styleguide/StyleGuideModal.vue';
import { useModal } from '@/composable/useModal';

const checkboxGroup = ref();
const checkboxBoolean = ref();
const checkboxBase = ref(false);
const modal = useModal();

const radioModel = ref(null);
const radioOptions = [
  {
    key: 'one',
    label: 'Radio Button One',
  },
  { key: 'two', label: 'Radio Button Two' },
  { key: 'three', label: 'Radio Button Three' },
];

const errors = [
  { $uid: 'Error #1', $validator: 'required' },
  { $uid: 'Error #2', $validator: 'email' },
];

const inputModel = ref('');

const log = (msg: string) => {
  console.log(msg);
};

const showModal = () => {
  modal.show({ component: StyleGuideModal });
};
</script>
<style lang="scss">
.styleguide {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  grid-gap: 20px;
  margin-top: 60px;
}
.modal {
  &__header {
    padding: 1rem;
  }
}
</style>
