<template>
  <ArticleLayout>
    <template #heading>
      <BaseButtonIcon
        kind="text"
        theme="gray"
        icon="ic_outline_arrow_left"
        class="report-view__btn-back"
        @click="close"
      />
    </template>
    <template #actions>
      <BaseButtonIcon kind="text" theme="gray" icon="ic_favourite" />
      <BaseButtonIcon kind="text" theme="gray" icon="ic_pencil_alt" @click="edit" />
      <BaseButtonIcon kind="text" theme="gray" icon="ic_share" @click="copyToClipboard" />
      <BaseButtonIcon kind="text" theme="gray" icon="ic_close" class="report-view__btn-close" @click="close" />
    </template>
    <BaseWaiter :loader="PROCESSES.REPORT.LOADING_ONE">
      <template #fallback>
        <ReportSkeletonView />
      </template>
      <div class="report">
        <ReportBaseInfo :value="reportBaseInfo" />
        <BaseTabs>
          <BaseTab :id="ReportTypesEnum.quickReport" :name="translateTabs(ReportTypesEnum.quickReport)">
            <ReportData :type="ReportTypesEnum.quickReport" :details="report.quickReport" />
          </BaseTab>
          <BaseTab :id="ReportTypesEnum.avalancheReport" :name="translateTabs(ReportTypesEnum.avalancheReport)">
            <ReportData :type="ReportTypesEnum.avalancheReport" :details="report.avalancheReport" />
          </BaseTab>
          <BaseTab :id="ReportTypesEnum.snowpackReport" :name="translateTabs(ReportTypesEnum.snowpackReport)">
            <ReportData :type="ReportTypesEnum.snowpackReport" :details="report.snowpackReport" />
          </BaseTab>
          <BaseTab :id="ReportTypesEnum.weatherReport" :name="translateTabs(ReportTypesEnum.weatherReport)">
            <ReportData :type="ReportTypesEnum.weatherReport" :details="report.weatherReport" />
          </BaseTab>
          <BaseTab :id="ReportTypesEnum.incidentReport" :name="translateTabs(ReportTypesEnum.incidentReport)">
            <ReportData :type="ReportTypesEnum.incidentReport" :details="report.incidentReport" />
          </BaseTab>
          <BaseTab id="attachmentReport" :name="translateTabs('attachmentReport')">
            <div class="report__images">
              <img
                v-for="img in report.images"
                :key="img.url"
                :src="img.url"
                class="report__image"
                @click="showFullImage(img)"
              />
            </div>
          </BaseTab>
        </BaseTabs>
      </div>
    </BaseWaiter>
  </ArticleLayout>
</template>

<script lang="ts" setup>
import { useRouter } from 'vue-router';
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { ToastType, useToast } from '@/composable/useToast';

import ArticleLayout from '@/components/layouts/ArticleLayout.vue';
import BaseButtonIcon from '@/components/BaseButtonIcon.vue';
import ReportBaseInfo from '@/components/report/ReportBaseInfo.vue';
import ReportData from '@/components/report/ReportData.vue';
import BaseTabs from '@/components/BaseTabs.vue';
import BaseTab from '@/components/BaseTabsItem.vue';
import BaseWaiter from '@/components/BaseWaiter.vue';
import ReportSkeletonView from '@/components/report/ReportSkeletonView.vue';
import ReportImageModal from '@/components/report/ReportImageModal.vue';

import { useRouterStore } from '@/stores/routerStore';
import { useReportStore } from '@/stores/reportStore';

import { PROCESSES } from '@/constants';
import { Report, ReportStatus, ReportTypesEnum } from '@/types/Report';
import { Attachment } from '@/types/Attachment';
import { useModal } from '@/composable/useModal';

const { t } = useI18n();
const router = useRouter();
const routerStore = useRouterStore();
const reportStore = useReportStore();
const { toast } = useToast();
const modal = useModal();

defineEmits(['close']);

const props = defineProps<{ id: number }>();

const translateTabs = (e: string) => t(`reports.type.${e}`);

const report = ref<Report>({
  id: undefined,
  name: '',
  dateAndTime: '',
  latitude: 0,
  longitude: 0,
  comments: '',
  images: [],
  account: undefined,
  status: ReportStatus.DRAFT,

  quickReport: undefined,
  avalancheReport: undefined,
  snowpackReport: undefined,
  weatherReport: undefined,
  incidentReport: undefined,
});
const reportBaseInfo = computed(() => {
  const { name, dateAndTime, latitude, longitude, comments, account } = report.value;
  return { name, dateAndTime, latitude, longitude, comments, account };
});

const loadReport = async (id: number) => {
  if (!id) return;

  report.value = await reportStore.fetchOne(id);
};

watch(
  () => props.id,
  id => {
    if (id) {
      loadReport(id);
    }
  },
  { immediate: true },
);

const close = () => {
  router.push(routerStore.parentRoute ?? routerStore.previousRoute);
};

const edit = () => {
  router.push({ name: 'report-edit', params: { id: props.id } });
};

const copyToClipboard = () => {
  toast({ message: t('common.url_copied_to_clipboard'), type: ToastType.SUCCESS });
  navigator.clipboard.writeText(window.location.href);
};

const showFullImage = (img: Attachment) => {
  modal.show({
    component: ReportImageModal,
    bind: {
      url: img.url,
      name: img.originalName,
    },
  });
};
</script>

<style lang="scss" scoped>
@use 'sass:math';

.report-view {
  &__btn-close {
    display: none;
    @include respond($breakpoint-mobile) {
      display: flex;
    }
  }

  &__btn-back {
    display: flex;
    @include respond($breakpoint-mobile) {
      display: none;
    }
  }
}

.report {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: $color-white;

  @include respond($breakpoint-mobile) {
    width: math.div($breakpoint-mobile, 2);
  }

  &__images {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__image {
    flex: 1;
    min-width: 1rem;
    cursor: pointer;
  }
}
</style>
