<template>
  <ArticleLayout>
    <template #header><BaseFormSearch v-model="searchModel" autofocus class="reports-search" /></template>
    <ReportFilters />
    <BaseWaiter v-if="searchModel" :loader="PROCESSES.REPORT.LOADING">
      <template #fallback>
        <ReportSkeletonListing />
      </template>
      <div class="reports">
        <ReportPreviewItem
          v-for="report in reports"
          :key="report.id"
          :value="report"
          show-menu
          show-tags
          class="reports__item"
          @click="openReport(report.id)"
        />
      </div>
    </BaseWaiter>
    <div v-else class="regions">
      <div
        v-for="region in regionStore.regionsProps"
        :key="region.id"
        class="regions__item"
        @click="showRegionOnMap(region)"
      >
        <BaseIcon class="regions__icon" name="ic_mountains" />
        <span>{{ region.title }}</span>
      </div>
    </div>
  </ArticleLayout>
  <router-view />
</template>

<script setup lang="ts">
// TODO: apply reusable with virtual scroll
import { ref, onMounted, defineAsyncComponent } from 'vue';
import { debouncedWatch } from '@vueuse/core';
import { useRouter, useRoute } from 'vue-router';
import { useReportStore } from '@/stores/reportStore';

import ArticleLayout from '@/components/layouts/ArticleLayout.vue';
import BaseFormSearch from '@/components/BaseFormSearch.vue';
import ReportFilters from '@/components/report/ReportFilters.vue';
import { ReportPreview } from '@/types/Report';
import BaseWaiter from '@/components/BaseWaiter.vue';
import BaseIcon from '@/components/BaseIcon.vue';
import ReportSkeletonListing from '@/components/report/ReportSkeletonListing.vue';
import { PROCESSES } from '@/constants';
import { useRegionStore } from '@/stores/regionStore';
import { Region } from '@/types/Region';

const ReportPreviewItem = defineAsyncComponent(() => import('@/components/report/ReportPreview.vue'));

const router = useRouter();
const route = useRoute();
const store = useReportStore();
const regionStore = useRegionStore();

const searchModel = ref<string>('');
const reports = ref<ReportPreview[]>([]);

withDefaults(defineProps<{ term?: string }>(), { term: '' });

const openReport = (id: number) => {
  router.push({ name: 'search-report', params: { id, term: searchModel.value } });
};

debouncedWatch(
  searchModel,
  async term => {
    if (term) {
      const result = await store.fetchAll();
      reports.value = result.features.map(feature => feature.properties);
      if (term !== route.params.term) {
        router.push({ name: route.name ?? 'search', params: { ...route.params, term } });
      }
    }
  },
  { debounce: 500 },
);

onMounted(async () => {
  searchModel.value = route.params.term as string;
});

const showRegionOnMap = (region: Region) => {
  regionStore.setCurrentRegion(region);
};

// TODO: map bounds
// TODO: Filters
</script>

<style lang="scss" scoped>
@use 'sass:math';

.reports {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;

  background: $color-white;

  @include respond($breakpoint-mobile) {
    width: math.div($breakpoint-mobile, 2);
  }

  &__item {
    &:last-child {
      border-bottom: none;
    }
  }
}

.reports-search {
  padding: 0.5rem;
}

.regions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  width: 100%;
  overflow: scroll;

  padding: 0.5rem;
  background: $color-white;

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    padding: 0.5rem;

    @include font-body-14();

    &:hover {
      cursor: pointer;
      border-radius: 0.5rem;
      background-color: $color-gray-50;
    }
  }

  &__icon {
    color: $color-gray-400;
  }
}
</style>
