<template>
  <ArticleLayout :title="t('reports.creation')">
    <template #actions>
      <BaseButtonIcon kind="text" theme="gray" icon="ic_close" @click="close" />
    </template>
    <template #tabs><BaseNavTabs :tabs="tabs" class="nav-top" /></template>
    <template #aside><BaseNav :tabs="tabs" /></template>
    <section class="report-edit">
      <BaseWaiter :loader="PROCESSES.REPORT.LOADING">
        <template #fallback>
          <ReportSkeletonEdit />
        </template>
        <div class="report-edit__form">
          <ReportFormBaseInfo id="commonReport" :value="model" @update="updateModel" />
          <ReportFormQuick id="quickReport" :value="model" @update="updateModel" />
          <ReportFormAvalanche id="avalancheReport" :value="model" @update="updateModel" />
          <ReportFormSnowpack id="snowpackReport" :value="model" @update="updateModel" />
          <ReportFormWeather id="weatherReport" :value="model" @update="updateModel" />
          <ReportFormIncident id="incidentReport" :value="model" @update="updateModel" />
          <ReportFormAttachment id="attachmentReport" :value="model" @update="updateModel" />
        </div>
      </BaseWaiter>
    </section>
    <template #footer>
      <BaseButtonLoading
        :loader="PROCESSES.REPORT.SAVING"
        kind="outline"
        class="report-edit__action-btn"
        @click="save(ReportStatus.DRAFT)"
        >{{ $t(`reports.draft`) }}</BaseButtonLoading
      >
      <BaseButtonLoading
        :loader="PROCESSES.REPORT.SAVING"
        class="report-edit__action-btn"
        @click="save(ReportStatus.PUBLISHED)"
        >{{ $t(`reports.publish`) }}</BaseButtonLoading
      >
    </template>
  </ArticleLayout>
</template>

<script lang="ts" setup>
import { ref, watch, onBeforeUnmount } from 'vue';
import { useI18n } from 'vue-i18n';

import BaseButtonIcon from '@/components/BaseButtonIcon.vue';
import ArticleLayout from '@/components/layouts/ArticleLayout.vue';
import ReportFormBaseInfo from '@/components/report/ReportFormBaseInfo.vue';
import ReportFormQuick from '@/components/report/ReportFormQuick.vue';
import ReportFormAvalanche from '@/components/report/ReportFormAvalanche.vue';
import ReportFormIncident from '@/components/report/ReportFormIncident.vue';
import ReportFormWeather from '@/components/report/ReportFormWeather.vue';
import ReportFormSnowpack from '@/components/report/ReportFormSnowpack.vue';
import ReportFormAttachment from '@/components/report/ReportFormAttachment.vue';
import BaseNavTabs from '@/components/BaseNavTabs.vue';
import BaseNav from '@/components/BaseNav.vue';
import BaseWaiter from '@/components/BaseWaiter.vue';
import ReportSkeletonEdit from '@/components/report/ReportSkeletonEdit.vue';
import ReportModalCloseOnSave from '@/components/report/ReportModalCloseOnSave.vue';

import { Report, ReportStatus, ReportTypesEnum } from '@/types/Report';

import { PROCESSES } from '@/constants';

import { ToastType, useToast } from '@/composable/useToast';
import { useReportStore } from '@/stores/reportStore';

import useVuelidate from '@vuelidate/core';
import { ValidationError } from '@/errors';
import BaseButtonLoading from '@/components/BaseButtonLoading.vue';
import { useModal } from '@/composable/useModal';

const { t } = useI18n();
const reportStore = useReportStore();

const { toast } = useToast();
const modal = useModal();

const props = defineProps<{ id: number }>();
defineEmits(['close']);

const model = ref<Report>({
  id: undefined,
  name: '',
  dateAndTime: '',
  latitude: 0,
  longitude: 0,
  comments: '',
  images: [],
  status: ReportStatus.DRAFT,
  account: undefined,

  quickReport: undefined,
  avalancheReport: undefined,
  snowpackReport: undefined,
  weatherReport: undefined,
  incidentReport: undefined,
});

const tabs = [
  { key: 'commonReport', value: t(`reports.type.commonReport`) },
  ...Object.values(ReportTypesEnum).map(x => ({ key: x, value: t(`reports.type.${x}`) })),
  { key: 'attachmentReport', value: t(`reports.type.attachmentReport`) },
];

const v$ = useVuelidate({}, model);

const save = async (status = ReportStatus.DRAFT) => {
  v$.value.$touch();

  if (v$.value.$invalid) {
    throw new ValidationError(['validation.form']);
  }

  await reportStore.save({ ...model.value, status });
  toast({ message: t('reports.saved'), type: ToastType.SUCCESS });
};

const updateModel = (e: Partial<Report>) => {
  model.value = { ...model.value, ...e };
};

const close = () => {
  modal.show({
    component: ReportModalCloseOnSave,
  });
};

watch(
  () => props.id,
  async id => {
    if (id) {
      model.value = await reportStore.fetchOne(id);
    }
  },
  { immediate: true },
);

onBeforeUnmount(() => {
  reportStore.setCurrentReportCoordinates({ lat: 0, lng: 0 });
});

watch(
  () => reportStore.currentReportCoordinates,
  v => {
    if (!props.id) {
      model.value.longitude = v.lng;
      model.value.latitude = v.lat;
    }
  },
  {
    immediate: true,
    deep: true,
  },
);
</script>

<style lang="scss" scoped>
@use 'sass:math';
.report-edit {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background: $color-gray-100;

  overflow-y: scroll;

  @include respond($breakpoint-mobile) {
    max-width: math.div($breakpoint-mobile, 2);
    width: math.div($breakpoint-mobile, 2);
  }

  &__form {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__action-btn {
    width: 50%;
  }
}

.nav-top {
  display: flex;

  @include respond($breakpoint-mobile) {
    display: none;
  }
}
</style>
