<template>
  <ReportForm class="quick-form" :title="$t(`${prefix}.title`)">
    <template #description>
      {{ t(`${prefix}.description`) }}
    </template>
    <BaseFormGroup :label="t(`${prefix}.rideQuality`)">
      <BaseFormRadioButton
        v-for="option in rideQualityOptions"
        :key="option.key"
        v-model="model.rideQuality"
        :value="option.key"
        >{{ option.text }}</BaseFormRadioButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.snowCondition`)">
      <BaseFormRadioButton
        v-for="option in snowConditionOptions"
        :key="option.key"
        v-model="model.snowCondition"
        :value="option.key"
        >{{ option.text }}</BaseFormRadioButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.weRode`)">
      <template #description>{{ t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton v-for="item in weRodeOptions" :key="item.key" v-model="model.weRode" :value="item.key">{{
        item.text
      }}</BaseFormCheckboxButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.weStayedAwayFrom`)">
      <template #description>{{ t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in weStayedAwayFromOptions"
        :key="item.key"
        v-model="model.weStayedAwayFrom"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.dayWas`)">
      <template #description>{{ t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton v-for="item in dayWasOptions" :key="item.key" v-model="model.dayWas" :value="item.key">{{
        item.text
      }}</BaseFormCheckboxButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheCondition`)">
      <BaseFormRadioButton
        v-for="option in avalancheConditionOptions"
        :key="option.key"
        v-model="model.avalancheCondition"
        :value="option.key"
        class="quick-form__avalanche"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.comments`)">
      <BaseFormTextArea v-model="model.comments" maxlength="2000"></BaseFormTextArea>
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';

import ReportForm from './ReportForm.vue';
import BaseFormCheckboxButton from '@/components/BaseFormCheckboxButton.vue';
import BaseFormTextArea from '@/components/BaseFormTextarea.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';
import {
  AvalancheCondition,
  DayWas,
  QuickReport,
  Report,
  RideQuality,
  SnowCondition,
  WeRode,
  WeStayedAwayFrom,
} from '@/types/Report';
import { isEqual } from 'lodash';

const emit = defineEmits(['update']);
const props = defineProps<{
  value: Report;
}>();

const { t } = useI18n();

const prefix = 'reports.fields.quickReport';
const optionsPrefix = 'reports.options';
const descriptionPrefix = 'reports.description';

const rideQualityOptions = computed(() =>
  Object.keys(RideQuality).map(key => ({
    text: t(`${optionsPrefix}.ride_quality.${key}`),
    key,
  })),
);

const snowConditionOptions = computed(() =>
  Object.keys(SnowCondition).map(key => ({
    text: t(`${optionsPrefix}.snow_condition.${key}`),
    key,
  })),
);

const weStayedAwayFromOptions = computed(() =>
  Object.keys(WeStayedAwayFrom).map(key => ({
    text: t(`${optionsPrefix}.we_stayed_away_from.${key}`),
    key,
  })),
);

const weRodeOptions = computed(() =>
  Object.keys(WeRode).map(key => ({
    text: t(`${optionsPrefix}.we_rode.${key}`),
    key,
  })),
);

const dayWasOptions = computed(() =>
  Object.keys(DayWas).map(key => ({
    text: t(`${optionsPrefix}.day_was.${key}`),
    key,
  })),
);

const avalancheConditionOptions = computed(() =>
  Object.keys(AvalancheCondition).map(key => ({
    text: t(`${optionsPrefix}.avalanche_condition.${key}`),
    key,
  })),
);

const model = ref<QuickReport>({});

watch(
  () => props.value,
  v => {
    const { quickReport } = v;

    if (isEqual(quickReport, model.value)) return;

    model.value = {
      ...model.value,
      ...quickReport,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { quickReport: { ...value } });
  },
  { deep: true },
);
</script>

<style lang="scss" scoped>
.quick-form {
  &__avalanche {
    & :deep(.radio__label) {
      width: 100%;
    }
    &.radio {
      width: 100%;
    }
  }
}
</style>
