<template>
  <ReportForm class="incident-form" :title="$t(`${prefix}.title`)">
    <template #description>
      {{ $t(`${prefix}.description`) }}
    </template>
    <BaseFormGroup :label="$t(`${prefix}.activityType`)">
      <BaseFormRadioButton
        v-for="option in activityTypeOptions"
        :key="option.key"
        v-model="model.activityType"
        :value="option.key"
        class="incident-form__radio-width"
      >
        {{ option.text }}
      </BaseFormRadioButton>
      <BaseFormInput
        v-if="model.activityType === ActivityType.OTHER"
        v-model="model.anotherActivityType"
        :placeholder="$t('reports.another_activity')"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <p class="incident-form__section-title">
      {{ $t(`${descriptionPrefix}.group_details`) }}
    </p>
    <BaseFormGroup :label="$t(`${prefix}.numberPeople`)" :errors="v$.numberPeople.$errors">
      <BaseFormInput
        v-model="model.numberPeople"
        type="number"
        :has-errors="hasErrors(v$.numberPeople.$errors)"
        placeholder="50"
        @input="v$.numberPeople.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.completelyCovered`)" :errors="v$.completelyCovered.$errors">
      <BaseFormInput
        v-model="model.completelyCovered"
        type="number"
        :has-errors="hasErrors(v$.completelyCovered.$errors)"
        placeholder="50"
        @input="v$.completelyCovered.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup
      :label="$t(`${prefix}.partlyBuriedWithImpairedBreathing`)"
      :errors="v$.partlyBuriedWithImpairedBreathing.$errors"
    >
      <BaseFormInput
        v-model="model.partlyBuriedWithImpairedBreathing"
        type="number"
        :has-errors="hasErrors(v$.partlyBuriedWithImpairedBreathing.$errors)"
        placeholder="50"
        @input="v$.partlyBuriedWithImpairedBreathing.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup
      :label="$t(`${prefix}.partlyBuriedWithNormalBreathing`)"
      :errors="v$.partlyBuriedWithNormalBreathing.$errors"
    >
      <BaseFormInput
        v-model="model.partlyBuriedWithNormalBreathing"
        type="number"
        :has-errors="hasErrors(v$.partlyBuriedWithNormalBreathing.$errors)"
        placeholder="50"
        @input="v$.partlyBuriedWithNormalBreathing.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.notCoveredAndWithoutInjury`)" :errors="v$.notCoveredAndWithoutInjury.$errors">
      <BaseFormInput
        v-model="model.notCoveredAndWithoutInjury"
        type="number"
        :has-errors="hasErrors(v$.notCoveredAndWithoutInjury.$errors)"
        placeholder="50"
        @input="v$.notCoveredAndWithoutInjury.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.notCoveredAndInjured`)" :errors="v$.notCoveredAndInjured.$errors">
      <BaseFormInput
        v-model="model.notCoveredAndInjured"
        type="number"
        :has-errors="hasErrors(v$.notCoveredAndInjured.$errors)"
        placeholder="50"
        @input="v$.notCoveredAndInjured.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <p class="incident-form__section-title">
      {{ $t(`${descriptionPrefix}.terrain_details`) }}
    </p>
    <BaseFormGroup :label="$t(`${prefix}.landform`)">
      <template #description>
        <div v-for="item in landformDesc" :key="item.title">
          <span class="incident-form__highlighted">{{ item.title }}: </span>
          <span>{{ item.desc }}</span>
        </div>
      </template>
      <BaseFormRadioButton
        v-for="option in landformOptions"
        :key="option.key"
        v-model="model.landform"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowpackHeight`)">
      <template #description>
        <div>
          {{ $t(`${descriptionPrefix}.snowpack_height_desc`) }}
        </div>
        <div v-for="item in snowpackHeightDesc" :key="item.title">
          <span class="incident-form__highlighted">{{ item.title }}: </span>
          <span>{{ item.desc }}</span>
        </div>
      </template>
      <BaseFormRadioButton
        v-for="option in snowpackHeightOptions"
        :key="option.key"
        v-model="model.snowpackHeight"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.reliefTrap`)">
      <template #description>
        <div>{{ $t(`${descriptionPrefix}.relief_trap`) }}</div>
        <div>{{ $t(`${descriptionPrefix}.choose_some`) }}</div>
      </template>
      <BaseFormCheckboxButton
        v-for="option in reliefTrapOptions"
        :key="option.key"
        v-model="model.reliefTrap"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormCheckboxButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.comments`)">
      <template #description>
        <span>{{ $t(`${descriptionPrefix}.incident_comments`) }}</span>
        <span class="incident-form__highlighted">{{ $t(`${descriptionPrefix}.incident_comments_rules`) }}</span>
      </template>
      <BaseFormTextArea v-model="model.comments"></BaseFormTextArea>
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import useVuelidate from '@vuelidate/core';

import ReportForm from './ReportForm.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseFormCheckboxButton from '../BaseFormCheckboxButton.vue';
import BaseFormTextArea from '@/components/BaseFormTextarea.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';
import { ActivityType, IncidentReport, Landform, ReliefTrap, Report, SnowpackHeight } from '@/types/Report';
import { between } from '@vuelidate/validators';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { isEqual } from 'lodash';

const props = defineProps<{
  value: Report;
}>();

const { hasErrors } = useErrorHandler();
const { t } = useI18n();

const prefix = 'reports.fields.incidentReport';
const optionsPrefix = 'reports.options';
const descriptionPrefix = 'reports.description';

const activityTypeOptions = computed(() =>
  Object.keys(ActivityType).map(key => ({
    text: t(`${optionsPrefix}.activity_type.${key}`),
    key,
  })),
);

const landformOptions = computed(() =>
  Object.keys(Landform).map(key => ({
    text: t(`${optionsPrefix}.landform.${key}`),
    key,
  })),
);

const landformDesc = computed(() =>
  Object.keys(Landform).map(key => ({
    title: t(`${optionsPrefix}.landform.${key}`),
    desc: t(`${descriptionPrefix}.landform.${key}`),
  })),
);

const snowpackHeightOptions = computed(() =>
  Object.keys(SnowpackHeight).map(key => ({
    text: t(`${optionsPrefix}.snowpack_height.${key}`),
    key,
  })),
);

const snowpackHeightDesc = computed(() =>
  Object.keys(SnowpackHeight).map(key => ({
    title: t(`${optionsPrefix}.snowpack_height.${key}`),
    desc: t(`${descriptionPrefix}.snowpack_height.${key}`),
  })),
);

const reliefTrapOptions = computed(() =>
  Object.keys(ReliefTrap).map(key => ({
    text: t(`${optionsPrefix}.relief_trap.${key}`),
    key,
  })),
);

const rules = {
  numberPeople: {
    between: between(0, 50),
  },
  completelyCovered: {
    between: between(0, 50),
  },

  partlyBuriedWithNormalBreathing: {
    between: between(0, 50),
  },
  partlyBuriedWithImpairedBreathing: {
    between: between(0, 50),
  },
  notCoveredAndWithoutInjury: {
    between: between(0, 50),
  },
  notCoveredAndInjured: {
    between: between(0, 50),
  },
};

const model = ref<IncidentReport>({});

const emit = defineEmits(['update']);
const v$ = useVuelidate(rules, model);

watch(
  () => props.value,
  v => {
    const { incidentReport } = v;
    if (isEqual(incidentReport, model.value)) return;

    model.value = {
      ...model.value,
      ...incidentReport,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { incidentReport: { ...value } });
  },

  { deep: true },
);
</script>

<style lang="scss" scoped>
.incident-form {
  &__section-title {
    @include font-subtitle-20(500);
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &__highlighted {
    @include font-caption(600);
    color: $color-blue-600;
  }

  &__radio-width {
    & :deep(.radio__label) {
      max-width: 20rem;
    }
  }
}
</style>
