<template>
  <ReportFiltersItem
    class="report-type"
    :show-value="showValue"
    :placeholder="$t('common.type')"
    @clear="clear"
    @cancel="cancel"
    @apply="apply"
  >
    <template #value>
      <div class="report-type__value">
        <BaseLabelTag
          v-for="tag in filteredReportTypeTags"
          :key="tag.key"
          :title="tag.title"
          :theme="tag.theme"
          class="report-filters__tag"
        />
      </div>
    </template>
    <div class="report-type__checkbox">
      <BaseFormCheckbox v-for="tag in reportTypeTags" :key="tag.key" v-model="model[tag.key]">{{
        tag.title
      }}</BaseFormCheckbox>
    </div>
  </ReportFiltersItem>
</template>

<script lang="ts" setup>
import { ref, computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

import ReportFiltersItem from './ReportFiltersItem.vue';
import BaseLabelTag from '@/components/BaseLabelTag.vue';
import BaseFormCheckbox from '../BaseFormCheckbox.vue';

import { cloneDeep } from 'lodash';
import { ReportFilterTypes, ReportTypes, ReportTypesEnum } from '@/types/Report';

const { t } = useI18n();

const emit = defineEmits(['update:modelValue', 'close']);

const props = defineProps<{ modelValue: ReportFilterTypes }>();

const resetValue = () => ({
  quickReport: false,
  avalancheReport: false,
  snowpackReport: false,
  weatherReport: false,
  incidentReport: false,
});
const model = ref<ReportFilterTypes>(resetValue());

watch(
  () => props.modelValue,
  value => {
    model.value = cloneDeep(value);
  },
  { immediate: true, deep: true },
);

const reportTypeTags: { key: ReportTypesEnum; title: string; theme: string }[] = [
  { key: ReportTypesEnum.quickReport, title: t(`reports.type.${ReportTypesEnum.quickReport}`), theme: 'green' },
  {
    key: ReportTypesEnum.avalancheReport,
    title: t(`reports.type.${ReportTypesEnum.avalancheReport}`),
    theme: 'purple',
  },
  { key: ReportTypesEnum.snowpackReport, title: t(`reports.type.${ReportTypesEnum.snowpackReport}`), theme: 'blue' },
  { key: ReportTypesEnum.weatherReport, title: t(`reports.type.${ReportTypesEnum.weatherReport}`), theme: 'orange' },
  { key: ReportTypesEnum.incidentReport, title: t(`reports.type.${ReportTypesEnum.incidentReport}`), theme: 'red' },
];

const selectedTypeKeys = computed(() => Object.keys(model.value).filter(x => model.value[x as ReportTypes]));

const filteredReportTypeTags = computed(() => reportTypeTags.filter(x => selectedTypeKeys.value.includes(x.key)));

const showValue = computed(() => Object.keys(model.value).some(x => model.value[x as ReportTypes]));

const clear = () => {
  model.value = resetValue();
};

const cancel = () => {
  model.value = props.modelValue;
};

const apply = () => {
  emit('update:modelValue', model.value);
};
</script>

<style lang="scss" scoped>
.report-type {
  &__value {
    display: flex;
    gap: 0.25rem;
    flex-wrap: nowrap;
    width: max-content;
  }

  &__checkbox {
    .checkbox {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      width: 100%;

      height: 2.5rem;
      padding: 0 0.5rem;

      color: $color-gray-700;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover,
      &:link:hover,
      &:link:focus {
        background-color: $color-gray-100;
      }
    }
  }
}
</style>
