<template>
  <ReportBaseInfo :value="value" class="report-preview">
    <template #menu>
      <BaseIcon name="ic_dots_vertical" class="report-preview__action report-preview__icon" />
    </template>
    <template #tags>
      <div class="report-preview__tags">
        <BaseLabelTag v-for="tag in activeReportTags" :key="tag.key" :title="tag.title" :theme="tag.theme" />
      </div>
    </template>
  </ReportBaseInfo>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';
import BaseIcon from '../BaseIcon.vue';
import ReportBaseInfo from '@/components/report/ReportBaseInfo.vue';
import BaseLabelTag from '@/components/BaseLabelTag.vue';
import { ReportPreview, ReportTypes, ReportTypesEnum } from '@/types/Report';
import { Optional } from '@/types/utils';

export type ReportBaseInfoType = Optional<ReportPreview, 'id' | ReportTypes>;

const { t } = useI18n();

const props = defineProps<{ value: ReportBaseInfoType }>();

const reportTypeTags: { key: ReportTypesEnum; title: string; theme: string }[] = [
  { key: ReportTypesEnum.quickReport, title: t(`reports.type.${ReportTypesEnum.quickReport}`), theme: 'green' },
  {
    key: ReportTypesEnum.avalancheReport,
    title: t(`reports.type.${ReportTypesEnum.avalancheReport}`),
    theme: 'purple',
  },
  { key: ReportTypesEnum.snowpackReport, title: t(`reports.type.${ReportTypesEnum.snowpackReport}`), theme: 'blue' },
  { key: ReportTypesEnum.weatherReport, title: t(`reports.type.${ReportTypesEnum.weatherReport}`), theme: 'orange' },
  { key: ReportTypesEnum.incidentReport, title: t(`reports.type.${ReportTypesEnum.incidentReport}`), theme: 'red' },
];
const activeReportTags = reportTypeTags.filter(x => props.value[x.key as ReportTypes]);
</script>

<style lang="scss" scoped>
.report-preview {
  border-bottom: 1px solid $color-gray-200;

  &:hover {
    cursor: pointer;
  }

  &__action {
    margin-left: auto;
  }

  &__icon {
    color: $color-gray-400;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    flex-wrap: wrap;
  }
}
</style>
