<template>
  <ReportForm class="avalanche-form" :title="$t(`${prefix}.title`)">
    <BaseFormGroup :label="t(`${prefix}.avalancheTime`)">
      <template #description>{{ t(`${prefix}.avalancheTimeAndDate`) }}</template>
      <BaseCalendar v-model="model.date" class="calendar" />
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheTimeNear`)">
      <BaseFormRadioButton
        v-for="option in avalancheTimeOptions"
        :key="option.key"
        v-model="model.avalancheTime"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheCount`)">
      <BaseFormRadioButton
        v-for="option in avalancheCountOptions"
        :key="option.key"
        v-model="model.count"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheSize`)">
      <template #description>
        <div v-for="item in avalancheSizeDesc" :key="item.title">
          <span class="avalanche-form__highlighted">{{ item.title }}</span>
          <span> - {{ item.desc }}</span>
        </div>
      </template>

      <BaseFormRadioButton
        v-for="option in avalancheSizeOptions"
        :key="option.key"
        v-model="model.size"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.depthHeight`)" :errors="v$.depth.$errors">
      <template #description>{{ t(`${descriptionPrefix}.depth_height`) }}</template>
      <BaseFormInput
        v-model="model.depth"
        type="number"
        min="10"
        max="500"
        :has-errors="hasErrors(v$.depth.$errors)"
        placeholder="500"
        @input="v$.depth.$touch()"
      >
        <template #postfix>cm</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.slabWidth`)" :errors="v$.width.$errors">
      <template #description>{{ t(`${descriptionPrefix}.between1and3000`) }}</template>
      <BaseFormInput
        v-model="model.width"
        type="number"
        :has-errors="hasErrors(v$.width.$errors)"
        placeholder="3000"
        @input="v$.width.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.runLength`)" :errors="v$.length.$errors">
      <template #description>{{ t(`${prefix}.avalancheLength`) }}</template>
      <BaseFormInput
        v-model="model.length"
        type="number"
        :has-errors="hasErrors(v$.length.$errors)"
        placeholder="10000"
        @input="v$.length.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheType`)">
      <template #description>{{ t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in avalancheTypeOptions"
        :key="item.key"
        v-model="model.avalancheType"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheTrigger`)">
      <BaseFormRadioButton
        v-for="option in avalancheTriggerOptions"
        :key="option.key"
        v-model="model.avalancheTrigger"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.avalancheTriggerSubType`)">
      <template #description>{{ t(`${descriptionPrefix}.avalanche_sub_trigger`) }}</template>
      <BaseFormRadioButton
        v-for="option in avalancheTriggerSubTypeOptions"
        :key="option.key"
        v-model="model.avalancheTriggerSubType"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.distanceForRemoteTrigger`)" :errors="v$.distanceForRemoteTrigger.$errors">
      <template #description>{{ t(`${prefix}.remoteTrigger`) }}</template>
      <BaseFormInput
        v-model="model.distanceForRemoteTrigger"
        :has-errors="hasErrors(v$.distanceForRemoteTrigger.$errors)"
        placeholder="2000"
        type="number"
        @input="v$.distanceForRemoteTrigger.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.exposition`)">
      <BaseFormRadioButton
        v-for="option in cardinalPointOptions"
        :key="option.key"
        v-model="model.startingAreaExposure"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.elevationBand`)">
      <BaseFormRadioButton
        v-for="option in elevationBandOptions"
        :key="option.key"
        v-model="model.elevationBand"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.startingAreaHeight`)" :errors="v$.startingAreaHeight.$errors">
      <template #description>{{ t(`${descriptionPrefix}.starting_area_height`) }}</template>
      <BaseFormInput
        v-model="model.startingAreaHeight"
        type="number"
        maxlength="4"
        :has-errors="hasErrors(v$.startingAreaHeight.$errors)"
        placeholder="8 848"
        @input="v$.startingAreaHeight.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.startingAreaAngle`)" :errors="v$.startingAreaAngle.$errors">
      <template #description>{{ t(`${descriptionPrefix}.starting_area_angle`) }}</template>
      <BaseFormInput
        v-model="model.startingAreaAngle"
        :has-errors="hasErrors(v$.startingAreaAngle.$errors)"
        placeholder="90"
        type="number"
        @input="v$.startingAreaAngle.$touch()"
      >
        <template #postfix> {{ '&#176;' }} </template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.offsetZoneHeight`)" :errors="v$.offsetZoneHeight.$errors">
      <template #description>{{ t(`${descriptionPrefix}.offset_zone`) }}</template>
      <BaseFormInput
        v-model="model.offsetZoneHeight"
        type="number"
        :has-errors="hasErrors(v$.offsetZoneHeight.$errors)"
        placeholder="90"
        @input="v$.offsetZoneHeight.$touch()"
      >
        <template #postfix> m </template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.timeWeakLayer`)" :errors="errors">
      <BaseCalendar
        v-model="model.timeWeakLayer"
        mode="date"
        class="calendar"
        :placeholder="t(`common.dates_placeholder`)"
      />
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.weakLayerType`)">
      <template #description>{{ t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in weakLayerTypeOptions"
        :key="item.key"
        v-model="model.weakLayerType"
        :value="item.key"
        >{{ item.text }}
      </BaseFormCheckboxButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.crustNearWeakPoint`)">
      <BaseFormRadioButton
        v-for="option in [true, false]"
        :key="`key-${option}`"
        v-model="model.crustNearWeakPoint"
        :value="option"
      >
        {{ t(`common.${option}`) }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.windExposure`)">
      <BaseFormRadioButton
        v-for="option in windExposureOptions"
        :key="option.key"
        v-model="model.windExposure"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.vegetation`)">
      <BaseFormRadioButton
        v-for="option in vegetationOptions"
        :key="option.key"
        v-model="model.vegetation"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="t(`${prefix}.comments`)">
      <template #description>
        <span>{{ $t(`${descriptionPrefix}.avalanche_comments`) }}</span>
      </template>
      <BaseFormTextArea v-model="model.comments" maxlength="2000"></BaseFormTextArea>
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import useVuelidate, { ErrorObject } from '@vuelidate/core';
import { useI18n } from 'vue-i18n';

import ReportForm from './ReportForm.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseCalendar from '../BaseCalendar.vue';
import BaseFormCheckboxButton from '../BaseFormCheckboxButton.vue';
import BaseFormTextArea from '@/components/BaseFormTextarea.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';
import {
  AvalancheCount,
  AvalancheReport,
  AvalancheSize,
  AvalancheTime,
  AvalancheTrigger,
  AvalancheTriggerSubType,
  AvalancheType,
  CardinalPoint,
  ElevationBand,
  Report,
  Vegetation,
  WeakLayerType,
  WindExposure,
} from '@/types/Report';
import { decimal, between, minValue } from '@vuelidate/validators';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { isEqual } from 'lodash';

const props = defineProps<{
  value: Report;
}>();

const { hasErrors } = useErrorHandler();
const { t } = useI18n();

const prefix = 'reports.fields.avalancheReport';
const optionsPrefix = 'reports.options';
const descriptionPrefix = 'reports.description';

const avalancheTimeOptions = computed(() =>
  Object.keys(AvalancheTime).map(key => ({
    text: t(`${optionsPrefix}.avalanche_time.${key}`),
    key,
  })),
);

const avalancheCountOptions = computed(() =>
  Object.keys(AvalancheCount).map(key => ({
    text: t(`${optionsPrefix}.avalanche_count.${key}`),
    key,
  })),
);

const avalancheSizeOptions = computed(() =>
  Object.keys(AvalancheSize).map(key => ({
    text: t(`${optionsPrefix}.avalanche_size.${key}`),
    key,
  })),
);

const avalancheSizeDesc = computed(() =>
  Object.keys(AvalancheSize)
    .slice(0, 5)
    .map(key => ({
      title: t(`${descriptionPrefix}.avalanche_size_title_desc.${key}`),
      desc: t(`${descriptionPrefix}.avalanche_size_desc.${key}`),
    })),
);

const avalancheTypeOptions = computed(() =>
  Object.keys(AvalancheType).map(key => ({
    text: t(`${optionsPrefix}.avalanche_type.${key}`),
    key,
  })),
);

const avalancheTriggerOptions = computed(() =>
  Object.keys(AvalancheTrigger).map(key => ({
    text: t(`${optionsPrefix}.avalanche_trigger.${key}`),
    key,
  })),
);

const avalancheTriggerSubTypeOptions = computed(() =>
  Object.keys(AvalancheTriggerSubType).map(key => ({
    text: t(`${optionsPrefix}.avalanche_trigger_subtype.${key}`),
    key,
  })),
);

const cardinalPointOptions = computed(() =>
  Object.keys(CardinalPoint).map(key => ({
    text: t(`${optionsPrefix}.cardinal_point.${key}`),
    key,
  })),
);

const elevationBandOptions = computed(() =>
  Object.keys(ElevationBand).map(key => ({
    text: t(`${optionsPrefix}.elevation_band.${key}`),
    key,
  })),
);

const weakLayerTypeOptions = computed(() =>
  Object.keys(WeakLayerType).map(key => ({
    text: t(`${optionsPrefix}.weak_layer_type.${key}`),
    key,
  })),
);

const windExposureOptions = computed(() =>
  Object.keys(WindExposure).map(key => ({
    text: t(`${optionsPrefix}.wind_exposure.${key}`),
    key,
  })),
);

const vegetationOptions = computed(() =>
  Object.keys(Vegetation).map(key => ({
    text: t(`${optionsPrefix}.vegetation.${key}`),
    key,
  })),
);

const errors: Partial<ErrorObject>[] = [];

const rules = {
  depth: {
    between: between(10, 500),
    decimal,
  },
  width: {
    between: between(1, 3000),
    decimal,
  },
  length: {
    between: between(1, 10000),
    decimal,
  },
  distanceForRemoteTrigger: {
    between: between(1, 2000),
    decimal,
  },
  startingAreaHeight: {
    between: between(1, 8848),
    decimal,
  },
  startingAreaAngle: {
    between: between(1, 90),
    decimal,
  },
  offsetZoneHeight: {
    not_negative: minValue(0),
  },
};

const model = ref<AvalancheReport>({});

const emit = defineEmits(['update']);
const v$ = useVuelidate(rules, model);

watch(
  () => props.value,
  v => {
    const { avalancheReport } = v;
    if (isEqual(avalancheReport, model.value)) return;

    model.value = {
      ...model.value,
      ...avalancheReport,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { avalancheReport: { ...value } });
  },
  { deep: true },
);
</script>

<style lang="scss" scoped>
.avalanche-form {
  &__highlighted {
    @include font-caption(600);
    color: $color-blue-600;
  }
}
</style>
