<template>
  <label class="report-role">
    <input v-model="model" v-bind="$attrs" class="report-role__input" type="checkbox" :value="value" />

    <BaseIcon name="ic_outline_check" class="report-role__check" />

    <span class="report-role__label">
      {{ $t('reports.description.only_professional') }}
    </span>
  </label>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import BaseIcon from '../BaseIcon.vue';

const props = defineProps<{ modelValue: boolean }>();

const emit = defineEmits(['update:modelValue']);

const value = undefined;

const model = computed({
  get(): typeof props['modelValue'] {
    return props.modelValue;
  },
  set(value: typeof props['modelValue']) {
    emit('update:modelValue', value);
  },
});
</script>

<style lang="scss" scoped>
.report-role {
  $checkbox: &;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: max-content;

  min-height: 2rem;
  height: max-content;
  padding: 0.25rem 0.5rem;

  background: $color-gray-50;
  border-radius: 0.5rem;

  @include font-body-14();

  &:hover {
    cursor: pointer;
    background: $color-gray-100;
  }

  &__input {
    display: none;
  }

  &__label {
    width: max-content;
  }

  &__check {
    display: none;
    color: $color-blue-600;

    :is(.report-role__input:checked) + & {
      display: inline-flex;
    }
  }
}
</style>
