<template>
  <BaseModal class="report-close-modal" @close="$emit('close')">
    <div class="report-close-modal__body">{{ t(`common.close_without_save`) }}</div>
    <template #footer>
      <BaseButton theme="gray" kind="outline" class="report-close-modal__btn" @click="$emit('close')">
        {{ t(`common.cancel`) }}
      </BaseButton>
      <BaseButton theme="red" class="report-close-modal__btn" @click="cancel">{{ t(`common.dont_save`) }}</BaseButton>
    </template>
  </BaseModal>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import BaseModal from '@/components/BaseModal.vue';
import BaseButton from '@/components/BaseButton.vue';

const { t } = useI18n();
const router = useRouter();

const emit = defineEmits(['close', 'cancel']);

const cancel = () => {
  emit('close');
  router.push({ name: 'root' });
};
</script>

<style lang="scss" scoped>
.report-close-modal {
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    width: 21.5rem;
  }

  &__btn {
    width: 100%;
  }
}
</style>
