<template>
  <teleport :to="targetTeleport">
    <div class="report-image-modal">
      <div ref="modalRef" class="report-image-modal__inner">
        <div class="report-image-modal__header">
          <BaseButtonIcon
            class="report-image-modal__icon-arrow"
            kind="text"
            theme="gray"
            icon="ic_arrow_back"
            @click="$emit('close')"
          />
          <span class="report-image-modal__title"> {{ name }} </span>
        </div>
        <div class="report-image-modal__body">
          <img class="report-image-modal__image" :src="url" />
          <BaseButtonIcon
            icon="ic_cross"
            kind="tonal"
            class="report-image-modal__btn"
            @click="$emit('close')"
          ></BaseButtonIcon>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { onClickOutside } from '@vueuse/core';
import { targetTeleport } from '@/composable/useModal';
import BaseButtonIcon from '@/components/BaseButtonIcon.vue';

const emit = defineEmits(['close']);

defineProps<{ url: string; name: string }>();

const modalRef = ref();
onClickOutside(modalRef, () => {
  emit('close');
});
</script>

<style lang="scss" scoped>
@use 'sass:math';
.report-image-modal {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: $color-white;

  @include respond($breakpoint-mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb($color-gray-900, 0.3);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include respond($breakpoint-mobile) {
      height: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding: 0 0.75rem;
    width: 100%;
    gap: 0.75rem;

    @include font-body-16();

    @include respond($breakpoint-mobile) {
      display: none;
    }
  }

  &__title {
    @include font-body-16(600);
    color: $color-gray-900;
  }

  &__icon-arrow {
    cursor: pointer;
    color: $color-gray-400;
  }

  &__body {
    width: 100%;
    max-width: $breakpoint-mobile;
    margin: auto;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__btn {
    display: none;

    @include respond($breakpoint-mobile) {
      display: flex;
      position: absolute;
      right: 1rem;
      top: 1rem;
      border-radius: 2rem;
    }
  }
}
</style>
