<template>
  <ReportForm class="snowpack-form" :title="$t(`${prefix}.title`)">
    <template #description>
      {{ $t(`${prefix}.description`) }}
    </template>
    <BaseFormGroup :label="$t(`${prefix}.observationType`)">
      <BaseFormRadioButton
        v-for="option in observationTypeOptions"
        :key="option.key"
        v-model="model.observationType"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.height`)" :errors="v$.height.$errors">
      <BaseFormInput
        v-model="model.height"
        :has-errors="hasErrors(v$.height.$errors)"
        placeholder="3000"
        type="number"
        @input="v$.height.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.elevationBand`)">
      <template #description>{{ $t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in elevationBandOptions"
        :key="item.key"
        v-model="model.elevationBand"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.exposition`)">
      <template #description>{{ $t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in cardinalPointOptions"
        :key="item.key"
        v-model="model.exposition"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.depth`)" :errors="v$.depth.$errors">
      <template #description>{{ $t(`${descriptionPrefix}.between1and1000`) }}</template>
      <BaseFormInput
        v-model="model.depth"
        :has-errors="hasErrors(v$.depth.$errors)"
        placeholder="1000"
        type="number"
        @input="v$.depth.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.wumfing`)">
      <template #description>
        <span class="snowpack-form__description-term">
          {{ $t(`reports.description.wumfing_desc`) }}
        </span>
        <span> - {{ $t(`${descriptionPrefix}.wumfing`) }} </span>
      </template>
      <BaseFormRadioButton
        v-for="option in booleanChoice"
        :key="`snowpackReport-${option}`"
        v-model="model.wumfing"
        :value="option"
      >
        {{ $t(`common.${option}`) }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.crackingSnow`)">
      <template #description>
        <span class="snowpack-form__description-term">
          {{ $t(`reports.description.crack`) }}
        </span>
        <span> - {{ $t(`${descriptionPrefix}.snow_cracking`) }} </span>
      </template>
      <BaseFormRadioButton
        v-for="option in booleanChoice"
        :key="`crackingSnow-${option}`"
        v-model="model.crackingSnow"
        :value="option"
      >
        {{ $t(`common.${option}`) }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.footprintDepth`)" :errors="v$.footprintDepth.$errors">
      <template #description>
        <div>
          {{ $t(`${descriptionPrefix}.footprint_depth`) }}
        </div>
        <div>
          {{ $t(`${descriptionPrefix}.between1and100`) }}
        </div>
      </template>
      <BaseFormInput
        v-model="model.footprintDepth"
        :has-errors="hasErrors(v$.footprintDepth.$errors)"
        placeholder="100"
        type="number"
        @input="v$.footprintDepth.$touch()"
      >
        <template #postfix>cm</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.skiTrackDepth`)" :errors="v$.skiTrackDepth.$errors">
      <template #description>
        <div>
          {{ $t(`${descriptionPrefix}.ski_track_depth`) }}
        </div>
        <div>
          {{ $t(`${descriptionPrefix}.between1and200`) }}
        </div>
      </template>
      <BaseFormInput
        v-model="model.skiTrackDepth"
        :has-errors="hasErrors(v$.skiTrackDepth.$errors)"
        placeholder="10"
        type="number"
        @input="v$.skiTrackDepth.$touch()"
      >
        <template #postfix>cm</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowmobileTrackDepth`)" :errors="v$.snowmobileTrackDepth.$errors">
      <template #description>
        <div>
          {{ $t(`${descriptionPrefix}.snowmobile_track_depth`) }}
        </div>
        <div>
          {{ $t(`${descriptionPrefix}.between1and200`) }}
        </div>
      </template>
      <BaseFormInput
        v-model="model.snowmobileTrackDepth"
        :has-errors="hasErrors(v$.snowmobileTrackDepth.$errors)"
        placeholder="10"
        type="number"
        @input="v$.snowmobileTrackDepth.$touch()"
      >
        <template #postfix>cm</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.testPitResult`)">
      <template #description>
        {{ $t(`${descriptionPrefix}.test_pit_result_desc`) }}
      </template>
      <BaseFormRadioButton
        v-for="item in testPitResultOptions"
        :key="item.key"
        v-model="model.testPitResult"
        :value="item.key"
      >
        {{ item.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.crackingPattern`)">
      <BaseFormRadioButton
        v-for="item in crackingPatternOptions"
        :key="item.key"
        v-model="model.crackingPattern"
        :value="item.key"
        class="snowpack-form__radio-width"
      >
        {{ item.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.depthDestruction`)" :errors="v$.depthDestruction.$errors">
      <template #description>{{ $t(`${descriptionPrefix}.between1and3000`) }}</template>
      <BaseFormInput
        v-model="model.depthDestruction"
        type="number"
        :has-errors="hasErrors(v$.depthDestruction.$errors)"
        placeholder="100"
        @input="v$.depthDestruction.$touch()"
      >
        <template #postfix>m</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowSurfaceCondition`)">
      <template #description>{{ $t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in snowSurfaceConditionOptions"
        :key="item.key"
        v-model="model.snowSurfaceCondition"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowCrystalType`)">
      <template #description>{{ $t(`${descriptionPrefix}.choose_some`) }}</template>
      <BaseFormCheckboxButton
        v-for="item in testFailureLayerCrystalTypeOptions"
        :key="item.key"
        v-model="model.testFailureLayerCrystalType"
        :value="item.key"
        >{{ item.text }}</BaseFormCheckboxButton
      >
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.comments`)">
      <BaseFormTextArea v-model="model.comments" />
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';

import ReportForm from './ReportForm.vue';
import BaseFormCheckboxButton from '@/components/BaseFormCheckboxButton.vue';
import BaseFormTextArea from '@/components/BaseFormTextarea.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';

import {
  CardinalPoint,
  CrackingPattern,
  ElevationBand,
  ObservationType,
  Report,
  SnowpackReport,
  SnowSurfaceCondition,
  TestFailureLayerCrystalType,
  TestPitResult,
} from '@/types/Report';

import useVuelidate from '@vuelidate/core';
import { between } from '@vuelidate/validators';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { isEqual } from 'lodash';

const { t } = useI18n();
const { hasErrors } = useErrorHandler();

// FIXME:
const booleanChoice = [true, false];

const rules = {
  height: {
    between: between(0, 8848),
  },
  depth: {
    between: between(0, 1000),
  },
  footprintDepth: {
    between: between(0, 100),
  },
  skiTrackDepth: {
    between: between(0, 200),
  },
  snowmobileTrackDepth: {
    between: between(0, 200),
  },
  depthDestruction: {
    between: between(1, 1000),
  },
};

const props = defineProps<{
  value: Report;
}>();

const prefix = 'reports.fields.snowpackReport';
const optionsPrefix = 'reports.options';
const descriptionPrefix = 'reports.description';

const cardinalPointOptions = computed(() =>
  Object.keys(CardinalPoint).map(key => ({
    text: t(`${optionsPrefix}.cardinal_point.${key}`),
    key,
  })),
);

const elevationBandOptions = computed(() =>
  Object.keys(ElevationBand).map(key => ({
    text: t(`${optionsPrefix}.elevation_band.${key}`),
    key,
  })),
);

const observationTypeOptions = computed(() =>
  Object.keys(ObservationType).map(key => ({
    text: t(`${optionsPrefix}.observation_type.${key}`),
    key,
  })),
);

const testPitResultOptions = computed(() =>
  Object.keys(TestPitResult).map(key => ({
    text: t(`${optionsPrefix}.test_pit_result.${key}`),
    key,
  })),
);

const crackingPatternOptions = computed(() =>
  Object.keys(CrackingPattern).map(key => ({
    text: t(`${optionsPrefix}.cracking_pattern.${key}`),
    key,
  })),
);

const snowSurfaceConditionOptions = computed(() =>
  Object.keys(SnowSurfaceCondition).map(key => ({
    text: t(`${optionsPrefix}.snow_surface_condition.${key}`),
    key,
  })),
);

const testFailureLayerCrystalTypeOptions = computed(() =>
  Object.keys(TestFailureLayerCrystalType).map(key => ({
    text: t(`${optionsPrefix}.test_failure_layer_crystal_type.${key}`),
    key,
  })),
);

const model = ref<SnowpackReport>({});

const v$ = useVuelidate(rules, model);

const emit = defineEmits(['update']);

watch(
  () => props.value,
  v => {
    const { snowpackReport } = v;
    if (isEqual(snowpackReport, model.value)) return;

    model.value = {
      ...model.value,
      ...snowpackReport,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { snowpackReport: { ...value } });
  },

  { deep: true },
);
</script>

<style lang="scss" scoped>
.snowpack-form {
  &__description-term {
    color: $color-blue-600;
  }

  &__radio-width {
    & :deep(.radio__label) {
      max-width: 20rem;
    }
  }
  & :deep(.radio__input) {
    width: 100%;
  }
  &.radio {
    width: 100%;
  }
}
</style>
