<template>
  <ReportForm class="weather-form" :title="$t(`${prefix}.title`)">
    <template #description>
      {{ $t(`${prefix}.description`) }}
    </template>
    <BaseFormGroup :label="$t(`${prefix}.skyStatus`)">
      <template #description>
        {{ $t(`${prefix}.skyDescription`) }}
      </template>
      <BaseFormRadioButton
        v-for="option in skyStatusyOptions"
        :key="option.key"
        v-model="model.skyStatus"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.precipitationType`)">
      <BaseFormRadioButton
        v-for="option in precipitationTypeOptions"
        :key="option.key"
        v-model="model.precipitationType"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowfallIntensity`)" :errors="v$.snowfallIntensity.$errors">
      <template #description>{{ $t(`${descriptionPrefix}.snow_intensity`) }}</template>
      <BaseFormInput
        v-model="model.snowfallIntensity"
        type="number"
        :has-errors="hasErrors(v$.snowfallIntensity.$errors)"
        placeholder="10"
        @input="v$.snowfallIntensity.$touch()"
      >
        <template #postfix>{{ $t(`${descriptionPrefix}.cm_hour`) }}</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.rainIntensity`)">
      <BaseFormRadioButton
        v-for="option in rainIntensityOptions"
        :key="option.key"
        v-model="model.rainIntensity"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.temperature`)" :errors="v$.temperature.$errors">
      <BaseFormInput
        v-model="model.temperature"
        type="number"
        :has-errors="hasErrors(v$.temperature.$errors)"
        placeholder="10"
        @input="v$.temperature.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.minTemperature`)" :errors="v$.minTemperature.$errors">
      <BaseFormInput
        v-model="model.minTemperature"
        type="number"
        :has-errors="hasErrors(v$.minTemperature.$errors)"
        placeholder="10"
        @input="v$.minTemperature.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.maxTemperature`)" :errors="v$.maxTemperature.$errors">
      <BaseFormInput
        v-model="model.maxTemperature"
        type="number"
        :has-errors="hasErrors(v$.maxTemperature.$errors)"
        placeholder="10"
        @input="v$.maxTemperature.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.temperatureChange`)">
      <BaseFormRadioButton
        v-for="option in temperatureChangeOptions"
        :key="option.key"
        v-model="model.temperatureChange"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowfallAmount`)" :errors="v$.snowfallAmount.$errors">
      <BaseFormInput
        v-model="model.snowfallAmount"
        type="number"
        :has-errors="hasErrors(v$.snowfallAmount.$errors)"
        placeholder="10"
        @input="v$.snowfallAmount.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowfallRainAmount`)" :errors="v$.snowfallRainAmount.$errors">
      <BaseFormInput
        v-model="model.snowfallRainAmount"
        type="number"
        :has-errors="hasErrors(v$.snowfallRainAmount.$errors)"
        placeholder="10"
        @input="v$.snowfallRainAmount.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.snowfallTotalAmount`)" :errors="v$.snowfallTotalAmount.$errors">
      <BaseFormInput
        v-model="model.snowfallTotalAmount"
        type="number"
        :has-errors="hasErrors(v$.snowfallTotalAmount.$errors)"
        placeholder="10"
        @input="v$.snowfallTotalAmount.$touch()"
      >
        <template #postfix>{{ '&#176;' }}C</template>
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.lastSnowfallDate`)">
      <template #description>{{ $t(`${descriptionPrefix}.last_snow_date`) }}</template>
      <BaseCalendar
        v-model="model.lastSnowfallDate"
        mode="date"
        class="calendar"
        :placeholder="$t(`common.dates_placeholder`)"
      />
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.windSpeed`)">
      <template #description>
        <div v-for="item in windSpeedDesc" :key="item.title">
          <span class="weather-form__highlighted">{{ item.title }}: </span>
          <span>{{ item.desc }}</span>
        </div>
      </template>
      <BaseFormRadioButton
        v-for="option in windSpeedOptions"
        :key="option.key"
        v-model="model.windSpeed"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.directionWind`)">
      <BaseFormRadioButton
        v-for="option in directionWindOptions"
        :key="option.key"
        v-model="model.directionWind"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.windTransferSnow`)">
      <template #description>
        <div>{{ $t(`${descriptionPrefix}.wind_transfer_snow`) }}</div>
        <div v-for="item in windTransferSnowDesc" :key="item.title">
          <span class="weather-form__highlighted">{{ item.title }}: </span>
          <span>{{ item.desc }}</span>
        </div>
      </template>
      <BaseFormRadioButton
        v-for="option in windTransferSnowOptions"
        :key="option.key"
        v-model="model.windTransferSnow"
        :value="option.key"
      >
        {{ option.text }}
      </BaseFormRadioButton>
    </BaseFormGroup>
    <BaseFormGroup :label="$t(`${prefix}.comments`)">
      <BaseFormTextArea v-model="model.comments" maxlength="2000"></BaseFormTextArea>
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import useVuelidate from '@vuelidate/core';

import ReportForm from './ReportForm.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseCalendar from '../BaseCalendar.vue';
import BaseFormTextArea from '@/components/BaseFormTextarea.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';
import BaseFormRadioButton from '@/components/BaseFormRadioButton.vue';

import {
  CardinalPoint,
  PrecipitationType,
  RainIntensity,
  Report,
  SkyStatus,
  TemperatureChange,
  WeatherReport,
  WindSpeed,
  WindTransferSnow,
} from '@/types/Report';
import { between } from '@vuelidate/validators';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { isEqual } from 'lodash';

const { hasErrors } = useErrorHandler();
const { t } = useI18n();

const prefix = 'reports.fields.weatherReport';
const optionsPrefix = 'reports.options';
const descriptionPrefix = 'reports.description';

const skyStatusyOptions = computed(() =>
  Object.keys(SkyStatus).map(key => ({
    text: t(`${optionsPrefix}.sky_status.${key}`),
    key,
  })),
);

const precipitationTypeOptions = computed(() =>
  Object.keys(PrecipitationType).map(key => ({
    text: t(`${optionsPrefix}.precipitation_type.${key}`),
    key,
  })),
);

const rainIntensityOptions = computed(() =>
  Object.keys(RainIntensity).map(key => ({
    text: t(`${optionsPrefix}.rain_intensity.${key}`),
    key,
  })),
);

const temperatureChangeOptions = computed(() =>
  Object.keys(TemperatureChange).map(key => ({
    text: t(`${optionsPrefix}.temperature_change.${key}`),
    key,
  })),
);

const windSpeedOptions = computed(() =>
  Object.keys(WindSpeed).map(key => ({
    text: t(`${optionsPrefix}.wind_speed.${key}`),
    key,
  })),
);

const windSpeedDesc = computed(() =>
  Object.keys(WindSpeed).map(key => ({
    title: t(`${optionsPrefix}.wind_speed.${key}`),
    desc: t(`${descriptionPrefix}.wind_speed_desc.${key}`),
  })),
);

const directionWindOptions = computed(() =>
  Object.keys(CardinalPoint).map(key => ({
    text: t(`${optionsPrefix}.cardinal_point.${key}`),
    key,
  })),
);

const windTransferSnowOptions = computed(() =>
  Object.keys(WindTransferSnow).map(key => ({
    text: t(`${optionsPrefix}.wind_transfer_snow.${key}`),
    key,
  })),
);

const windTransferSnowDesc = computed(() =>
  Object.keys(WindTransferSnow)
    .filter(key => key !== WindTransferSnow.ABSENT)
    .map(key => ({
      title: t(`${optionsPrefix}.wind_transfer_snow.${key}`),
      desc: t(`${descriptionPrefix}.wind_transfer_snow_desc.${key}`),
    })),
);

const props = defineProps<{
  value: Report;
}>();

const rules = {
  snowfallIntensity: {
    between: between(1, 20),
  },
  temperature: {
    between: between(-50, 40),
  },
  minTemperature: {
    between: between(-50, 30),
  },
  maxTemperature: {
    between: between(-40, 40),
  },
  snowfallAmount: {
    between: between(0, 150),
  },
  snowfallRainAmount: {
    between: between(0, 100),
  },
  snowfallTotalAmount: {
    between: between(0, 300),
  },
};

const model = ref<WeatherReport>({});

const emit = defineEmits(['update']);
const v$ = useVuelidate(rules, model);

watch(
  () => props.value,
  v => {
    const { weatherReport } = v;
    if (isEqual(weatherReport, model.value)) return;

    model.value = {
      ...model.value,
      ...weatherReport,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { weatherReport: { ...value } });
  },

  { deep: true },
);
</script>

<style lang="scss" scoped>
.weather-form {
  &__highlighted {
    @include font-caption(600);
    color: $color-blue-600;
  }
}
</style>
