<template>
  <div class="skeleton-view">
    <div class="skeleton-view__header">
      <SkeletonLine
        v-for="(field, index) in headerFields"
        :key="index"
        :size="field.size"
        :width="field.width ?? 100"
      ></SkeletonLine>
    </div>
    <div class="skeleton-view__content">
      <div v-for="f in 3" :key="f" class="skeleton-view__fieldgroup">
        <SkeletonLine
          v-for="(field, index) in contentFields"
          :key="index"
          :size="field.size"
          :width="field.width ?? 100"
        ></SkeletonLine>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import SkeletonLine from '@/components/BaseSkeletonLine.vue';

const headerFields = [{ size: 'small' }, { size: 'large' }, { size: 'small' }, { size: 'small', width: 80 }];
const contentFields = [{ size: 'small' }, { size: 'small', width: 50 }];
</script>

<style lang="scss" scoped>
.skeleton-view {
  width: 100%;
  height: 100%;
  background: $color-white;
  padding: 1rem;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid $color-gray-200;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__fieldgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
</style>
