<template>
  <div class="details">
    <div v-for="item in values" :key="item.title" class="details__item">
      <span class="details__title">{{ item.title }}</span>
      <span class="details__value">{{ item.value }}</span>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import {
  AvalancheReport,
  IncidentReport,
  QuickReport,
  ReportTypes,
  SnowpackReport,
  WeatherReport,
} from '@/types/Report';
import { useI18n } from 'vue-i18n';

import { REPORT_OPTIONS_TRANSLATE_KEYS } from '@/constants';

const { t } = useI18n();

const props = defineProps<{
  details: AvalancheReport | IncidentReport | WeatherReport | SnowpackReport | QuickReport | undefined;
  type: ReportTypes;
}>();

const dateFields = ['lastSnowfallDate', 'timeWeakLayer', 'date'];

const description = (field: { value: string | Array<string> | number | boolean; key: string }) => {
  if (typeof field.value === 'boolean') {
    return t(`common.${field.value}`);
  }
  if (Array.isArray(field.value)) {
    return field.value.map(e => t(`${REPORT_OPTIONS_TRANSLATE_KEYS[props.type][field.key]}.${e}`)).join(', ');
  }
  if (typeof field.value === 'string') {
    if (dateFields.includes(field.key)) {
      return new Date(field.value).toLocaleDateString();
    }
    // FIXME: handle 'anotherActivityType' to show only if 'activityType' is 'other'
    if (field.key === 'comments' || field.key === 'anotherActivityType') {
      return field.value;
    }
    return t(`${REPORT_OPTIONS_TRANSLATE_KEYS[props.type][field.key]}.${field.value}`);
  }
  return field.value;
};

const values = computed(() => {
  if (!props.details) return [];
  return Object.entries(props.details).map(([key, value]) => ({
    title: t(`reports.fields.${props.type}.${key}`),
    value: description({ key, value }),
  }));
});
</script>

<style lang="scss" scoped>
.details {
  padding: 1rem;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  &__title {
    color: $color-gray-500;
  }

  &__value {
    color: $color-gray-700;
  }
}
</style>
