<template>
  <div class="report-filters">
    <BaseScrollableHorizontal>
      <div class="report-filters__inner">
        <ReportFiltersDaterange v-model="model.range" />
        <ReportFiltersType v-model="model.type" />
        <ReportFiltersRole v-model="model.role" />
      </div>
    </BaseScrollableHorizontal>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

import ReportFiltersDaterange from '@/components/report/ReportFiltersDaterange.vue';
import ReportFiltersType from '@/components/report/ReportFiltersType.vue';
import ReportFiltersRole from '@/components/report/ReportFiltersRole.vue';
import BaseScrollableHorizontal from '../BaseScrollableHorizontal.vue';

import { DateRangeType } from '@/types/Common';
import { ReportFilterTypes } from '@/types/Report';

const model = ref({
  range: { start: null, end: null } as DateRangeType,
  type: {
    quickReport: false,
    avalancheReport: false,
    snowpackReport: false,
    weatherReport: false,
    incidentReport: false,
  } as ReportFilterTypes,
  role: false,
});
</script>

<style lang="scss" scoped>
.report-filters {
  display: flex;
  position: relative;
  max-width: auto;

  border-bottom: 1px solid $color-gray-200;

  @include respond($breakpoint-mobile) {
    max-width: 376px;
  }
  & .dropdown {
    position: static;
  }

  & :deep(.dropdown__content) {
    top: 90%;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
</style>
