<template>
  <section class="report-base-info">
    <div class="report-base-info__header">
      <span class="report-base-info__author">{{ value?.account?.name ?? '' }}</span>
      <BasePoint />
      <span class="report-base-info__author-role">{{ value?.account?.role ?? '' }}</span>
      <BasePoint />
      <span class="report-base-info__modify-date">{{ dateModifyFormatted }}</span>
      <slot name="menu"></slot>
    </div>

    <div class="report-base-info__title">
      <span>{{ value.name }}</span>
    </div>
    <div class="report-base-info__location-wrapper">
      <div class="report-base-info__date">
        <BaseIcon name="ic_calendar" class="report-base-info__icon" />
        <span>{{ dateFormatted }}</span>
      </div>
      <div class="report-base-info__location">
        <BaseIcon name="ic_location" class="report-base-info__icon" />
        <span>{{ value.latitude }}{{ '&#176;' }} , {{ value.longitude }}{{ '&#176;' }} </span>
      </div>
    </div>
    <slot name="tags"></slot>
  </section>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import BaseIcon from '../BaseIcon.vue';
import BasePoint from '@/components/BasePoint.vue';
import { ReportPreview, ReportTypes } from '@/types/Report';
import { Optional } from '@/types/utils';

import { formatDate } from '@/filters/date';

export type ReportBaseInfoType = Optional<ReportPreview, 'id' | 'status' | ReportTypes>;

const props = defineProps<{ value: ReportBaseInfoType }>();

const dateModifyFormatted = computed(() => formatDate(props.value.dateAndTime ?? '', 'dd.MM.yyyy'));
const dateFormatted = computed(() => formatDate(props.value.dateAndTime ?? '', 'dd MMMM yyyy'));
</script>

<style lang="scss" scoped>
.report-base-info {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;

  padding: 1rem;

  @include font-body-14();

  &__header {
    display: flex;
    gap: 0.5rem;
    display: flex;
    align-items: center;

    @include font-caption();
    color: $color-gray-500;
  }
  &__author-role {
    text-align: center;

    color: $color-white;
    background: $color-green-600;
    padding: 2px 6px;
    border-radius: 1.5rem;

    @include font-mobile(600);
  }

  &__date,
  &__location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__location-wrapper {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }

  &__title {
    @include font-body-16(600);
    margin-bottom: 0.25rem;
  }

  &__icon {
    color: $color-gray-400;
  }
}
</style>
