<template>
  <div class="report-form">
    <header v-if="title || $slots.description" class="report-form__header">
      <div class="report-form__title">{{ title }}</div>
      <div class="report-form__description">
        <slot name="description"></slot>
      </div>
    </header>
    <slot></slot>
  </div>
</template>
<script lang="ts" setup>
withDefaults(
  defineProps<{
    title?: string;
  }>(),
  { title: '' },
);
</script>
<style lang="scss">
.report-form {
  display: flex;
  flex-direction: column;
  background: $color-white;
  border-radius: 1rem;
  padding: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
  }

  &__title {
    @include font-subtitle-20(500);
  }
  &__description {
    @include font-caption();
    color: $color-gray-500;
  }
}
</style>
