<template>
  <ReportForm id="attachment" class="attachment-form" :title="$t(`reports.description.attachment`)">
    <template #description>
      {{ $t(`reports.description.attachment_desc`) }}
    </template>
    <BaseFormDnD :attachments="model" :accept="mimeTypes" @upload="saveFileAttachments" @delete="deleteAttachment" />
  </ReportForm>
</template>

<script setup lang="ts">
import * as R from 'ramda';
import { ref, watch } from 'vue';
import { Report } from '@/types/Report';
import { Attachment } from '@/types/Attachment';

import BaseFormDnD from '../BaseFormDnD.vue';
import ReportForm from './ReportForm.vue';

import { useI18n } from 'vue-i18n';
import { ToastType, useToast } from '@/composable/useToast';
import { useAttachmentStore } from '@/stores/attachmentStore';
import { isEqual } from 'lodash';

const { t } = useI18n();
const { toast } = useToast();
const attachmentStore = useAttachmentStore();

const props = defineProps<{
  value: Report;
}>();

const model = ref<Attachment[]>([]);

const emit = defineEmits(['update']);

const mimeTypes = [
  'image/apng',
  'image/png',
  'image/jpeg',
  'image/jpg',
  'image/svg+xml',
  'image/webp',
  'image/gif',
  'image/avif',
];

watch(
  () => props.value,
  v => {
    const { images } = v;
    if (isEqual(images, model.value)) return;

    if (images) {
      model.value = [...model.value, ...images];
    }
  },
  {
    deep: true,
  },
);

watch(
  model,
  () => {
    emit('update', { images: model.value });
  },
  { deep: true },
);

const saveFileAttachments = async (file: File) => {
  const attachment = await attachmentStore.save(file);
  model.value = [...model.value, attachment];
  emit('update', model.value);
};

const deleteAttachment = async (id: number) => {
  await attachmentStore.remove(id);
  toast({ message: t('reports.attachment_deleted'), type: ToastType.SUCCESS });

  model.value = R.reject(R.propEq<string>('id', id), model.value);
  emit('update', model.value);
};
</script>
<style lang="scss"></style>
