<template>
  <BaseDropdown>
    <template #toggle="{ toggle }">
      <div class="report-filter" @click="toggle">
        <template v-if="showValue">
          <slot name="value" />
          <BaseIcon
            name="ic_solid_x_circle"
            class="report-filter__icon report-filter__clear"
            :width="20"
            @click.prevent.stop="emit('clear')"
          />
        </template>
        <div v-else class="report-filter__placeholder">
          <span>{{ placeholder }}</span>
          <BaseIcon name="ic_cheveron_down" class="report-filter__icon" :width="20" />
        </div>
      </div>
    </template>
    <template #default="{ close }">
      <div class="report-filter__content">
        <div class="">
          <slot :close="close" />
        </div>
        <div class="report-filter__buttons">
          <BaseButton kind="outline" @click="cancel(close)">{{ $t('common.reset') }}</BaseButton>
          <BaseButton @click="apply(close)">{{ $t('common.apply') }}</BaseButton>
        </div>
      </div>
    </template>
  </BaseDropdown>
</template>

<script lang="ts" setup>
import BaseIcon from '../BaseIcon.vue';
import BaseDropdown from '../BaseDropdown.vue';
import BaseButton from '../BaseButton.vue';

withDefaults(defineProps<{ showValue?: boolean; placeholder?: string }>(), { placeholder: '', showValue: false });
const emit = defineEmits(['clear', 'click', 'cancel', 'apply']);

const cancel = (closeCb?: () => void) => {
  if (closeCb) {
    closeCb();
  }
  emit('cancel');
};

const apply = (closeCb: () => void) => {
  closeCb();
  emit('apply');
};
</script>

<style lang="scss" scoped>
.report-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  height: 2rem;
  padding: 0.25rem;

  background: $color-gray-50;
  border-radius: 0.5rem;

  @include font-body-14();

  &:hover {
    cursor: pointer;
    background: $color-gray-100;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0 0.5rem;
    color: $color-gray-500;
  }

  &__icon {
    color: $color-gray-400;
  }

  &__clear {
    margin-right: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 376px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    margin: -0.5rem;
    padding: 0.5rem;

    background-color: $color-gray-50;

    .btn {
      width: 100%;
    }
  }
}
</style>
