<template>
  <ReportForm class="base-info-form">
    <BaseFormGroup :errors="v$.name.$errors" :label="$t(`${descriptionPrefix}.name`)" required>
      <BaseFormInput
        v-model="model.name"
        :placeholder="$t(`${descriptionPrefix}.name`)"
        :has-errors="hasErrors(v$.name.$errors)"
        @input="v$.name.$touch()"
      >
      </BaseFormInput>
    </BaseFormGroup>
    <BaseFormGroup :errors="v$.dateAndTime.$errors" :label="t(`${descriptionPrefix}.date`)" required>
      <div class="base-info-form__date-time">
        <BaseCalendar
          v-model="model.dateAndTime"
          mode="date"
          :has-errors="hasErrors(v$.dateAndTime.$errors)"
          class="base-info-form__calendar"
        />
        <BaseCalendar
          v-model="model.dateAndTime"
          mode="time"
          :has-errors="hasErrors(v$.dateAndTime.$errors)"
          class="base-info-form__calendar"
        />
      </div>
    </BaseFormGroup>
    <BaseFormGroup :errors="coordinatesErrors" :label="$t(`${descriptionPrefix}.coordinates`)" required>
      <template #description>{{ $t(`${descriptionPrefix}.coordinates_description`) }}</template>
      <div class="base-info-form__coordinates">
        <BaseFormInput
          v-model="model.latitude"
          type="number"
          :placeholder="$t(`${descriptionPrefix}.coordinates_latitude`)"
          :has-errors="hasErrors(v$.latitude.$errors)"
          maxlength="7"
          @input="v$.latitude.$touch()"
        />
        <BaseFormInput
          v-model="model.longitude"
          type="number"
          :placeholder="$t(`${descriptionPrefix}.coordinates_longitude`)"
          :has-errors="hasErrors(v$.longitude.$errors)"
          maxlength="7"
          @input="v$.longitude.$touch()"
        />
      </div>
    </BaseFormGroup>
  </ReportForm>
</template>

<script lang="ts" setup>
import { ref, computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import useVuelidate, { ValidationArgs } from '@vuelidate/core';
import { required, not, sameAs } from '@vuelidate/validators';

import ReportForm from '@/components/report/ReportForm.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseCalendar from '@/components/BaseCalendar.vue';
import BaseFormGroup from '@/components/BaseFormGroup.vue';

import { Report } from '@/types/Report';
import { useErrorHandler } from '@/composable/useErrorHandler';
import { wrongLatitude, wrongLongitude } from '@/utils/validation';
import { isEqual } from 'lodash';

const { hasErrors } = useErrorHandler();

const emit = defineEmits(['update']);
const props = defineProps<{ value: Report }>();

const { t } = useI18n();

const descriptionPrefix = 'reports.description';

const model = ref({
  name: '',
  dateAndTime: '',
  longitude: 0,
  latitude: 0,
});

watch(
  () => props.value,
  v => {
    const { name, dateAndTime, longitude, latitude } = v;
    if (isEqual(model.value, { name, dateAndTime, longitude, latitude })) return;

    model.value = {
      ...model.value,
      name,
      dateAndTime: dateAndTime.toLocaleString(),
      longitude,
      latitude,
    };
  },
  { deep: true },
);

watch(
  model,
  value => {
    emit('update', { ...value });
  },

  { deep: true },
);

const coordinatesErrors = computed(() => {
  return v$.value.longitude.$errors.length ? v$.value.longitude.$errors : v$.value.latitude.$errors;
});

const rules: ValidationArgs = {
  name: {
    required,
  },
  dateAndTime: {
    required,
  },
  longitude: {
    required,
    notNullCoordinates: not(sameAs(0)),
    wrongLongitude: () => wrongLongitude(model.value?.longitude.toString()),
  },
  latitude: {
    required,
    wrongLatitude: () => wrongLatitude(model.value?.latitude.toString()),
    notNullCoordinates: not(sameAs(0)),
  },
};

const v$ = useVuelidate(rules, model);
</script>

<style lang="scss">
.base-info-form {
  border-radius: 0;

  @include respond($breakpoint-mobile) {
    border-radius: 0 0 1rem 1rem;
  }

  &__coordinates {
    display: flex;
    width: 100%;
    gap: 0.5rem;
  }

  &__date-time {
    display: flex;
    gap: 0.5rem;
  }
}
</style>
