<template>
  <div class="skeleton-listing">
    <div v-for="index in 3" :key="index" class="skeleton-listing__report">
      <SkeletonLine v-for="(field, f) in fields" :key="f" :size="field.size" :width="field.width ?? 100"></SkeletonLine>
      <div class="skeleton-listing__tags">
        <SkeletonLine v-for="field in 3" :key="field" size="medium" :width="20"></SkeletonLine>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import SkeletonLine from '@/components/BaseSkeletonLine.vue';

const fields = [{ size: 'small' }, { size: 'large' }, { size: 'small' }, { size: 'small', width: 80 }];
</script>

<style lang="scss" scoped>
.skeleton-listing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $color-white;
  overflow: hidden;

  &__report {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid $color-gray-200;
    padding: 1rem;
  }

  &__tags {
    display: flex;
    gap: 0.5rem;
  }
}
</style>
