<template>
  <ReportFiltersItem
    class="report-daterange"
    :show-value="showDateValue"
    :placeholder="$t('common.date')"
    @clear="clear"
    @cancel="cancel"
    @apply="apply"
  >
    <template #value>
      <div class="report-daterange__value">{{ formattedDateRange }}</div>
    </template>
    <DatePicker v-model="model" is-inline is-range class="report-daterange__datepicker" is-expanded />
  </ReportFiltersItem>
</template>

<script lang="ts" setup>
import { ref, computed, watch } from 'vue';
import { DatePicker } from 'v-calendar';

import ReportFiltersItem from './ReportFiltersItem.vue';

import { formatDate } from '@/filters/date';
import { DateRangeType } from '@/types/Common';

const emit = defineEmits(['update:modelValue', 'close']);

const props = defineProps<{ modelValue: DateRangeType }>();

const model = ref<DateRangeType>({ start: null, end: null });

watch(
  () => props.modelValue,
  value => {
    model.value = value;
  },
);

const cancel = () => {
  model.value = props.modelValue;
};

const apply = () => {
  emit('update:modelValue', model.value);
};

const formattedDateRange = computed(() => {
  const { start, end } = model.value;

  return start && end ? `${formatDate(start, 'dd.MM.yyyy')} – ${formatDate(end, 'dd.MM.yyyy')}` : '';
});

const showDateValue = computed(() => model.value.start !== null && model.value.end !== null);

const clear = () => {
  model.value = { start: null, end: null };
};
</script>

<style lang="scss" scoped>
.report-daterange {
  &__value {
    margin-left: 0.5rem;
    width: max-content;
  }

  &__datepicker {
    border: none;
  }
}
</style>
