<template>
  <div class="skeleton">
    <div class="skeleton__header">
      <SkeletonLine v-for="(field, index) in fields" :key="index" :size="field.size" :width="field.width ?? 100" />
    </div>
    <div v-for="f in 7" :key="f" class="skeleton__fieldgroup">
      <SkeletonLine size="medium" :width="60" />
      <div class="skeleton__fields">
        <SkeletonLine v-for="field in 3" :key="field" class="item" size="large" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import SkeletonLine from '@/components/BaseSkeletonLine.vue';

const fields = [{ size: 'medium' }, { size: 'medium' }, { size: 'medium', width: 80 }];
</script>

<style lang="scss" scoped>
.skeleton {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: $color-white;
  border-radius: 1rem;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__fieldgroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }

  &__fields {
    display: flex;
    gap: 0.5rem;
  }
}
</style>
