<template>
  <BaseButton class="btn-loading">
    <div v-if="waiter.is(loader)" class="btn-loading__spinner"></div>
    <slot v-else></slot>
  </BaseButton>
</template>

<script setup lang="ts">
import { useWait } from '@/composable/useWait';
import BaseButton from './BaseButton.vue';

defineProps<{ loader: string | string[] }>();

const waiter = useWait();
</script>

<style lang="scss" scoped>
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.btn-loading {
  &__spinner {
    height: 1.25rem;
    width: 1.25rem;
    animation: rotation 0.7s infinite linear;
    border: 3px solid $color-blue-400;
    border-top-color: $color-white;
    border-radius: 100%;
  }
}
</style>
