<template>
  <details :class="['collapsible']" :open="openState" @toggle="toggle">
    <summary class="collapsible__heading">
      <header v-if="!editable" class="collapsible__header">
        <base-icon name="ic_shevron-right-large" class="collapsible__icon motion-icon" width="24"></base-icon>
        <div class="collapsible__title">{{ title }}</div>
        <div v-if="$slots.actions" class="collapsible__actions">
          <slot name="actions"></slot>
        </div>
      </header>
      <BaseTextField
        v-else
        class="collapsible__title-edit"
        size="large"
        :model-value="title"
        confirmation
        autofocus
        @update:modelValue="update"
      />
    </summary>
    <div class="collapsible__body">
      <slot :was-opened="wasOpened" :is-open="openState"></slot>
    </div>
  </details>
</template>

<script setup>
// TODO: maybe make header slot instead of editable prop here
import { ref } from 'vue';
import BaseIcon from './BaseIcon.vue';
import BaseTextField from './BaseFormInput.vue';

defineProps({
  title: {
    type: String,
    required: true,
  },

  editable: {
    type: Boolean,
    default: false,
  },
});

const openState = ref(false);
const wasOpened = ref(false);

const emit = defineEmits(['toggle', 'update']);

const toggle = () => {
  openState.value = !openState.value;
  wasOpened.value = true;
  emit('toggle', openState.value);
};

const update = value => {
  emit('update', value);
};
</script>

<style lang="scss" scoped>
.collapsible {
  &[open] {
    .motion-icon {
      transform: rotate(90deg);
    }
  }

  &__heading {
    display: flex;
    align-items: center;

    height: 60px;
    border-radius: 0.25rem;

    color: $color-gray-900;
    @include font-body-16(500);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
    height: 100%;

    padding-left: 1rem;
    border-radius: 0.25rem;

    &:hover {
      cursor: pointer;
      background: $color-gray-100;
    }
  }

  &__actions {
    display: flex;
    margin-right: 0.5rem;
    color: $color-gray-400;
  }

  &__title {
    @include font-body-16();
    margin-right: auto;
  }

  &__title-edit {
    min-height: 100%;
  }

  &__icon {
    color: $color-gray-400;
  }

  &__body {
    padding-left: 4rem;
  }
}
</style>
