<template>
  <div class="dropdown-elem" :class="{ 'dropdown-elem_divider': divider }">
    <base-icon v-if="icon" class="dropdown-elem__icon" :name="icon"></base-icon>
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import BaseIcon from './BaseIcon.vue';

defineProps({
  divider: {
    type: Boolean,
    default: false,
  },

  icon: {
    type: String,
    default: '',
  },
});
</script>

<style lang="scss" scoped>
.dropdown-elem {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  min-width: max-content;
  height: 2.5rem;
  padding: 0 0.5rem;

  color: $color-gray-700;
  border-radius: 0.5rem;
  cursor: pointer;

  @include font-body-14();

  &,
  &:hover {
    text-decoration: none;
  }

  &:hover,
  &:link:hover,
  &:link:focus {
    background-color: $color-gray-100;
  }

  &_divider {
    margin: 0.5rem 0;
    height: 1px;
    overflow: hidden;

    padding: 0;
    background-color: $color-gray-200;
    cursor: default;

    &:hover,
    &:link:hover,
    &:link:focus {
      cursor: default;
      background-color: $color-gray-200;
    }
  }

  &__icon {
    color: $color-gray-400;
  }
}
</style>
