<template>
  <VTable :data="data" class="base-table" sort-header-class="base-table__header-inner">
    <template #head>
      <VTh
        v-for="h in headers"
        :key="h.key"
        class="base-table__header"
        v-bind="headerAttrs(h)"
        @sortChanged="sortChanged($event, h.key)"
        >{{ h.value }}</VTh
      >
    </template>
    <template #body="{ rows }">
      <tr v-for="row in rows" :key="row.id" class="base-table__row">
        <slot name="row" :row="row"></slot>
      </tr>
      <template v-if="$slots.loading">
        <tr v-for="(item, index) in Array.from(Array(5))" :key="index" class="base-table__row">
          <slot name="loading"></slot>
        </tr>
      </template>
    </template>
  </VTable>
</template>

<script setup>
import { SORT_ORDER } from '@/constants';

const props = defineProps({
  data: {
    type: Array,
    required: true,
  },
  headers: {
    type: Array,
    required: true,
    validator(value) {
      return value.every(x => ['key', 'value'].every(y => Object.keys(x).includes(y)));
    },
  },
  serverSort: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['sort']);

const headerAttrs = cell => {
  const attrs = cell.colspan ? { colspan: cell.colspan } : {};
  if (props.serverSort) {
    attrs.customSort = disableSort;
  } else {
    attrs.sortKey = cell.key;
  }

  return attrs;
};

const disableSort = () => 0;

const sortChanged = ({ sortOrder }, key) => {
  emit('sort', { sortOrder: SORT_ORDER[sortOrder], key });
};
</script>

<style lang="scss" scoped>
.base-table {
  width: 100%;
  height: 0; // Hack to apply height of rows
  border-collapse: collapse;

  &__header {
    color: $color-gray-500;
    text-align: left;
    text-transform: uppercase;

    padding: 1.25rem 0.75rem;

    box-shadow: inset 0px -1px 0px $color-gray-300;

    @include font-body-14(600);

    &:hover {
      cursor: pointer;
    }
  }

  :deep(.base-table__header-inner) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__row {
    min-height: 60px;
    box-shadow: inset 0px -1px 0px $color-gray-300;
  }
}
</style>
