<template>
  <div class="base-nav">
    <div
      v-for="(tab, i) in tabs"
      :key="`header${i}`"
      :class="[`base-nav__tab`, tab.key === tabClicked && 'active']"
      @click="goToAnchor(tab.key)"
    >
      {{ tab.value }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const tabClicked = ref('common');

defineProps<{
  tabs: Array<{ key: string; value: string }>;
}>();

const goToAnchor = (anchorId: string) => {
  tabClicked.value = anchorId;

  const item = document.getElementById(anchorId);
  if (!item) return;
  item.scrollIntoView({
    behavior: 'smooth',
    block: 'start',
  });
};
</script>

<style lang="scss" scoped>
.base-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  color: $color-gray-500;
  white-space: nowrap;

  @include font-body-14();

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 30px;
    white-space: nowrap;

    &:hover {
      color: $color-gray-900;
    }
    &.active {
      color: $color-blue-600;
      box-shadow: 0px -2px 0px inset $color-blue-600;
    }
  }
}
</style>
