<template>
  <span :class="classPoint"></span>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = defineProps({
  theme: {
    type: String,
    default: 'gray',
  },
});

const classPoint = computed(() => ['point', props.theme && `point_theme_${props.theme}`]);
</script>

<style lang="scss" scoped>
.point {
  border-radius: 50%;
  border: 2px solid $color-gray-400;
  &_theme {
    &_gray {
      border-color: $color-gray-400;
    }
    &_green {
      border-color: $color-green-600;
    }
    &_indigo {
      border-color: $color-purple-600;
    }
    &_blue {
      border-color: $color-blue-500;
    }
    &_orange {
      border-color: $color-orange-500;
    }
    &_red {
      border-color: $color-red-500;
    }
  }
}
</style>
