<template>
  <div class="spinner"></div>
</template>

<script setup></script>

<style lang="scss" scoped>
.spinner {
  border: 4px solid $color-gray-300;
  border-top: 4px solid $color-purple-600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
