<template>
  <div class="tabs">
    <div class="tabs__inner">
      <router-link
        v-for="tab in tabs"
        :key="tab.id"
        :to="tab.url"
        :title="tab.name"
        :class="['tabs__link link', isActiveTab(tab) && 'tabs__link_active']"
      >
        {{ tab.name }}
      </router-link>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';

const route = useRoute();
type Tab = { id: string; name: string; url: string };

withDefaults(defineProps<{ tabs?: Tab[] }>(), { tabs: () => [] });

const isActiveTab = (item: Tab) => {
  const pattern = `^/.*/${item.id}`;
  const re = new RegExp(pattern, 'gm');
  return re.test(route.path);
};
</script>

<style lang="scss" scoped>
.tabs {
  overflow-x: scroll;
  scrollbar-width: none;

  @include font-body-14();

  &::-webkit-scrollbar {
    display: none;
  }

  &__link {
    cursor: pointer;
    color: $color-gray-700;
    padding: 0.75rem;
    transition: $default-transition;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0px -2px 0px $color-purple-600;
      color: $color-purple-600;
      text-decoration: none;
    }

    &_active,
    &:focus {
      box-shadow: inset 0px -2px 0px $color-purple-600;
      color: $color-purple-600;
      text-decoration: none;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
</style>
