<template>
  <div ref="target" :class="dropdownClasses">
    <div class="dropdown__toggle">
      <slot name="toggle" :toggle="toggle"></slot>
    </div>
    <div class="dropdown__content" @close="toggle">
      <slot :close="close" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { ref, computed, watch } from 'vue';
import { onClickOutside } from '@vueuse/core';

const router = useRouter();

const props = defineProps({
  alignContent: {
    type: String,
    default: 'left',
    validator: (value: string) => {
      return ['left', 'right'].indexOf(value) !== -1;
    },
  },
  direction: {
    type: String,
    default: 'down',
    validator: (value: string) => {
      return ['up', 'down'].indexOf(value) !== -1;
    },
  },
});

const emit = defineEmits(['open', 'close']);

const target = ref(null);
onClickOutside(target, () => close());

const close = () => {
  isOpen.value = false;
  emit('close');
};

watch(
  () => router,
  () => close(),
);

const dropdownClasses = computed(() => [
  'dropdown',
  `dropdown_align_${props.alignContent}`,
  `dropdown_direction_${props.direction}`,
  isOpen.value && 'dropdown_open',
]);

const isOpen = ref(false);
const toggle = () => {
  isOpen.value = !isOpen.value;
};
</script>

<style lang="scss">
.dropdown {
  position: relative;
  width: fit-content;
  height: max-content;

  &__toggle {
    display: flex;
    cursor: pointer;
  }

  &__content {
    display: none;
    position: absolute;

    z-index: $zindex-dropdown;
    min-width: 10rem;
    list-style: none;
    background-color: $color-white;
    box-shadow: $shadow-medium;

    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;

    margin: 0.25rem 0;

    .dropdown_open & {
      display: block;
    }

    .dropdown_align_right & {
      right: auto;
      left: 0;
    }

    .dropdown_align_right & {
      right: 0;
      left: auto;
    }

    .dropdown_direction_down & {
      top: 100%;
      bottom: auto;
    }
    .dropdown_direction_up & {
      top: auto;
      bottom: 100%;
    }
  }
}
</style>
