<template>
  <div class="tabs">
    <BaseScrollableHorizontal>
      <div class="tabs__tabs">
        <a
          v-for="tab in state.tabs"
          :key="tab.name"
          :class="['tabs__tab', tab.isActive && 'tabs__tab_active']"
          @click.prevent="selectTab(tab.hash)"
          >{{ tab.name }}</a
        >
      </div>
    </BaseScrollableHorizontal>
    <div class="tabs__content">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, provide, onMounted } from 'vue';
import { TabType } from '@/components/BaseTabsItem.vue';
import BaseScrollableHorizontal from '@/components/BaseScrollableHorizontal.vue';
export type TabsType = {
  tabs: TabType[];
  activeTabHash: string;
};

defineEmits(['changed', 'clicked']);

const state = ref({
  activeTabHash: '',
  tabs: [] as TabType[],
});

provide('tabsProvider', state.value);

const selectTab = (selectedTabHash: string) => {
  const selectedTab = findTab(selectedTabHash);
  if (!selectedTab || selectedTab?.disabled) {
    return;
  }
  state.value.tabs.forEach((tab: TabType) => {
    tab.isActive = tab.hash === selectedTab?.hash;
  });
  state.value.activeTabHash = selectedTab?.hash;
};

const findTab = (hash: string) => {
  return state.value.tabs.find(tab => tab.hash === hash);
};

onMounted(() => {
  if (!state.value.tabs.length) {
    return;
  }
  const windowHash = decodeURIComponent(window.location.hash);

  if (findTab(windowHash)) {
    selectTab(windowHash);
    return;
  }
  selectTab(state.value.tabs[0].hash);
});
</script>

<style lang="scss" scoped>
.tabs {
  display: flex;
  flex-direction: column;
  min-height: 0;

  &__tabs {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-height: 2.5rem;

    padding: 0 1rem;
    color: $color-gray-400;
    box-shadow: 0 -2px 0 -1px inset $color-gray-200;
    white-space: nowrap;
  }

  &__tab {
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;

    color: $color-gray-400;
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;

    @include font-body-14();

    &:hover,
    &_active {
      color: $color-blue-500;
      box-shadow: 0 3px 0 -1px $color-blue-500;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: scroll;
  }
}
</style>
