<template>
  <a :href="href" class="link"><slot></slot></a>
</template>

<script setup lang="ts">
defineProps({
  href: {
    type: String,
    required: true,
  },
});
</script>

<style lang="scss" scoped>
.link {
  color: $color-blue-600;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
</style>
