<template>
  <label class="radio">
    <input
      v-model="model"
      type="radio"
      :value="value"
      class="radio__input"
      v-bind="$attrs"
      @input="emit('update:modelValue', value)"
    />
    <div class="radio__label">
      <div class="radio__label-inner"><slot></slot></div>
    </div>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue';

export type RadioModelType = string | number | null | undefined | Record<string, unknown> | boolean;

const emit = defineEmits(['update:modelValue']);

interface Props {
  value?: string | number | boolean;
  modelValue?: RadioModelType;
}
const props = withDefaults(defineProps<Props>(), { value: undefined, modelValue: undefined });

const model = computed({
  get(): Props['modelValue'] {
    return props.modelValue;
  },
  set(value: Props['modelValue']) {
    emit('update:modelValue', value);
  },
});
</script>

<style lang="scss" scoped>
.radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: min-content;
  min-width: 3.75rem;
  border-radius: 0.5rem;
  border: none;

  @include font-body-14();

  &__label-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 2.5rem;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    width: max-content;
    padding: 0.625rem;

    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: $color-gray-500;
    background: $color-gray-100;

    &:hover {
      color: $color-gray-500;
      background: $color-gray-200;
      cursor: pointer;
    }
    .radio__input:checked + & {
      color: $color-white;
      background: $color-blue-600;
      border: none;

      &:hover {
        background: $color-blue-700;
        border: none;
        cursor: pointer;
      }
    }

    .radio__input:disabled + & {
      cursor: default;
      background: $color-gray-300;
      color: $color-gray-400;
      border: none;

      &:hover {
        background: $color-gray-300;
        color: $color-gray-400;
        border: none;
      }
    }
  }

  &__input {
    display: none;
  }
}
</style>
