<template>
  <BaseFormInput id="email" v-model="model" :has-errors="hasErrors">
    <template #postfix>
      <div class="confirmation">
        <BaseIcon name="ic_cross" class="confirmation__close" width="20" @click.stop.prevent="clearModel" />
        <BaseIcon name="ic_check" class="confirmation__check" width="20" @click.stop.prevent="updateModel" />
      </div>
    </template>
  </BaseFormInput>
</template>

<script lang="ts">
/* eslint-disable import/first */
export default {
  inheritAttrs: false,
};
</script>

<script setup lang="ts">
import { ref, watch } from 'vue';

import BaseFormInput from './BaseFormInput.vue';
import BaseIcon from './BaseIcon.vue';

const props = withDefaults(defineProps<{ modelValue?: number | string | null; hasErrors?: boolean }>(), {
  modelValue: null,
  hasErrors: false,
});

const model = ref();

watch(
  () => props.modelValue,
  v => {
    model.value = v;
  },
  { deep: true, immediate: true },
);

const emit = defineEmits(['update:modelValue']);

const updateModel = () => {
  emit('update:modelValue', model.value);
};

const clearModel = () => {
  emit('update:modelValue', props.modelValue);
};
</script>

<style lang="scss" scoped>
.confirmation {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__check {
    color: $color-green-600;
  }
  &__close {
    color: $color-red-600;
  }
}
</style>
