<template>
  <label class="checkbox">
    <input v-model="model" :value="value" class="checkbox__input" type="checkbox" v-bind="$attrs" />
    <div class="checkbox__label"><slot></slot></div>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue';

interface Props {
  value?: string | number | boolean | undefined;
  modelValue?: string[] | number[] | boolean | undefined;
}

const props = withDefaults(defineProps<Props>(), {
  value: undefined,
  modelValue: undefined,
});

const emit = defineEmits(['update:modelValue']);

const model = computed({
  get(): Props['modelValue'] {
    return props.modelValue ?? (props.value ? [] : undefined);
  },
  set(value: Props['modelValue']) {
    console.log(value);
    emit('update:modelValue', value);
  },
});
</script>

<style lang="scss" scoped>
.checkbox {
  display: flex;
  align-items: center;
  width: min-content;
  border-radius: 0.5rem;
  border: none;
  &__width-100 {
    width: 100%;
  }

  @include font-body-14();

  &__input {
    display: none;
  }

  &__label-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 2.5rem;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    width: max-content;
    padding: 0.625rem;

    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: $color-gray-500;
    background: $color-gray-100;

    &:hover {
      color: $color-gray-500;
      background: $color-gray-200;
      cursor: pointer;
    }

    .checkbox__input:checked + & {
      color: $color-white;
      background: $color-blue-600;
      border: none;

      &:hover {
        background: $color-blue-700;
        border: none;
        cursor: pointer;
      }
    }

    .checkbox__input:disabled + & {
      cursor: default;
      background: $color-gray-300;
      color: $color-gray-400;
      border: none;

      &:hover {
        background: $color-gray-300;
        color: $color-gray-400;
        border: none;
      }
    }
  }
}
</style>
