<template>
  <BaseButton
    :icon="iconName"
    kind="tonal"
    theme="blue"
    :float="float"
    :class="['btn-collapse', `btn-collapse_kind_${kind}`, float && 'btn-collapse_float']"
  ></BaseButton>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import BaseButton from './BaseButton.vue';

const props = withDefaults(
  defineProps<{
    kind?: 'left' | 'right';
    icon?: 'left' | 'right';
    float?: boolean;
  }>(),
  { kind: 'right', icon: 'left', float: false },
);

const iconName = computed(() => (props.icon === 'left' ? 'ic_chevron_left' : 'ic_chevron_right'));
</script>

<style lang="scss" scoped>
.btn-collapse {
  padding: 0.75rem 0;
  border-radius: 0;

  &_float.btn-collapse_kind {
    &_left {
      border-radius: 0.5rem 0 0 0.5rem;
    }
    &_right {
      border-radius: 0px 0.5rem 0.5rem 0px;
    }
  }
}
</style>
