<template>
  <label v-if="$slots.default || label" :for="id" class="base-form-label">
    <slot>{{ label }}</slot>
    <span v-if="required" class="base-form-label__asterisk">*</span>
  </label>
</template>

<script setup lang="ts">
withDefaults(defineProps<{ label?: string; description?: string; required?: boolean; id?: string }>(), {
  label: '',
  description: '',
  required: false,
  id: '',
});
</script>

<style lang="scss" scoped>
.base-form-label {
  display: inline-flex;
  gap: 0.25rem;

  @include font-body-14(600);

  color: $color-gray-700;

  &__asterisk {
    color: $color-red-600;
  }
}
</style>
