<template>
  <div class="base-nav">
    <div
      v-for="{ key, value } in tabs"
      :key="key"
      :class="[`base-nav__tab`, key === tabClicked && 'active']"
      @click="goToAnchor(key)"
    >
      <span :class="`base-nav__href`">
        {{ value }}
      </span>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const props = defineProps<{
  tabs: Array<{ key: string; value: string }>;
}>();

const tabClicked = ref(props.tabs[0].key);

const goToAnchor = (anchorId: string) => {
  console.log(anchorId);
  tabClicked.value = anchorId;

  const item = document.getElementById(anchorId);
  if (!item) return;
  item.scrollIntoView({
    behavior: 'smooth',
    block: 'start',
  });
};
</script>

<style lang="scss" scoped>
.base-nav {
  overflow-x: hidden;
  flex-direction: column;
  min-width: 12rem;

  color: $color-gray-500;
  background: $color-gray-100;

  @include font-body-14();

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 0.625rem 0.75rem;
    height: 2.5rem;
    white-space: nowrap;

    &:hover {
      color: $color-gray-900;
    }
    &.active {
      color: $color-gray-900;
      background-color: $color-blue-100;
      border-radius: 0 2rem 2rem 0;
    }
  }
}
</style>
