<template>
  <section v-show="isActive" :id="computedId" ref="tab" class="base-tab">
    <slot></slot>
  </section>
</template>

<script lang="ts" setup>
import { inject, watch, ref, onBeforeMount } from 'vue';
import { TabsType } from '@/components/BaseTabs.vue';
export type TabType = { name: string; disabled: boolean; hash: string; isActive: boolean };

const props = withDefaults(defineProps<{ id?: string; name: string; disabled?: boolean }>(), {
  id: undefined,
  disabled: false,
});

const tabsProvider = inject<TabsType>('tabsProvider');

const isActive = ref(false);
const computedId = props?.id ?? props.name.toLowerCase().replace(/ /g, '-');
const hash = '#' + (!props.disabled ? computedId : '');

watch(
  () => tabsProvider?.activeTabHash,
  () => {
    isActive.value = hash === tabsProvider?.activeTabHash;
  },
);

onBeforeMount(() => {
  tabsProvider?.tabs.push({
    name: props.name,
    disabled: props.disabled,
    hash: hash,
    isActive: isActive.value,
  });
});
</script>

<style lang="scss" scoped></style>
