<template>
  <div :class="['label', theme && `label_theme_${theme}`]">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>
defineProps({
  theme: {
    type: String,
    default: 'purple',
  },
});
</script>

<style lang="scss" scoped>
.label {
  @include font-body-14();

  padding: 0.25rem 0.625rem;
  border-radius: 0.5rem;

  &_theme {
    &_indigo {
      color: $color-purple-600;
      background: $color-purple-100;
    }

    &_red {
      color: $color-red-600;
      background: $color-red-100;
    }

    &_green {
      color: $color-green-600;
      background: $color-green-100;
    }

    &_orange {
      color: $color-orange-600;
      background: $color-orange-100;
    }
  }
}
</style>
