<template>
  <div :class="dropdownClasses">
    <div class="dropdown-panel__toggle">
      <slot name="toggle" :toggle="toggle"></slot>
    </div>
    <div class="dropdown-panel__wrapper">
      <div ref="target" class="dropdown-panel__content">
        <div class="dropdown-panel__content-inner" @click="toggle">
          <slot :toggle="toggle"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { ref, computed, watch } from 'vue';
import { onClickOutside } from '@vueuse/core';

const router = useRouter();

const props = defineProps({
  alignContent: {
    type: String,
    default: 'right',
    validator: (value: string) => {
      return ['left', 'right'].indexOf(value) !== -1;
    },
  },
});

const emit = defineEmits(['open', 'close']);

const target = ref(null);
onClickOutside(target, () => close());

const close = () => {
  isOpen.value = false;
  emit('close');
};

watch(
  () => router,
  () => close(),
);

const dropdownClasses = computed(() => [
  'dropdown-panel',
  `dropdown-panel_align_${props.alignContent}`,
  isOpen.value && 'dropdown-panel_open',
]);

const isOpen = ref(false);
const toggle = () => {
  isOpen.value = !isOpen.value;
};
</script>

<style lang="scss" scoped>
.dropdown-panel {
  position: relative;
  width: fit-content;

  &__toggle {
    display: flex;
    cursor: pointer;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: $zindex-dropdown;

    display: none;
    justify-content: end;

    background: rgba($color-gray-900, 0.5);

    .dropdown-panel_open & {
      display: flex;
    }

    .dropdown-panel_align_right & {
      justify-content: end;
    }

    .dropdown-panel_align_left & {
      justify-content: start;
    }
  }

  &__content {
    height: 100vh;
    max-width: 18.75rem;
    padding: 0.5rem;

    list-style: none;
    background-color: $color-white;
    box-shadow: $shadow-medium;

    border: none;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;

    .dropdown-panel_align_left & {
      border-radius: 0rem 1rem 1rem 0rem;
    }

    .dropdown-panel_align_right & {
      border-radius: 1rem 0 0 1rem;
    }
  }
  &__content-inner {
    height: auto;
    width: auto;
  }
}
</style>
