<template>
  <BaseButton v-bind="props" class="btn-icon"></BaseButton>
</template>

<script setup lang="ts">
import BaseButton from './BaseButton.vue';

const props = withDefaults(
  defineProps<{
    disabled?: boolean;
    kind?: 'solid' | 'outline' | 'tonal' | 'text';
    theme?: string;
    icon: string | undefined;
  }>(),
  { disabled: false, kind: 'solid', theme: 'blue', icon: undefined },
);
</script>

<style lang="scss" scoped>
.btn-icon {
  padding: 0.5rem;
}
</style>
