<!-- <template>
  <div :class="classNames">
    <label v-if="label" :for="id" :class="['select-field__label']">
      {{ label }}
      <span v-if="label && required" class="select-field__asterisk">*</span>
    </label>
    <base-multiselect v-model="model" v-bind="multiselectProps">
      <template #caret>
        <div class="select-field__select">
          <base-icon name="ic_shevron-down-large" :width="20"></base-icon>
        </div>
      </template>
    </base-multiselect>
  </div>
</template>

<script lang="ts" setup>
// Think about this implementation - https://github.com/vueform/multiselect
// TODO: Check this thread about future of Vue-Multiselect https://github.com/shentao/vue-multiselect/issues/1476

// FIXME: research about slots in vue-multiselect instead of overwriting css classes
import BaseMultiselect from 'vue-multiselect'; // FIXME: vue-multiselect for vue 3 doesn't have types. Bullshit.
import { computed } from 'vue';

import BaseIcon from './BaseIcon.vue';

import { useBaseField } from '@/composable/useBaseField';

const { model, hasErrors } = useBaseField(props, emit);

const props = defineProps({
  validator: {
    type: Object,
    default: () => {
      return {
        $errors: [],
      };
    },
  },

  id: {
    type: String,
    default: null,
  },

  allowEmpty: {
    type: Boolean,
    default: true,
  },

  closeOnSelect: Boolean,

  disabled: {
    type: Boolean,
    default: false,
  },

  label: {
    type: String,
    default: '',
  },

  labelBy: {
    type: String,
    default: 'label',
  },

  multiple: { type: Boolean, default: false },

  options: {
    type: Array,
    default: () => [],
  },

  placeholder: {
    type: String,
    default: '',
  },

  required: {
    type: Boolean,
    default: false,
  },

  preselectFirst: {
    type: Boolean,
    default: false,
  },

  searchable: {
    type: Boolean,
    default: true,
  },

  trackBy: {
    type: String,
    default: null,
  },

  limit: {
    type: Number,
    default: 9999,
  },

  modelValue: {
    type: Object,
    default: () => null,
  },
});

const classNames = computed(() => {
  return ['select-field', props.disabled && 'select-field_disabled', hasErrors && 'select-field_error'];
});

const multiselectProps = computed(() => {
  return {
    allowEmpty: props.allowEmpty,
    closeOnSelect: props.closeOnSelect ? props.closeOnSelect : !props.multiple,
    options: props.options,
    value: props.modelValue,
    showLabels: false,
    searchable: props.searchable,
    label: props.labelBy,
    trackBy: props.trackBy,
    preselectFirst: props.preselectFirst,
    disabled: props.disabled,
    multiple: props.multiple,
    hideSelected: props.multiple,
    placeholder: props.placeholder,
    limit: props.limit,
  };
});
</script>

<style lang="scss" scoped>
$min-height: 40px;

.select-field {
  @include font-body-14(400);

  &__select {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px 1rem;
    text-align: center;
    transition: transform 0.2s ease;

    color: $color-gray-400;

    .multiselect--active & {
      transform: rotate(180deg);
    }
  }

  &__label {
    display: inline-flex;
    @include font-body-14(600);
    color: $color-gray-600;
    padding-bottom: 0.325rem;
  }
}

.select-field {
  & :deep(.multiselect) {
    @include font-body-14();

    min-height: $min-height;
    color: $color-gray-900;
    max-width: 100%;
  }

  & :deep(.multiselect--disabled) {
    .multiselect__tags {
      background: none;
    }
  }

  & :deep(.multiselect__single),
  & :deep(.multiselect__input) {
    padding: 0.5em 0;
    margin: 0;
    background: transparent;
    @include font-body-14();
  }

  & :deep(.multiselect__single) {
    color: $color-gray-900;
  }

  & :deep(.multiselect__tags-wrap) {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 0 0 -6px;
    gap: 0.325em;
    font-size: 1em;
  }

  & :deep(.multiselect__tags) {
    min-height: $min-height;
    padding: 0px 40px 0 12px;
    border-radius: 0.5rem;
    border: 1px solid $color-gray-300;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    font-size: 1em;
  }

  & :deep(.multiselect--active) {
    & .multiselect__tags {
      border: 1px solid $color-purple-600;
      background: white;
    }
  }

  & :deep(.multiselect__tag) {
    font-size: 13px;
    margin: 0;
    padding: 5px 24px 5px 8px;
    border-radius: 2px;
    background: $color-red-600;
  }

  & :deep(.multiselect__tag-icon) {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    width: 22px;
    text-align: center;
    line-height: 20px;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover {
      background: transparent;
    }

    &::after {
      color: white;
    }
  }

  & :deep(.multiselect__content-wrapper) {
    min-width: 100%;
    width: auto;
    background: $color-white;
    box-shadow: $shadow-lg;
    border-radius: 0.5rem;
    border: none;
  }

  & :deep(.multiselect__option) {
    display: block;
    padding: 0.5rem 1rem;
    min-height: 36px;

    @include font-body-14();
  }

  & :deep(.multiselect__option--selected) {
    color: $color-gray-700;
    background: $color-gray-100;

    @include font-body-14();

    &.multiselect__option--highlight {
      color: $color-gray-700;
      background: $color-gray-100;
    }
  }

  & :deep(.multiselect__option--highlight) {
    color: $color-gray-700;
    background: $color-gray-100;

    @include font-body-14();
  }

  & :deep(.multiselect__placeholder) {
    margin-bottom: 0;
    padding: 0;
    color: $color-gray-400;
  }

  & :deep(.multiselect__strong) {
    margin-bottom: 0;
    vertical-align: none;
  }
}

.select-field_error {
  & :deep(.multiselect__tags) {
    border: 1px solid $color-red-600;
    background: white;
  }

  & :deep(.multiselect--active) {
    & .multiselect__tags {
      border: 1px solid $color-red-600;
      background: white;
    }
  }
}
</style> -->
