<template>
  <DatePicker v-model="date" :mode="mode" is24hr class="base-calendar">
    <template #default="{ inputEvents, inputValue }">
      <BaseFormInput
        id="datePicker"
        class="base-form-input_focused"
        name="calendar-input"
        autocomplete="off"
        :has-errors="hasErrors"
        :model-value="inputValue"
        :placeholder="placeholder ?? $t(`common.date_placeholder`)"
        v-on="inputEvents"
      >
        <template #prefix><BaseIcon :name="calendarIcon" class="search-report__icon" /></template>
      </BaseFormInput>
    </template>
  </DatePicker>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { DatePicker } from 'v-calendar';

import BaseFormInput from '@/components/BaseFormInput.vue';
import BaseIcon from '@/components/BaseIcon.vue';

const emit = defineEmits(['update:modelValue', 'click', 'change', 'input']);

const props = defineProps({
  modelValue: {
    type: [Date, String],
    default: null,
  },
  hasErrors: {
    type: Boolean,
    default: false,
  },
  mode: {
    type: String,
    default: 'dateTime',
  },
  placeholder: {
    type: String,
    default: undefined,
  },
});

const date = computed({
  get() {
    return props.modelValue as Date;
  },
  set(value: Date) {
    emit('update:modelValue', value.toISOString());
  },
});

const calendarIcon = computed(() => (props.mode === 'time' ? 'ic_time' : 'ic_calendar'));
</script>

<style lang="scss" scoped>
.base-calendar {
  width: 100%;
}
.vc-day-content {
  @include font-caption(400);
  background: $color-gray-50;
  color: $color-gray-600 !important;
  border-radius: 8px;
  &:hover,
  &.active {
    background: $color-blue-100;
  }
}

.vc-title {
  @include font-body-14(600);
  text-transform: capitalize;
}
.vc-weekday {
  @include font-caption(600);
  text-transform: capitalize;
}
</style>
