<template>
  <div class="tree">
    <BaseTreeRow
      v-for="node in state"
      :key="node.id"
      :node="node"
      @nodeExpanded="onNodeExpanded"
      @nodeChecked="onNodeChecked"
    />
  </div>
</template>

<script setup>
// TODO: use map structure for quick update.
import { watch, ref } from 'vue';

import BaseTreeRow from './BaseTreeRow.vue';

const props = defineProps({
  data: {
    type: Array,
    required: true,
  },
  useCheckbox: {
    type: Boolean,
    default: false,
  },
  selectionType: {
    type: String,
    default: 'leaf',
    validator: value => {
      return ['leaf', 'independent'].includes(value);
    },
  },
  force: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['checked', 'expanded']);

const state = ref([]);
const stateMap = ref(new Map());

const buildTree = (nodes, parent = null, cache) => {
  return nodes.map(node => {
    const newNode = {
      id: node.id,
      parent,
      text: node.text,
      checked:
        props.selectionType === 'leaf' && node.children ? false : node.checked ?? cache.get(node.id)?.checked ?? false,
      expanded: node.expanded ?? cache.get(node.id)?.expanded ?? false,
      indeterminate:
        props.selectionType === 'leaf' ? false : node.indeterminate ?? cache.get(node.id)?.indeterminate ?? false,
      ...(node.children ? { children: buildTree(node.children, node.id, cache) } : {}),
    };
    stateMap.value.set(node.id, { ...newNode, children: [] });
    return newNode;
  });
};

// const getDescendants = key => {
//   const children = state.value[key].children;

//   let descendants = [];
//   descendants.push(...children);

//   for (let i = 0; i < children.length; i++) {
//     descendants = [...descendants, ...getDescendants(children[i])];
//   }

//   return descendants;
// };

// const getParent = key => {
//   let parent = state.value[key].parent;

//   const parents = [];
//   while (parent !== null) {
//     parents.push(parent);
//     parent = state.value[parent].parent;
//   }

//   return parents;
// };

const changeNodeStatus = (node, checked) => {
  node.checked = checked ?? node.checked;

  if ((props.selectionType === 'leaf' && !node.children) || props.selectionType !== 'leaf') {
    if (node.checked) {
      selectedNodes.value.add(node.id);
    } else {
      selectedNodes.value.delete(node.id);
    }
  }

  if (Array.isArray(node.children) && node.children.length) {
    node.children.forEach(x => changeNodeStatus(x, checked));
  }
};

const updateChilds = (nodes, id, nodeState) => {
  nodes.forEach(node => {
    if (node.id === id) {
      changeNodeStatus(node, nodeState);
    } else if (Array.isArray(node.children)) {
      updateChilds(node.children, id, nodeState);
    }
  });
};

const updateParents = nodes => {
  nodes.forEach(node => {
    if (Array.isArray(node.children) && node.children.length) {
      updateParents(node.children);

      const everyChecked = node.children.every(item => item.checked);
      const someChecked = node.children.some(item => item.checked);
      const anyDeterminate = node.children.some(item => item.indeterminate);

      if (everyChecked) {
        node.checked = true;
        node.indeterminate = false;
      } else if (someChecked) {
        node.checked = false;
        node.indeterminate = true;
      } else if (anyDeterminate) {
        node.checked = false;
        node.indeterminate = true;
      } else if (!everyChecked) {
        node.checked = false;
        node.indeterminate = false;
      }
    }
  });
};

// const updateParents = node => {
//   if (!node) return;

//   if (node.parent.children.every(x => x.checked)) {
//     node.parent.checked = true;
//     node.parent.indeterminate = false;
//   } else if (node.parent.children.some(x => x.checked)) {
//     node.parent.checked = false;
//     node.parent.indeterminate = true;
//   } else {
//     node.parent.checked = false;
//     node.parent.indeterminate = false;
//   }
//   updateParents(node.parent, node.parent.checked);
// };

// const updateNode = (nodeId, nodeState) => {
//   updateNodeById(state.value, nodeId, nodeState);
//   // state.value = updateNodes(updateNodeById(state.value, nodeId, nodeState));
// };

const selectedNodes = ref(new Set());

watch(
  () => props.data,
  value => {
    const cache = new Map(stateMap.value);
    stateMap.value = new Map();
    state.value = buildTree(value, null, cache);
    selectedNodes.value = new Set([...stateMap.value].filter(([key, value]) => value.checked).map(([key]) => key));
    updateParents(state.value);
  },
  { immediate: true },
);

const onNodeExpanded = ({ id, expanded }) => {
  const node = stateMap.value.get(id);
  stateMap.value.set(id, { ...node, expanded });
  emit('expanded', id, expanded);
};

const onNodeChecked = ({ node, checked }) => {
  stateMap.value.set(node.id, node);

  updateChilds(state.value, node.id, checked);
  updateParents(state.value);

  emit('checked', [...selectedNodes.value]);
};
</script>

<style lang="scss" scoped></style>
