<template>
  <teleport :to="targetTeleport">
    <div class="modal">
      <div ref="modalRef" class="modal__inner">
        <div v-if="$slots.header" class="modal__header">
          <slot name="header"></slot>
        </div>
        <div class="modal__body">
          <slot></slot>
        </div>
        <div v-if="$slots.footer" class="modal__footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { onClickOutside } from '@vueuse/core';
import { targetTeleport } from '@/composable/useModal';

const emit = defineEmits(['close']);
const modalRef = ref();

onClickOutside(modalRef, () => {
  emit('close');
});
</script>

<style lang="scss" scoped>
.modal {
  background: rgba($color-gray-900, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $zindex-modal;

  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 344px;

    background: $color-white;
    border-radius: 1.5rem;
  }
  &__body {
    display: flex;
    justify-content: center;
    width: 100%;

    @include font-body-14(300);
  }
  &__footer {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 1.3rem 1rem;
    border-radius: 0 0 1.5rem 1.5rem;
    background-color: $color-gray-50;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
</style>
