<template>
  <div class="waiter">
    <slot v-if="waiter.is(loader)" name="fallback">{{ $t('common.loading') }}</slot>
    <slot v-else></slot>
  </div>
</template>

<script setup lang="ts">
import { useWait } from '@/composable/useWait';

defineProps<{ loader: string | string[] }>();

const waiter = useWait();
</script>

<style lang="scss" scoped>
.waiter {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 0;
}
</style>
