<template>
  <label class="checkbox">
    <input v-model="model" v-bind="$attrs" class="checkbox__input" type="checkbox" :value="value" />
    <span class="checkbox__box">
      <BaseIcon v-if="$attrs.indeterminate" name="ic_minus_outline" :width="20" class="checkbox__check" />
      <BaseIcon v-else name="ic_solid_check" :width="20" class="checkbox__check" />
    </span>
    <span v-if="$slots.default" class="checkbox__label">
      <slot></slot>
    </span>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import BaseIcon from './BaseIcon.vue';

interface Props {
  value?: string | number | boolean;
  modelValue: boolean | string[] | number[];
}

const props = withDefaults(defineProps<Props>(), {
  value: undefined,
});

const emit = defineEmits(['update:modelValue']);

const model = computed({
  get(): Props['modelValue'] {
    return props.modelValue;
  },
  set(value: Props['modelValue']) {
    emit('update:modelValue', value);
  },
});
</script>

<style lang="scss" scoped>
.checkbox {
  $checkbox: &;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: min-content;

  @include font-body-14();

  &:hover {
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__label {
    width: max-content;
  }

  &__box {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background: transparent;
    border: 2px solid $color-gray-300;
    border-radius: 3px;
    overflow: hidden;
    color: $color-gray-500;

    #{$checkbox}:hover & {
      background: $color-gray-50;
      cursor: pointer;
    }

    .checkbox__input:checked + & {
      color: $color-white;
      background: $color-blue-600;
      border: none;

      #{$checkbox}:hover & {
        background: $color-blue-700;
        border: none;
        cursor: pointer;
      }
    }

    .checkbox__input:indeterminate + & {
      color: $color-white;
      background: $color-blue-600;
      border: none;

      &:hover {
        background: $color-blue-700;
        border: none;
        cursor: pointer;
      }
    }

    .checkbox__input:disabled + & {
      cursor: auto;
      background: $color-gray-300;
      color: $color-gray-400;
      border: none;

      &:hover {
        cursor: auto;
        background: $color-gray-300;
        color: $color-gray-400;
        border: none;
      }
    }
  }

  &__check {
    display: none;

    :is(.checkbox__input:checked, .checkbox__input:indeterminate) + .checkbox__box & {
      display: inline-flex;
    }

    .checkbox__input:disabled + .checkbox__box & {
      display: none;
    }
  }
}
</style>
