<template>
  <svg xmlns="http://www.w3.org/2000/svg" :viewBox="viewBox" :width="widthValue" :height="heightValue" class="icon">
    <use :href="iconUri" />
  </svg>
</template>

<script setup lang="ts">
import sprite from '../assets/images/icons/sprite.svg';
import { computed } from 'vue';

const props = withDefaults(
  defineProps<{
    name: string;

    height?: number | string;
    width?: number | string;
    stroke?: string;
    fill?: string;
  }>(),
  {
    height: undefined,
    width: 24,

    stroke: 'currentColor',
    fill: 'currentColor',
  },
);

const widthValue = computed(() => props.width);
const heightValue = computed(() => props.height ?? props.width);

const viewBox = computed(() => `0 0 ${widthValue.value} ${heightValue.value}`);
const iconUri = computed(() => `${sprite}#${props.name}`);
</script>

<style lang="scss" scoped>
use {
  fill: v-bind('props.fill');
  stroke: v-bind('props.stroke');
}
</style>
