<template>
  <div :class="classNames" @click="focus">
    <div v-if="$slots.prefix" class="base-form-input__prefix">
      <slot name="prefix"></slot>
    </div>
    <input
      ref="inputElement"
      :value="modelValue"
      class="base-form-input__input"
      v-bind="$attrs"
      @input="emit('update:modelValue', handleInputChange($event))"
      @focus="focused = true"
      @blur="focused = false"
    />
    <div v-if="$slots.postfix" class="base-form-input__postfix">
      <slot name="postfix"></slot>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable import/first */
export default {
  inheritAttrs: false,
};
</script>

<script setup lang="ts">
import { computed, onMounted, ref, useAttrs } from 'vue';

const attrs = useAttrs();

const props = withDefaults(
  defineProps<{ modelValue?: number | string | null; hasErrors?: boolean; autofocus?: boolean }>(),
  { modelValue: null, hasErrors: false, autofocus: false },
);

const emit = defineEmits(['update:modelValue', 'click']);

const handleInputChange = (event: Event): string | number => (event.target as HTMLInputElement).value;

const focused = ref(false);

const classNames = computed(() => [
  'base-form-input',
  ...(focused.value ? ['base-form-input_focused'] : []),
  ...(attrs.disabled ? ['base-form-input_disabled'] : []),
  ...(props.hasErrors ? ['base-form-input_error'] : []),
]);

const focus = () => {
  inputElement.value?.focus();
  emit('click');
};

const inputElement = ref<HTMLDivElement>();

onMounted(() => {
  if (props.autofocus) {
    inputElement.value?.focus();
  }
});
</script>

<style lang="scss" scoped>
.base-form-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  min-height: 2.5rem;

  padding: 0 0.75rem;

  color: $color-gray-900;

  border-radius: 0.5rem;
  border: 1px solid $color-gray-300;

  background-color: $color-white;
  background-image: none;
  box-shadow: none;

  cursor: text;

  @include font-body-14();

  &_focused {
    background: $color-white;
    border: 1px solid $color-blue-600;
  }

  &_disabled {
    color: $color-gray-400;
    background: $color-gray-100;
    cursor: auto;
  }

  &_error {
    border: 1px solid $color-red-600;
  }

  &__input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;

    @include font-body-14();

    &::placeholder {
      color: $color-gray-400;
      opacity: 1;
    }

    &:disabled {
      color: $color-gray-400;
      background: $color-gray-100;
    }

    &[type='number'] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
  }

  &__postfix,
  &__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray-400;
    cursor: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}
</style>
