<template>
  <div v-if="hasErrors" class="errors">
    <div v-for="error in errors" :key="error.$uid">
      {{ $t(`validation.${error.$validator}`) }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { ErrorObject } from '@vuelidate/core';

const props = defineProps<{ errors: Partial<ErrorObject>[] }>();

const hasErrors = computed(() => {
  return Array.isArray(props.errors) && Boolean(props.errors.length);
});
</script>

<style lang="scss" scoped>
.errors {
  margin-top: 0.325rem;
  color: $color-red-600;

  @include font-caption();
}
</style>
