<template>
  <textarea
    ref="inputElement"
    :class="classNames"
    class="base-form-textarea"
    :value="modelValue"
    v-bind="$attrs"
    @focus="focused = true"
    @blur="focused = false"
    @input="emit('update:modelValue', handleInputChange($event))"
  ></textarea>
</template>

<script lang="ts">
/* eslint-disable import/first */
export default {
  inheritAttrs: false,
};
</script>

<script setup lang="ts">
import { computed, onMounted, ref, useAttrs } from 'vue';

const attrs = useAttrs();

const props = withDefaults(defineProps<{ modelValue?: number | string; hasErrors?: boolean; autofocus?: boolean }>(), {
  modelValue: '',
  hasErrors: false,
  autofocus: false,
});

const emit = defineEmits(['update:modelValue', 'click']);

const handleInputChange = (event: Event): string | number => (event.target as HTMLInputElement).value;

const focused = ref(false);

const classNames = computed(() => [
  ...(focused.value ? ['base-form-textarea_focused'] : []),
  ...(attrs.disabled ? ['base-form-textarea_disabled'] : []),
  ...(props.hasErrors ? ['base-form-textarea_error'] : []),
]);

const inputElement = ref<HTMLDivElement>();

onMounted(() => {
  if (props.autofocus) {
    inputElement.value?.focus();
  }
});
</script>

<style lang="scss" scoped>
.base-form-textarea {
  display: flex;

  min-width: 100%;
  height: 4rem;

  margin: 0;
  padding: 0.75rem;

  color: $color-gray-900;
  border-radius: 0.5rem;
  border: 1px solid $color-gray-300;

  background-color: $color-white;
  background-image: none;
  box-shadow: none;

  &:disabled {
    color: $color-gray-400;
    background: $color-gray-100;
  }

  @include font-body-14();
  font-family: 'Inter', sans-serif;

  &::placeholder {
    color: $color-gray-400;
    opacity: 1;
  }

  &_focused {
    background: $color-white;
    border: 1px solid $color-blue-600;
  }

  &_disabled {
    color: $color-gray-400;
    background: $color-gray-100;
    cursor: auto;
  }

  &_error {
    border: 1px solid $color-red-600;
  }
}
</style>
