<template>
  <BaseFormInput :type="passwordInputType" required :placeholder="placeholderValue">
    <template #postfix>
      <BaseIcon :name="iconName" class="icon" @click="toggleShowPassword" />
    </template>
  </BaseFormInput>
</template>

<script setup lang="ts">
import BaseIcon from '@/components/BaseIcon.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const props = defineProps<{ placeholder?: string }>();

const passwordInputType = ref<'password' | 'text'>('password');
const iconType = ref(false);
const iconName = computed(() => (iconType.value ? 'ic_outline_eye' : 'ic_outline_eye_off'));
const placeholderValue = props.placeholder ?? t('common.password');

const toggleShowPassword = () => {
  passwordInputType.value = passwordInputType.value === 'text' ? 'password' : 'text';
  iconType.value = !iconType.value;
};
</script>

<style lang="scss" scoped>
.icon {
  &:hover {
    cursor: pointer;
  }
}
</style>
