<template>
  <div
    v-bind="attrs"
    class="btn"
    :class="[
      kind && `btn_kind_${kind}`,
      theme && `btn_theme_${theme}`,
      disabled && `btn_disabled`,
      float && `btn_float`,
    ]"
    @click.stop.prevent="click"
  >
    <BaseIcon v-if="icon" :name="icon" class="btn__icon"></BaseIcon>
    <span v-if="$slots.default" class="btn__text">
      <slot></slot>
    </span>
  </div>
</template>

<script setup lang="ts">
import { useAttrs } from 'vue';

import BaseIcon from './BaseIcon.vue';

const attrs = useAttrs();

const props = withDefaults(
  defineProps<{
    disabled?: boolean;
    kind?: 'solid' | 'outline' | 'tonal' | 'text';
    theme?: string;
    icon?: string | undefined;
    float?: boolean;
  }>(),
  { disabled: false, kind: 'solid', theme: 'blue', icon: undefined, float: false },
);

const emit = defineEmits(['click']);

const click = () => {
  if (!props.disabled) {
    emit('click');
  }
};
</script>

<style lang="scss" scoped>
@mixin btn-kind-solid($color-map: $color-map-blue, $color-key: 600) {
  color: $color-gray-50;
  background-color: color($color-map, $color-key);
  border: none;
  outline: none;

  &:hover {
    background-color: color($color-map, $color-key + 100);
  }

  &:active,
  &:focus {
    background-color: color($color-map, $color-key + 200);
  }
}

@mixin btn-kind-outline($color-map: $color-map-blue, $color-key: 600) {
  color: color($color-map, $color-key);
  background-color: transparent;
  border: 1px solid color($color-map, $color-key);

  @if ($color-map == $color-map-gray) {
    color: color($color-map, $color-key + 100);
  }
  outline: none;

  &:hover {
    background-color: color($color-map, 50);
  }

  &:active,
  &:focus {
    background-color: color($color-map, 100);
  }
}

@mixin btn-kind-text($color-map: $color-map-blue, $color-key: 600) {
  color: color($color-map, $color-key);
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    background-color: color($color-map, 50);
  }

  &:active,
  &:focus {
    background-color: color($color-map, 100);
  }
}

@mixin btn-kind-tonal($color-map: $color-map-blue, $color-key: 50) {
  color: $color-gray-700;
  background-color: color($color-map, $color-key);
  border: none;
  outline: none;

  &:hover {
    background-color: color($color-map, $color-key + 50);

    @if ($color-map == $color-map-gray) {
      background-color: color($color-map, $color-key + 100);
    }
  }

  &:active,
  &:focus {
    background-color: color($color-map, $color-key + 150);

    @if ($color-map == $color-map-gray) {
      background-color: color($color-map, $color-key + 200);
    }
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: fit-content;
  height: fit-content;

  padding: 0.625rem 1rem;
  border-radius: 0.5rem;

  cursor: pointer;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
  box-shadow: none;
  transition: color 0.1s linear, border-color 0.1s linear, background 0.15s linear, transform 0.1s linear,
    opacity 0.15s linear;

  @include font-body-14();
  @include btn-kind-solid();

  &_kind {
    &_solid {
      @include btn-kind-solid();

      &.btn_theme_blue {
        @include btn-kind-solid($color-map-blue);
      }
      &.btn_theme_red {
        @include btn-kind-solid($color-map-red);
      }
      &.btn_theme_gray {
        @include btn-kind-solid($color-map-gray, 400);
      }
    }

    &_outline {
      @include btn-kind-outline();
      &.btn_theme_blue {
        @include btn-kind-outline($color-map-blue);
      }
      &.btn_theme_red {
        @include btn-kind-outline($color-map-red);
      }
      &.btn_theme_gray {
        @include btn-kind-outline($color-map-gray, 400);
      }
    }

    &_text {
      @include btn-kind-text();
      &.btn_theme_blue {
        @include btn-kind-text($color-map-blue);
      }
      &.btn_theme_red {
        @include btn-kind-text($color-map-red);
      }
      &.btn_theme_gray {
        @include btn-kind-text($color-map-gray, 400);
      }
    }

    &_tonal {
      @include btn-kind-tonal();
      &.btn_theme_blue {
        @include btn-kind-tonal($color-map-blue);
      }
      &.btn_theme_red {
        @include btn-kind-tonal($color-map-red);
      }
      &.btn_theme_gray {
        @include btn-kind-tonal($color-map-gray, 100);
      }
    }
  }

  &_disabled.btn {
    cursor: unset;
    background: $color-gray-100;
    color: $color-gray-400;
    border: none;

    &:hover,
    &:active,
    &:focus {
      cursor: unset;
      background: $color-gray-100;
      color: $color-gray-400;
      border: none;
    }
  }

  &_float {
    padding: 0.75rem;
    box-shadow: $shadow-medium;
    border-radius: 0.75rem;

    @include font-body-16();
  }

  &__icon {
    color: inherit;
  }
}
</style>
