<template>
  <div class="report-search">
    <BaseFormInput v-model="model" type="text" :placeholder="$t('common.search')">
      <template #prefix><BaseIcon name="ic_search"></BaseIcon></template>
      <template v-if="model" #postfix
        ><BaseIcon name="ic_close" class="report-search__clear" @click="clear"></BaseIcon
      ></template>
    </BaseFormInput>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import BaseIcon from '@/components/BaseIcon.vue';
import BaseFormInput from '@/components/BaseFormInput.vue';

const props = withDefaults(defineProps<{ modelValue?: string }>(), { modelValue: '' });

const emit = defineEmits(['update:modelValue']);

const model = computed({
  get(): string {
    return props.modelValue;
  },
  set(value: string) {
    emit('update:modelValue', value);
  },
});

const clear = () => {
  emit('update:modelValue', '');
};
</script>

<style lang="scss" scoped>
.report-search {
  width: 100%;
  & .base-form-input {
    height: 3rem;
    border-radius: 0.75rem;
  }

  & :deep(.base-form-input__input) {
    @include font-body-16();
  }

  &__clear {
    cursor: pointer;
  }
}
</style>
