<template>
  <div class="tree-search">
    <BaseTextField
      v-model="searchText"
      :placeholder="$t('common.search')"
      icon="ic_search"
      class="facility__search"
    ></BaseTextField>
    <div class="tree-search__inner">
      <BaseTree :data="searchTreeData" @checked="onChecked" />
    </div>
    <div v-if="showActionsButtons" class="tree-search__actions">
      <BaseButton kind="outline" @click="resetTreePoints">{{ $t('common.reset') }}</BaseButton>
      <BaseButton @click="updateFacilityPoints">{{ $t('common.save_changes') }}</BaseButton>
    </div>
  </div>
</template>

<script setup>
import { ref, watch, computed } from 'vue';
import { debouncedWatch } from '@vueuse/core';
import { cloneDeep } from 'lodash';

import BaseTextField from './BaseFormInput.vue';
import BaseTree from './BaseTree.vue';
import BaseButton from './button/BaseButton.vue';

import { SEARCH_THRESHOLD } from '@/constants';
import { filterTree } from '@/utils/tree';

const props = defineProps({
  data: {
    type: Array,
    required: true,
  },
  useCheckbox: {
    type: Boolean,
    default: false,
  },
  selectionType: {
    type: String,
    default: 'leaf',
    validator: value => {
      return ['leaf', 'independent'].includes(value);
    },
  },
  force: {
    type: Boolean,
    default: false,
  },

  confirmation: {
    type: Boolean,
    default: true,
  },
});

const emit = defineEmits(['update']);

const searchText = ref('');
const treeData = ref([]);
const searchTreeData = ref([]);

watch(
  () => props.data,
  value => {
    treeData.value = cloneDeep(value);
    searchTreeData.value = treeData.value;
  },
  { immediate: true },
);

debouncedWatch(
  () => searchText.value,
  (searchKey, oldSearchKey) => {
    if (searchKey.length <= SEARCH_THRESHOLD && oldSearchKey.length > searchKey.length) {
      searchTreeData.value = treeData.value;
    }

    if (searchKey.length >= SEARCH_THRESHOLD) {
      searchTreeData.value = filterTree('children', 'text')(treeData.value, searchKey);
    }
  },
  { debounce: 300 },
);

const selectedPoints = ref([]);
const showActions = ref(false);
const showActionsButtons = computed(() => props.confirmation && showActions.value);

const onChecked = points => {
  selectedPoints.value = points;
  if (props.confirmation) {
    showActions.value = true;
  } else {
    emit('update', selectedPoints.value);
  }
};

const resetTreePoints = () => {
  treeData.value = cloneDeep(props.data);
  searchTreeData.value = treeData.value;
  searchText.value = '';
  showActions.value = false;
};

const updateFacilityPoints = () => {
  showActions.value = false;
  emit('update', selectedPoints.value);
};
</script>

<style lang="scss" scoped>
.tree-search {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  box-shadow: 0 0 0px 1px inset $color-gray-300;
  border-radius: 0.5rem;

  &__inner {
    overflow: scroll;
    overscroll-behavior: contain;

    padding: 0.5rem;
    flex: 1;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    min-height: 56px;
    width: 100%;
    padding: 0 0.5rem;
    margin: px;

    border-radius: 0 0 0.5rem 0.5rem;

    background: $color-gray-50;
  }
}
</style>
