<template>
  <div class="infinite-scroll">
    <slot name="default"></slot>
    <div ref="marker" class="loading-marker"></div>
    <slot v-if="showLoading" name="loading">{{ t('common.loading') }}</slot>
    <slot v-if="showNoResults" name="no-results"></slot>
  </div>
</template>

<script setup>
import { ref, computed, watch, onBeforeUnmount } from 'vue';
import { useIntersectionObserver } from '@vueuse/core';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const props = defineProps({
  resetKey: {
    type: [String, Number, Date],
    default: new Date(),
  },
});
const emit = defineEmits(['loading']);

const STATUS = {
  READY: 0,
  LOADING: 2,
  COMPLETE: 3,
};

const state = ref(STATUS.READY);
const marker = ref(null);
const isVisible = ref(false);
const showLoading = computed(() => [STATUS.LOADING, STATUS.READY].includes(state.value));
const showNoResults = ref(false);

const loaded = () => {
  state.value = STATUS.LOADING;

  if (isVisible.value) {
    emit('loading', stateChanger);
  }
};
const completed = () => {
  if (state.value === STATUS.READY) {
    showNoResults.value = true;
  }
  state.value = STATUS.COMPLETE;
};

const stateChanger = {
  resolveState(batch, bathSize) {
    if (Array.isArray(batch) && batch.length) {
      loaded();
      if (batch.length < bathSize) {
        completed();
      }
    } else {
      completed();
    }
  },
};

watch(
  () => isVisible.value,
  visible => {
    if (visible && state.value !== STATUS.COMPLETE) {
      emit('loading', stateChanger);
    }
  },
  {
    immediate: true,
  },
);

watch(
  () => props.resetKey,
  () => {
    state.value = STATUS.READY;
    showNoResults.value = false;
    if (isVisible.value) {
      emit('loading', stateChanger);
    }
  },
  {
    immediate: true,
  },
);

const { stop } = useIntersectionObserver(marker, ([{ isIntersecting }]) => {
  isVisible.value = isIntersecting;
});

onBeforeUnmount(() => {
  stop();
});
</script>

<style lang="scss" scoped>
.infinite-scroll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
</style>
