<template>
  <span :class="`search-tag search-tag__theme_${theme}`">{{ title }}</span>
</template>

<script lang="ts" setup>
defineProps({
  title: {
    type: String,
    required: true,
  },
  theme: {
    type: String,
    default: 'gray',
  },
});
</script>

<style lang="scss" scoped>
.search-tag {
  padding: 4px 6px;
  border-radius: 6px;

  color: $color-gray-700;
  @include font-caption();

  &__theme {
    &_green {
      background: $color-green-200;
    }
    &_purple {
      background: $color-purple-200;
    }
    &_blue {
      background: $color-blue-200;
    }
    &_orange {
      background: $color-orange-200;
    }
    &_red {
      background: $color-red-200;
    }
    &_gray {
      background: $color-gray-200;
    }
  }
}
</style>
