<template>
  <div class="file-preview">
    <div v-for="file in files" :key="file.originalName" class="file-preview__item">
      <template v-if="isCompleted(file.status)">
        <img :src="file.url" alt="" class="file-preview__image" />
        <div class="file-preview__icon">
          <BaseIcon width="16" name="ic_cross" @click="emit('remove', file.id)" />
        </div>
      </template>
      <div class="file-preview__loader"></div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { FILE_STATUS } from '@/constants';
import { FileObject } from './BaseFormDnD.vue';
import BaseIcon from './BaseIcon.vue';

defineProps<{ files: FileObject[] }>();

const emit = defineEmits(['remove']);

const isCompleted = (status: FILE_STATUS) => status === FILE_STATUS.COMPLETE;
</script>

<style lang="scss" scoped>
.file-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  @include font-body-14();

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item {
    position: relative;
    flex: 1;
    min-width: 10.5rem;

    aspect-ratio: 1.4;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;

    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray-400;
    background: $color-gray-200;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      color: $color-gray-500;
      background: $color-gray-300;
    }
  }

  &__loader {
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
    background: $color-gray-200;
    background: linear-gradient(-60deg, $color-gray-100 30%, $color-white 50%, $color-gray-100 70%);
    background-size: 200%;

    position: relative;
    width: 100%;
    height: 100%;
  }
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
</style>
