<template>
  <div class="skeleton-line" :class="[`skeleton-line_${size}`, customClass]"></div>
</template>

<script setup lang="ts">
const props = withDefaults(defineProps<{ size?: string; width?: number; customClass?: string }>(), {
  size: 'medium',
  width: 100,
  customClass: '',
});
const widthValue = `${props.width}%`;
</script>

<style lang="scss" scoped>
.skeleton-line {
  position: relative;
  overflow: hidden;
  background: $color-gray-100;
  border-radius: 0.5rem;
  width: v-bind('widthValue');

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($color-white, 0) 0,
      rgba($color-white, 0.2) 20%,
      rgba($color-white, 0.5) 60%,
      rgba($color-white, 0)
    );
    animation: shimmer 3s infinite;
    content: '';
  }

  &_large {
    height: 2.5rem;
  }

  &_medium {
    height: 1.5rem;
  }

  &_small {
    height: 1rem;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
</style>
