<template>
  <div class="scroll-container">
    <BaseButtonCollapse
      v-show="showLeftButton"
      id="scroll-container__btn_left"
      icon="left"
      :class="['scroll-container__btn', 'scroll-container__btn_left']"
      @click="leftSCroll"
    />
    <div ref="scrollContainer" class="scroll-container__inner">
      <slot></slot>
    </div>

    <BaseButtonCollapse
      v-show="showRightButton"
      id="scroll-container__btn_right"
      icon="right"
      :class="['scroll-container__btn', 'scroll-container__btn_right']"
      @click="rightSCroll"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, nextTick, onBeforeUnmount } from 'vue';
import BaseButtonCollapse from '@/components/BaseButtonCollapse.vue';

const scrollContainer = ref();
const showLeftButton = ref(true);
const showRightButton = ref(true);

const handleScroll = () => {
  if (scrollContainer.value.scrollLeft > 0) {
    showLeftButton.value = true;
  } else {
    showLeftButton.value = false;
  }

  if (scrollContainer.value.scrollLeft + scrollContainer.value.clientWidth === scrollContainer.value.scrollWidth) {
    showRightButton.value = false;
  } else {
    showRightButton.value = true;
  }
};

const leftSCroll = () => {
  scrollContainer.value.scrollLeft -= scrollContainer.value?.clientWidth;
};
const rightSCroll = () => {
  // Fix behaviour when max scrollLeft value changed after start of scroll
  // because we show left button and scrollLeft value decreased at that time
  if (showLeftButton.value === false) {
    showLeftButton.value = true;
    nextTick(() => {
      scrollContainer.value.scrollLeft = scrollContainer.value?.clientWidth;
    });
  } else {
    scrollContainer.value.scrollLeft = scrollContainer.value?.clientWidth;
  }
};

const resizeObserver = new ResizeObserver(handleScroll);

onMounted(() => {
  scrollContainer.value.addEventListener('scroll', handleScroll);
  resizeObserver.observe(scrollContainer.value);
});

onBeforeUnmount(() => {
  resizeObserver.unobserve(scrollContainer.value);
});
</script>

<style lang="scss">
.scroll-container {
  display: flex;
  width: 100%;

  &__inner {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    &_left {
      margin-right: auto;
    }
    &_right {
      margin-left: auto;
    }
  }
}
</style>
