<template>
  <div class="form-group">
    <header class="form-group__header">
      <label v-if="label" class="base-form-label">
        {{ label }}
        <span v-if="required" class="base-form-label__asterisk">*</span>
      </label>
      <div v-if="$slots.description" class="form-group__desc">
        <slot name="description"></slot>
      </div>
    </header>
    <div class="form-group__body">
      <slot></slot>
    </div>
    <BaseFormErrors :errors="errors" />
  </div>
</template>

<script setup lang="ts">
import { ErrorObject } from '@vuelidate/core';

import BaseFormErrors from './BaseFormErrors.vue';

withDefaults(
  defineProps<{ errors?: Partial<ErrorObject>[]; label?: string; description?: string; required?: boolean }>(),
  { errors: () => [], label: '', description: '', required: false },
);
</script>

<style lang="scss" scoped>
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  margin-bottom: 1.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__body {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    width: 100%;
  }

  &__desc {
    color: $color-gray-500;
    @include font-caption();
  }
}
</style>
