<template>
  <td class="cell">
    <div class="cell__body"><slot></slot></div>
  </td>
</template>

<script setup></script>

<style lang="scss" scoped>
.cell {
  padding: 0;
  margin: 0;
  height: 0;
  padding: 1.25rem 0.75rem;

  &__body {
    display: flex;
    align-items: center;

    @include font-body-14();
  }
}
</style>
