<template>
  <div class="tree-node">
    <div class="tree-node__node">
      <div
        :class="[
          'tree-node__icon',
          hasChildren && 'tree-node__icon_visible',
          model.expanded ? 'tree-node__icon_active' : 'tree-node__icon_inactive',
        ]"
        @click.stop="onExpanded(model)"
      >
        <template v-if="model.expanded">
          <slot name="iconActive">
            <BaseIcon name="ic_shevron-down" />
          </slot>
        </template>
        <template v-else>
          <slot name="iconInactive">
            <BaseIcon name="ic_shevron-right" />
          </slot>
        </template>
      </div>

      <slot name="checkbox">
        <BaseCheckbox
          :model-value="model.checked"
          :indeterminate="model.indeterminate"
          class="tree-node__checkbox"
          @update:modelValue="onCheck"
        />
      </slot>
      <div class="tree-node__text">
        <slot name="text">
          {{ model.text }}
        </slot>
      </div>
    </div>
    <div v-show="showSubTree" class="tree-node__children">
      <div v-if="buildSubTree" class="tree-node__children-inner">
        <BaseTreeRow
          v-for="childNode in model.children"
          :key="childNode.id"
          :node="childNode"
          @nodeExpanded="emit('nodeExpanded', $event)"
          @nodeChecked="emit('nodeChecked', $event)"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
// TODO: how to render big amounts quickly?
import { watch, ref, computed } from 'vue';
import BaseCheckbox from './form/BaseCheckbox.vue';
import BaseIcon from './BaseIcon.vue';

const props = defineProps({
  node: {
    type: Object,
    required: true,
  },
});

const model = ref({
  id: null,
  text: '',
  checked: false,
  expanded: false,
  indeterminate: false,
  children: [],
});

watch(
  () => props.node,
  () => {
    model.value = props.node; // { ...props.node }; // FIXME: Deep clone
  },
  { immediate: true },
);

const emit = defineEmits(['nodeExpanded', 'nodeChecked']);

const hasChildren = computed(() => model.value?.children?.length);
const showSubTree = computed(() => model.value?.children?.length && model.value.expanded);
const buildSubTree = ref(false);

const onExpanded = () => {
  model.value.expanded = !model.value.expanded;
  buildSubTree.value = true;
  emit('nodeExpanded', { id: model.value.id, expanded: model.value.expanded });
};

const onCheck = value => {
  model.value.checked = value;
  emit('nodeChecked', { node: model.value, checked: value });
};
</script>

<style lang="scss" scoped>
.tree-node {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__node {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    min-height: 40px;
    padding: 0.325rem 0;
  }

  &__icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-gray-400;

    &:hover {
      cursor: pointer;
    }

    &_visible {
      visibility: visible;
    }
  }

  &__checkbox {
    margin: 0;
  }

  &__children {
    width: 100%;

    margin-left: 1.75rem;
  }

  &__text {
    margin-left: 0.25rem;
  }
}
</style>
