<template>
  <div :class="['file-drag-drop', dragOver ? 'file-drag-drop_over' : '']">
    <BaseFormDnDPreview :files="files" @remove="removeFile" />
    <form
      ref="fileform"
      :class="['fileform']"
      @dragover.prevent="dragEnter"
      @dragleave.prevent="dragLeave"
      @drop.prevent="dropFiles"
    >
      <BaseIcon class="fileform__icon" name="ic_plus" />
      <span>{{ $t('reports.load_image') }}</span>
      <input
        ref="fileInput"
        class="fileform__input"
        type="file"
        :accept="accept.join(',')"
        multiple
        @change="inputFiles"
      />
    </form>
    <div v-if="showError" class="file-drag-drop__error">{{ $t('validation.image_format') }}</div>
  </div>
</template>

<script lang="ts" setup>
import * as R from 'ramda';
import { ref, onMounted, watch } from 'vue';

import BaseIcon from './BaseIcon.vue';
import BaseFormDnDPreview from './BaseFormDnDPreview.vue';

import { isAcceptable } from '@/utils/file';
import { Attachment } from '@/types/Attachment';
import { FILE_STATUS } from '@/constants';

export interface FileObject extends Partial<Attachment> {
  originalName: string;
  status: FILE_STATUS;
}

const emit = defineEmits(['upload', 'delete']);
const props = withDefaults(defineProps<{ attachments: Attachment[]; accept: string[] }>(), {
  attachments: () => [],
  accept: () => [],
});

const files = ref<FileObject[]>([]);

watch(
  () => props.attachments,
  () => {
    files.value = R.concat(
      R.map(R.assoc('status', FILE_STATUS.COMPLETE), props.attachments),
      R.reject(
        R.compose(
          item => R.any(R.propEq<string>('originalName', item), props.attachments),
          R.prop<string>('originalName'),
        ),
        files.value,
      ),
    );
  },
  {
    immediate: true,
  },
);

const dragOver = ref(false);
const isDragAndDrop = ref(false);
const showError = ref(false);
const fileInput = ref();

const dragEnter = () => {
  dragOver.value = true;
};
const dragLeave = () => {
  dragOver.value = false;
};

const removeFile = async (id: number) => {
  emit('delete', id);
  files.value = R.reject(R.propEq<string>('id', id))(files.value);
};

const dropFiles = (e: DragEvent): void => {
  if (e?.dataTransfer?.files) {
    addFiles(e?.dataTransfer?.files);
  }
};

const inputFiles = (e: Event): void => {
  const files = (e?.target as HTMLInputElement)?.files;
  if (files) {
    addFiles(files);
  }
};

const addFiles = (filelist: FileList): void => {
  dragOver.value = false;

  for (const file of filelist) {
    if (!isAcceptable(file.type)(props.accept)) {
      showError.value = true;
      continue;
    }
    if (R.findIndex(R.propEq('originalName', file.name))(files.value) >= 0) {
      continue;
    }

    const fileObject = {
      originalName: file.name,
      status: FILE_STATUS.UPLOADING,
    };

    files.value.push(fileObject);
    emit('upload', file);
  }
  fileInput.value.value = '';
};

const detectDragAndDrop = () => {
  const div = document.createElement('div');
  return (
    ('draggable' in div || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window
  );
};

onMounted(() => {
  isDragAndDrop.value = detectDragAndDrop();
});
</script>

<style lang="scss" scoped>
.file-drag-drop {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__actions {
    display: flex;
    gap: 0.625rem;
  }

  &__error {
    display: flex;
    align-items: center;
    color: $color-red-600;
    background-color: $color-red-50;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    @include font-caption();
  }
}

.fileform {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 4rem;

  border: 1px dashed $color-gray-400;
  border-radius: 0.25rem;

  color: $color-gray-500;

  @include font-body-14();

  &:hover {
    cursor: pointer;
    background: $color-gray-50;
  }

  .file-drag-drop_over & {
    background: $color-blue-50;
    color: $color-blue-600;

    border: 1px dashed $color-blue-400;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__icon {
    color: $color-gray-400;
    .file-drag-drop_over & {
      color: $color-blue-600;
    }
  }
}
</style>
