<template>
  <div class="logo">
    <object :data="logoUrl" type="image/svg+xml" class="logo__img"></object>
  </div>
</template>
<script setup lang="ts">
import logoUrl from '@/assets/images/logo.svg';
</script>
<style lang="scss" scoped>
.logo {
  width: max-content;

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }
}
</style>
