<template>
  <div class="navbar">
    <img :src="logoUrl" alt="" class="navbar__logo logo" />
    <div class="navbar__menu menu">
      <div
        v-for="item in menu"
        :key="item.id"
        :class="['menu__item', isActive(item) && 'menu__item_active']"
        @click="goTo(item.url.name)"
      >
        <base-icon v-if="item.icon" class="menu__icon" :name="item.icon"></base-icon
        ><span class="menu__text">{{ item.name }}</span>
      </div>
    </div>
    <div class="navbar__secondary-menu menu">
      <div v-for="item in secondaryMenu" :key="item.id" class="menu__item" @click="item.action">
        <base-icon v-if="item.icon" class="menu__icon" :name="item.icon"></base-icon
        ><span class="menu__text">{{ item.name }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

import { useUserStore } from '@/stores/userStore';

import BaseIcon from './BaseIcon.vue';
import logoUrl from '@/assets/images/salogo.svg';

const { t } = useI18n();
const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const goTo = (name: string) => router.push({ name });

const logout = async () => {
  await userStore.logout();
  router.push({ name: 'login' });
};

interface MenuItem {
  id: string;
  icon: string | null;
  isVisible: boolean;
  name: string;
  url: { name: string };
}

const isActive = (item: MenuItem) => {
  const pattern = `^/${item.id}`;
  const re = new RegExp(pattern, 'gm');

  return re.test(route.path);
};

const menu = ref<MenuItem[]>([
  {
    id: 'report',
    icon: null,
    isVisible: true,
    name: t('menu.report'),
    url: { name: 'report' },
  },
]);

const secondaryMenu = ref([
  {
    id: 'user',
    icon: null,
    isVisible: true,
    name: userStore.profile?.email ?? t('common.user'),
    url: null,
    // eslint-disable-next-line @typescript-eslint/no-empty-function
    action: () => {},
  },
  {
    id: 'logout',
    icon: 'ic_exit',
    isVisible: true,
    name: null,
    url: null,
    action: logout,
  },
]);
</script>

<style lang="scss" scoped>
.navbar {
  position: fixed;
  z-index: $zindex-header;

  display: flex;
  align-items: center;
  gap: 2.5rem;

  width: 100%;
  padding: 0 3rem;
  height: 4rem;

  background: $color-gray-800;

  &__menu {
    margin-right: auto;
  }
}

.menu {
  display: flex;
  gap: 0.5rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.325rem;

    height: 2.625rem;
    padding: 0rem 1rem;

    color: $color-gray-300;

    @include font-mobile();

    border-radius: 0.25rem;

    &_active {
      color: white;
      background: $color-gray-900;
    }

    &:hover {
      cursor: pointer;
      color: white;
      background: $color-gray-700;
    }
  }
}
</style>
