<template>
  <div class="sidepanel" :class="[isArticleHidden && 'sidepanel_hidden']">
    <router-view :key="route.meta.key"></router-view>
    <BaseButtonCollapse float :icon="btnCollapseIcon" class="sidepanel__btn-close" @click="toggleSidepanel" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useRoute } from 'vue-router';

import BaseButtonCollapse from '@/components/BaseButtonCollapse.vue';

const route = useRoute();

const isArticleHidden = ref(false);

const btnCollapseIcon = computed(() => {
  return isArticleHidden.value ? 'right' : 'left';
});

const toggleSidepanel = () => {
  isArticleHidden.value = !isArticleHidden.value;
};
</script>

<style lang="scss" scoped>
@use 'sass:math';
.sidepanel {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: $zindex-sidepanel;

  background: $color-white;
  transition: all linear 0.5s;

  @include respond($breakpoint-mobile) {
    width: auto;
    min-width: auto;
  }

  &_hidden {
    position: absolute;
    right: 100%;
  }

  &__btn-close {
    display: none;
    @include respond($breakpoint-mobile) {
      display: flex;
      position: absolute;
      right: -1.5rem;
      top: 0.5rem;
      z-index: -1;
    }
  }
}
</style>
