<template>
  <div class="tapbar">
    <div :class="['tapbar__item', findActive('root') && 'active']" @click="goTo('root')">
      <div class="tapbar__icon-wrapper">
        <BaseIcon name="ic_mountains" width="24" class="tapbar__icon" />
      </div>
      <span class="tapbar__descrition">{{ $t('common.main') }}</span>
    </div>
    <div :class="['tapbar__item', findActive('report-create') && 'active']" @click="goTo('report-create')">
      <div class="tapbar__icon-wrapper">
        <BaseIcon name="ic_create" width="24" class="tapbar__icon" />
      </div>

      <span class="tapbar__descrition">{{ $t('reports.create') }}</span>
    </div>
    <ProfileSidePanel>
      <template #default="{ toggle }">
        <div :class="['tapbar__item', findActive('profile') && 'active']" @click="toggle">
          <div class="tapbar__icon-wrapper">
            <BaseIcon name="ic_profile" width="24" class="tapbar__icon" />
          </div>
          <span class="tapbar__descrition">{{ $t(`common.profile`) }}</span>
        </div>
      </template>
    </ProfileSidePanel>
  </div>
</template>

<script setup lang="ts">
import BaseIcon from './BaseIcon.vue';
import { useRouter } from 'vue-router';
import ProfileSidePanel from './profile/ProfileSidePanel.vue';

const router = useRouter();

const goTo = (name: string) => {
  router.push({ name });
};

const findActive = (name: string | undefined) => router.currentRoute.value.name === name;
</script>

<style lang="scss" scoped>
.tapbar {
  width: 100%;
  min-height: 3.5rem;
  height: 3.5rem;

  background: $color-gray-50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include respond($breakpoint-mobile) {
    display: none;
  }
  &__descrition {
    @include font-mobile(600);
    color: $color-gray-500;
  }
  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    &:hover,
    &.active {
      .tapbar__icon-wrapper {
        background-color: $color-blue-100;
        border-radius: 1rem;
      }
      .tapbar__descrition {
        color: $color-gray-700;
      }
      .tapbar__icon {
        color: $color-gray-700;
      }
    }
  }
  &__icon {
    color: $color-gray-500;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    min-width: 4rem;
    padding: 0.25rem 1.25rem;
  }
}
</style>
