<template>
  <teleport to="body">
    <div v-if="isOpen" class="toast">
      <div v-for="({ message, type }, index) in messageList" :key="index" class="toast__message">
        <BaseIcon
          v-if="iconName(type)"
          :class="['toast__icon', `toast__icon_type_${type}`]"
          :name="iconName(type)"
          width="20"
          @click="close(message)"
        />
        <div class="toast__text">{{ message }}</div>
        <BaseIcon class="toast__close" name="ic_close" @click="close(message)" />
      </div>
    </div>
  </teleport>
</template>

<script setup lang="ts">
import BaseIcon from './BaseIcon.vue';
import { useToast, ToastType } from '@/composable/useToast';

const { isOpen, messageList, close } = useToast();

const iconName = (type: ToastType | undefined) => {
  switch (type) {
    case ToastType.SUCCESS:
      return 'ic_toast_success';
    case ToastType.ERROR:
      return 'ic_toast_error';
    case ToastType.INFO:
      return 'ic_toast_info';
    default:
      return '';
  }
};
</script>

<style lang="scss" scoped>
.toast {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: $zindex-notifications;

  right: 0.5rem;
  bottom: 0;

  &__message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    width: 420px;
    height: 3rem;

    padding: 14px;
    margin-bottom: 0.5rem;

    color: $color-white;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: rgba(31, 41, 55, 0.95);

    border-radius: 6px;

    @include font-body-16();
    animation: slide-up 0.4s ease;
  }

  &__text {
    margin-right: auto;
  }

  &__close {
    cursor: pointer;
    color: $color-gray-400;
  }

  &__icon {
    &_type_success {
      color: $color-green-500;
    }

    &_type_error {
      color: $color-red-500;
    }

    &_type_info {
      color: $color-purple-500;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
