<template>
  <base-button :kind="kind" class="upload__button">
    <input ref="input" class="upload__input" type="file" :accept="accept.join(',')" @change="onChange" />
    <slot></slot>
  </base-button>
</template>

<script>
import BaseButton from './BaseButton.vue';

export default {
  name: 'UploadButton',
  components: { BaseButton },
  props: {
    accept: {
      type: Array,
      default: () => ['application/pdf'],
    },
    kind: {
      type: String,
      default: 'outline',
    },
  },
  emits: ['change'],
  methods: {
    onChange() {
      const formData = new FormData();
      // eslint-disable-next-line no-restricted-syntax
      for (const file of this.$refs.input.files) {
        formData.append('file', file);
      }
      this.$refs.input.value = null;
      this.$emit('change', formData);
    },
  },
};
</script>

<style lang="scss" scoped>
.upload {
  &__button {
    position: relative;
    overflow: hidden;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
    transform: translate(-25%, -25%);
  }
}
</style>
