<template>
  <div class="app">
    <main v-if="!routeNotfound" class="app__main">
      <TheSidepanel v-if="showAside" />
      <MapIndex />
    </main>
    <router-view :key="routeKey" name="notfound" />
    <TheToast />
    <TheTapBar class="app__tapbar" />
    <TheModalContainer />
  </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import { watch, ref, computed, onErrorCaptured } from 'vue';

import { useUserStore } from '@/stores/userStore';
import { useReportStore } from '@/stores/reportStore';

import MapIndex from '@/views/map/MapIndex.vue';
import TheToast from '@/components/TheToast.vue';
import TheModalContainer from '@/components/TheModalContainer.vue';
import TheSidepanel from '@/components/TheSidepanel.vue';

import { useErrorHandler } from '@/composable/useErrorHandler';

import { setupAPI } from '@/services/api/http';
import config from '@/config';
import TheTapBar from './components/TheTapBar.vue';

const userStore = useUserStore();
const reportStore = useReportStore();
const route = useRoute();
const routeKey = ref(route.meta.key);
const { errorHandler } = useErrorHandler();

const routeNotfound = computed(() => {
  return 'notfound' in route.meta ?? true;
});

const showAside = computed(() => route.name !== 'root');

watch(
  () => userStore.apiToken,
  () => {
    setupAPI(config.apiConfig.baseUrl, userStore.apiToken, userStore.currentLanguage);
  },
  { immediate: true },
);

reportStore.fetchAll();

// FIXME: verify token validity here.

onErrorCaptured(errorHandler);
</script>

<style lang="scss" scoped>
@use 'sass:math';
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $color-white;

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 3.5rem;

    @include respond($breakpoint-mobile) {
      padding: 0;
    }
  }

  &__tapbar {
    position: fixed;
    bottom: 0;
    z-index: $zindex-tab-bar;
  }
}
</style>
