<template>
  <div class="map-report-popup" @click.stop="open">
    <div class="map-report-popup__handle">
      <div class="map-report-popup__handle-touch"></div>
    </div>
    <div class="map-report-popup__header">
      <span class="map-report-popup__author">{{ account.name }}</span>
      <BasePoint />
      <span class="map-report-popup__author-role">{{ account.role }}</span>
      <BasePoint />
      <span class="map-report-popup__modify-date">{{ dateModifyFormatted }}</span>
    </div>
    <div class="map-report-popup__title">{{ report.name }}</div>
    <div class="map-report-popup__location-wrapper">
      <div class="map-report-popup__date">
        <BaseIcon name="ic_calendar" class="map-report-popup__icon" />
        <span>{{ dateFormatted }}</span>
      </div>
      <div class="map-report-popup__location">
        <BaseIcon name="ic_location" class="map-report-popup__icon" />
        <span>{{ report.latitude }}{{ '&#176;' }} , {{ report.longitude }}{{ '&#176;' }} </span>
      </div>
    </div>
    <div class="map-report-popup__tags">
      <BaseLabelTag v-for="tag in activeReportTags" :key="tag.key" :title="tag.title" :theme="tag.theme" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import { ReportPreview, ReportTypes, ReportTypesEnum } from '@/types/Report';
import { formatDate } from '@/filters/date';
import BaseIcon from '@/components/BaseIcon.vue';
import BaseLabelTag from '@/components/BaseLabelTag.vue';
import BasePoint from '@/components/BasePoint.vue';
import { Account } from '@/types/Account';

const router = useRouter();
const { t } = useI18n();

// FIXME: make composable, a lot of repeats
const props = defineProps<{ report: ReportPreview }>();
const dateModifyFormatted = computed(() => formatDate(props.report.dateAndTime ?? '', 'dd.MM.yyyy'));
const dateFormatted = computed(() => formatDate(props.report.dateAndTime, 'dd MMMM yyyy'));
const account = computed<Account>(() => {
  // TODO: https://github.com/mapbox/mapbox-gl-js/issues/2434 the reason of JSON.parse
  return JSON.parse((props.report?.account as string | undefined) ?? '{"name":"", "role":""}');
});

const reportTypeTags: { key: ReportTypesEnum; title: string; theme: string }[] = [
  { key: ReportTypesEnum.quickReport, title: t(`reports.type.${ReportTypesEnum.quickReport}`), theme: 'green' },
  {
    key: ReportTypesEnum.avalancheReport,
    title: t(`reports.type.${ReportTypesEnum.avalancheReport}`),
    theme: 'purple',
  },
  { key: ReportTypesEnum.snowpackReport, title: t(`reports.type.${ReportTypesEnum.snowpackReport}`), theme: 'blue' },
  { key: ReportTypesEnum.weatherReport, title: t(`reports.type.${ReportTypesEnum.weatherReport}`), theme: 'orange' },
  { key: ReportTypesEnum.incidentReport, title: t(`reports.type.${ReportTypesEnum.incidentReport}`), theme: 'red' },
];

const activeReportTags = reportTypeTags.filter(x => props.report[x.key as ReportTypes]);
const open = () => {
  router.push({ name: 'report-view', params: { id: props.report.id } });
};
</script>

<style lang="scss" scoped>
.map-report-popup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 330px;

  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  background: $color-white;

  @include respond($breakpoint-mobile) {
    border-radius: 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &__header {
    display: flex;
    gap: 0.5rem;
    display: flex;
    align-items: center;

    @include font-caption();
    color: $color-gray-500;
  }

  &__author-role {
    text-align: center;

    color: $color-white;
    background: $color-green-600;
    padding: 2px 6px;
    border-radius: 1.5rem;

    @include font-mobile(600);
  }

  &__title {
    @include font-body-16(600);

    @include respond($breakpoint-mobile) {
      @include font-body-14(600);
    }
  }

  &__date,
  &__location {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include font-body-14();

    @include respond($breakpoint-mobile) {
      color: $color-gray-500;
      @include font-caption();
    }
  }

  &__location-wrapper {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }

  &__icon {
    color: $color-gray-400;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding-bottom: 0.5rem;

    @include respond($breakpoint-mobile) {
      padding-bottom: 0;
    }
  }

  &__handle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;

    @include respond($breakpoint-mobile) {
      display: none;
    }
  }

  &__handle-touch {
    height: 0.25rem;
    width: 4rem;
    background-color: $color-gray-300;
    border-radius: 0.5rem;
  }
}
</style>
